﻿@{ 

}
<style>
    button{
          line-height:40px!important;
          padding:0 10px!important;
          border:none!important;
          margin:0!important
    }
    .x_panel{
        margin:0!important;
        padding:0!important;
    }
    .row-fluid.boox {
        /*background-color:#f1f2f7;*/
    }.row-fluid.boox .todo{
        background-color:white;
        padding:5px 10px;
        padding-bottom:15px;
        margin-bottom:30px;
        border-radius:3px;
    }
     .todo1.todo{
         margin-left:0;
     }
     .title{
         border-bottom:2px solid #2b2a2a;
         margin-bottom:10px;
     }
     .bodys div{
         height:30px;
         line-height:30px;
     }
     .bodys{
         border-bottom:1px #7a7a7a dashed ;
         margin-left:0!important;
     }

  
</style>

    <h2 class="headline">信访人信息</h2>


    <div class="row-fluid boox" id="new">
        <div class="span6 todo">
            <div class="span12 title">
                <div class="span6">
                    <h5>案件包案信息</h5>
                </div>
                <div class="span6">
                    <button type="button" class="btn btn-link pull-right">更多 >></button>
                </div>
            </div>

            <div class="span12 bodys">

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>案件编号</th>
                            <th>诉求标题</th>
                            <th>诉求人</th>
                        </tr>
                    </thead>
                    <tbody id="tbodystr1"></tbody>
                </table>
                <div id="data-pager1">

                </div>
            </div>

        </div>

        <div class="span6 todo">
            <div class="span12 title">
                <div class="span6 ">
                    <h5>党政领导接访信息</h5>
                </div>
                <div class="span6 ">
                    <button type="button" class="btn btn-link pull-right">更多 >></button>
                </div>
            </div>
            <div class="span12 bodys">

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>案件编号</th>
                            <th>诉求标题</th>
                            <th>诉求人</th>
                        </tr>
                    </thead>
                    <tbody id="tbodystr2"></tbody>
                </table>
                <div id="data-pager2">

                </div>
            </div>

        </div>

        <div class="span6 todo todo1">
            <div class="span12 title">
                <div class="span6">
                    <h5>领导约下访信息</h5>
                </div>
                <div class="span6">
                    <button type="button" class="btn btn-link pull-right">更多 >></button>
                </div>
            </div>
            <div class="span12 bodys">

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>案件编号</th>
                            <th>诉求标题</th>
                            <th>诉求人</th>
                        </tr>
                    </thead>
                    <tbody id="tbodystr3"></tbody>
                </table>
                <div id="data-pager3">

                </div>
            </div>

        </div>

        <div class="span6 todo">
            <div class="span12 title">
                <div class="span6 ">
                    <h5>进京/赴省信息</h5>
                </div>
                <div class="span6 ">
                    <button type="button" class="btn btn-link pull-right">更多 >></button>
                </div>
            </div>
            <div class="span12 bodys">

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>案件编号</th>
                            <th>诉求标题</th>
                            <th>诉求人</th>
                        </tr>
                    </thead>
                    <tbody id="tbodystr4"></tbody>
                </table>
                <div id="data-pager4">

                </div>
            </div>
    
        </div>
    </div>
    <script>
         $.ajax({
            method: 'post',
            url: "@Url.Action("GetPackageCase", "Home")",
            cache: false,
            async: true,
            crossDomain: true,
            timeout: 20000,
            success: function (data) {
                $('#tbodystr1').empty().html(data);
                if($('#total1').text() == 0){
                    $('#tbodystr1').empty().append('<tr><td colspan="10">暂无信息</td></tr>')
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $('#tbodystr1').empty().append('<tr><td colspan="4">抱歉，出了点意外状况</td></tr>');
                $('#data-pager1').empty();
            }
        });

         $.ajax({
            method: 'post',
            url: "@Url.Action("GetLeaderMeeting", "Home")",
            cache: false,
            async: true,
            crossDomain: true,
            timeout: 20000,
            success: function (data) {
                $('#tbodystr2').empty().html(data);
                if($('#total2').text() == 0){
                    $('#tbodystr2').empty().append('<tr><td colspan="10">暂无信息</td></tr>')
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $('#tbodystr2').empty().append('<tr><td colspan="4">抱歉，出了点意外状况</td></tr>');
            }
        });

        $.ajax({
            method: 'post',
            url: "@Url.Action("GetLeaderReservation", "Home")",
            cache: false,
            async: true,
            crossDomain: true,
            timeout: 20000,
            success: function (data) {
                $('#tbodystr3').empty().html(data);
                if($('#total3').text() == 0){
                    $('#tbodystr3').empty().append('<tr><td colspan="10">暂无信息</td></tr>')
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $('#tbodystr3').empty().append('<tr><td colspan="4">抱歉，出了点意外状况</td></tr>');
            }
        });


    function createTable(number) {
        pageindex = number;
        var number = $('#number').val();
            $.ajax({
                method: 'post',
                url: "@Url.Action("GetPackageCase", "Home")",
                cache: false,
                async: true,
                crossDomain: true,
                timeout: 20000,
                success: function (data) {
                $('#tbodystr1').empty().html(data);
                if($('#total').text() == 0){
                    $('#tbodystr1').empty().append('<tr><td colspan="10">暂无信息</td></tr>')
                    $('#data-pager1').empty()
                }
                else
                {
                    var html2 = customPaging(pageindex, pagesize, $('#total').text());
                    $('#data-pager1').empty().append(html2);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $('#tbodystr1').empty().append('<tr><td colspan="4">抱歉，出了点意外状况</td></tr>');
                $('#data-pager1').empty();
            }
        });
    }
    </script>


    
   
    







