﻿@using Model
@model BergabeModel
@{
    ViewBag.Title = "LetterList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currentUser = Session["CurrentUser"] as Model.t_User;
}

<h2 class="headline">上级转送件</h2>
<div class="row-fluid">
    <div class="span12">
        <div class="x_panel">
            <div class="row-fluid">
                <div class="span12" style="position:relative;">
                    <div class="span8">
                        <div class="dataTables_length" id="datatable_length">
                            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal" onclick="AddModal()">新增转送记录</button>
                        </div>
                    </div>
                    @*<div class="span2" style="position:relative;z-index:1;margin-left: 8.5%;">
                        <input id="petitionnum" type="text" class="span12 " placeholder="案件编号">
                    </div>
                    <div class="span2" style="position:relative;z-index:1">
                        <input id="appealtitle" type="text" class="span12 " placeholder="诉求标题">
                    </div>*@
                    <div class="span2" style="position:relative;z-index:1;margin-left: 8.5%;">
                        <input id="petitionname" type="text" class="span12 " placeholder="信访人">
                    </div>
                    @*<div class="span1">
                        <select id="BergabeTypeId" class="span12 form-control" data-val="true" name="TransactType" required="required">
                            <option value="99">转送时限</option>
                            <option value="0">及时受理</option>
                            <option value="1">按时答复</option>
                        </select>
                    </div>*@
                    <div class="span2" style="position:absolute;z-index:0;right:0">
                        <button class="btn btn-primary " type="button" onclick="clearSearch()" style="float:right">清除</button>
                        <button class="btn btn-primary " type="button" onclick="search()" style="float:right">搜索</button>
                    </div>
                </div>
            </div>

            <div class="x_content">

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>信访人</th>
                            <th>身份证号</th>
                            <th>地址</th>
                            <th>内容</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody id="tbodystr"></tbody>
                    
                </table>
                <div id="data-pager">
                   
                </div>
            </div>
        </div>
    </div>
</div>


<div class="clearfix"></div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">新增转送件记录</h4>
            </div>
            @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal form-label-left", @Id = "demoForm" }))
            {
                <div class="modal-body">
                    <div class="row-fluid">
                        <div class="form-group hidden">
                            <div class="span4">
                                <label for="ID" class="modal-label">ID</label>
                            </div>
                            <div class="span6">
                                @*@Html.TextBoxFor(n => n.UserId, new { @Id = "ID", @class = "span12" })*@
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="form-group">
                            <div class="span4">
                                <label for="selectNumber" class="modal-label"><span class="required">*</span>案件</label>
                            </div>
                            <div class="span6">
                                @Html.TextBoxFor(n => n.AppealNumber, new { @Id = "searchAuto", @class = "span12 form-control", autocomplete = "off", placeholder = "请输入信访人姓名", @onblur = "searchNum()" })
                                <ul class="parsley-errors-list-err filled" id="parsley-id-3" style="display: none"><li class="parsley-required">案件不存在或为空</li></ul>
                                <input type='text' class="hidden" id="Num" data-parsley-checknum data-parsley-checknum-message="案件不存在或为空" />
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="form-group">
                            <div class="span4">
                                <label for="Postion" class="modal-label"><span class="required">*</span>转送时限</label>
                            </div>
                            <div class="span6">
                                <select id="BergabeType" name="BergabeType" class="span12" required="required">
                                    <option value="0">及时受理</option>
                                    <option value="1">按时答复</option>
                                </select>
                                @*@Html.TextBoxFor(n => n.UserPosition, new { @Id = "Postion", @class = "span12 form-control", @required = "required", @placeholder = "请输入职务" })*@
                            </div>
                        </div>
                    </div>
                    
                    <div class="row-fluid">
                        <div class="form-group">
                            <div class="span4">
                                <label for="password1" class="modal-label"><span class="required">*</span>日期</label>
                            </div>
                            <div class="span6">
                                @Html.TextBoxFor(s => s.BergabeDate, new { @Id = "BergabeDate",  @class = "span12 jedate", @readonly = "readonly", placeholder = "年/月/日", @style = "cursor: default", @required = "required" })
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid" style="margin-top:12px">
                        <div class="form-group">
                            <div class="span4">
                                <label for="Comment" class="modal-label">办理情况</label>
                            </div>
                            <div class="span6">
                                @Html.TextAreaFor(n => n.TransactDetails, new { @Id = "TransactDetails", @class = "form-control span12 txt-overflow", @rows = "4"})
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid" style="margin-top:12px">
                        <div class="form-group">
                            <div class="span4">
                                <label for="Comment" class="modal-label">调查情况</label>
                            </div>
                            <div class="span6">
                                @Html.TextAreaFor(n => n.SurveyDetails, new { @Id = "SurveyDetails", @class = "form-control span12 txt-overflow", @rows = "4"})
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid" style="margin-top:12px">
                        <div class="form-group">
                            <div class="span4">
                                <label for="Comment" class="modal-label">处理情况</label>
                            </div>
                            <div class="span6">
                                @Html.TextAreaFor(n => n.DisposeDetails, new { @Id = "DisposeDetails", @class = "form-control span12 txt-overflow", @rows = "4"})
                            </div>
                        </div>
                    </div>
                
                  
                 
                    <div class="row-fluid" style="margin-top:12px">
                        <div class="form-group">
                            <div class="span4">
                                <label for="ReceptionDate" class="modal-label">相关附件</label>
                            </div>
                            <div class="span6">
                                @Html.TextBoxFor(n => n.FileName, new { @id = "fileTxt", @class = "form-control span8", @readonly = "readonly"})
                                <button id="fileBtn" type="button" class="btn btn-primary" style="float:right;margin:0">选择文件</button>
                                <input id="input-4" name="input4[]" type="file" multiple class="file-loading">
                                </div>
                        </div>
                    </div>
                </div>
                <input class="hidden" value="0" data-parsley-checkdelaytime />
                <div class="modal-footer">
                    <input id="status" class="hidden" />
                    <button class="btn btn-primary" onclick="return SubmitBtn()">保存</button>
                    <button type="button" class="btn btn-gray" data-dismiss="modal">关闭</button>
                </div>
            }

        </div>
    </div>
</div>

<script>
    var start1 = {
        //isinitVal: true,
        initAddVal: [-1],
        format: 'YYYY-MM-DD',
        maxDate: '2099-12-31 23:59:59', //最大日期为当前日期
        choosefun: function (val) {
            var thisId = $('#BergabeDate');
            if (thisId.val() != "") {
                thisId.removeClass('parsley-error').next().hide();
            }
        },
        okfun: function (val) {
            var thisId = $('#BergabeDate');
            if (thisId.val() != "") {
                thisId.removeClass('parsley-error').next().hide();
            }
        }
    };
    window.Parsley
     .addValidator('checkdelaytime', {
         validateString: function (value) {
             $('#demoForm .parsley-errors-list').show();
             return true;
         }
     });
    window.Parsley
        .addValidator('checknum', {
            validateString: function (value) {
                if (value == 0) {
                    $('#searchAuto').addClass("parsley-error");

                    return false;

                }
                return true;
            }
        });
    $(function () {
        createTable(1);
        $('#searchAuto').attr({ 'data-provide': "typeahead" })
        $("#searchAuto").typeahead({
            source: function (query, process) {
                console.info("query" + query)
                return $.ajax({
                    url: '@Url.Action("GetNumTitle", "Auto")',
                    type: 'post',
                    data: { appealNumber: query },
                    success: function (result) {
                        var resultObj = JSON.parse(result.Message);
                        searchLen = resultObj;
                        return process(resultObj);
                    },
                });
            }
        });
        initFileInput("input-4");
        $('.file-input').hide();
    })
    $('#fileBtn').click(function () {
        $('.fileinput-remove').click();
        $('#input-4').click().change(function () {
            var val = $('#input-4').val();
            var arr = val.split('\\');
            var my = arr[arr.length - 1];
            if (val.length == 0) {
                $('#fileBtn').val('选择文件');
            } else {
                $('#fileTxt').val(my);
            }
        })
    })
    function searchNum() {
        var val = $('#searchAuto').val();
        $.ajax({
            method: 'post',
            url: "@Url.Action("NoTransactStatus", "Auto")",
            data: {
                "appealNumber": val
            },
        cache: false,
        async: true,
        crossDomain: true,
        timeout: 20000,
        success: function (data) {
            if (data.Status == 1) {
                $("#myModal").modal("hide");
                alertModal('提示！', data.Message);
            }
            else {
                var a = $.inArray(val, searchLen);
                if (searchLen.length == 0 && a == -1) {
                    $('#Num').val(0);
                    $('#searchAuto').addClass("parsley-error");
                    $('#parsley-id-3').show();
                    $('#parsley-id-7').hide();
                } else {
                    $('#searchAuto').removeClass("parsley-error");
                    $('#parsley-id-3').hide();
                    $('#parsley-id-7').hide();
                }
            }
        },
        error: function (jqXHR, textStatus, errorThrown) {
        }
    });
       
    }

    var searchLen;
    var pagesize = 15;
    var pageindex = 1;

    function createTable(number) {
        debugger
        pageindex = number;
        //var petitionnum = $('#petitionnum').val();
        var petitionname = $('#petitionname').val();
        if (!petitionname.length) {
            $.ajax({
                method: 'post',
                url: "@Url.Action("GetCaseInfo", "Bergabe")",
                data: {
                    "pageindex": pageindex,
                    "pagesize": pagesize
                },
                cache: false,
                async: true,
                crossDomain: true,
                timeout: 20000,
                success: function (data) {
                    //$('#tbodystr').empty();
                    $('#tbodystr').empty().html(data);
                    if ($('#total').text() == 0) {
                        $('#tbodystr').empty().append('<tr><td colspan="6">暂无信息</td></tr>')
                        $('#data-pager').empty()
                    }
                    else {
                        var html2 = customPaging(pageindex, pagesize, $('#total').text());

                        $('#data-pager').empty().append(html2);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $('#tbodystr').empty().append('<tr><td colspan="6">抱歉，出了点意外状况</td></tr>');
                    $('#data-pager').empty();
                    //closeLoading();
                }
            });
        }
        else {
            $.ajax({
                method: 'post',
                url: "@Url.Action("QueryCaseInfoList", "Bergabe")",
                data: {
                    "pageindex": pageindex,
                    "pagesize": pagesize,
                    "petitionname": petitionname
                },
                cache: false,
                async: true,
                crossDomain: true,
                timeout: 20000,
                success: function (data) {
                    $('#tbodystr').empty().html(data);
                    if ($('#total').text() == 0) {
                        $('#tbodystr').empty().append('<tr><td colspan="6">暂无信息</td></tr>')
                        $('#data-pager').empty()
                    }
                    else {
                        var html2 = customPaging(pageindex, pagesize, $('#total').text());

                        $('#data-pager').empty().append(html2);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $('#tbodystr').empty().append('<tr><td colspan="6">抱歉，出了点意外状况</td></tr>');
                    $('#data-pager').empty();
                    //closeLoading();
                }
            });
        }
    }
    function AddModal() {
        $('#searchAuto').val(""); 
        $('#BergabeDate').val("");
        $('#TransactDetails').val("");
        $('#SurveyDetails').val("");
        $('#DisposeDetails').val("");
        $('#fileTxt').val("");

        $('#demoForm .parsley-error').removeClass('parsley-error');
        $('#demoForm .parsley-errors-list').hide();

    }
        function SubmitBtn() {
            var val = $('#searchAuto').val();
            var a = $.inArray(val, searchLen);
            if (a == -1) {
                $('#Num').val(0);
            } else {
                $('#Num').val("");
            }
            $('#parsley-id-3').hide();
            if ($('#demoForm').parsley().isValid()) {
                //添加
                if ($('#fileTxt').val().length) {
                    $('.fileinput-upload.fileinput-upload-button').click();
                } else {
                    $.ajax({
                        cache: true,
                        type: "POST",
                        url: "@Url.Action("BergabeAdd", "Bergabe")",
                        data: $('#demoForm').serialize(),// 你的formid
                    async: false,
                    error: function (request) {
                        alert("Connection error");
                    },
                    success: function (data) {
                        $("#myModal").modal("hide");
                        alertModal('提示！', data.Message);
                        createTable(1);
                    }
                });
                }
                return false;
            }
        }

    function search() {
        //var petitionnum = $('#petitionnum').val();
        var petitionname = $('#petitionname').val();
        if (petitionname.length) {
            createTable(1);
        } else {
            createTable(1);
        }
        return false;
    }

    function initFileInput(ctrlName) {
        var url = "@Url.Action("UpFiles", "Base")";

        var control = $('#' + ctrlName);
        control.fileinput({
            language: 'zh', //设置语言
            uploadUrl: url, //上传的地址
            uploadExtraData: { "name": "input4[]" },
            uploadAsync: true, //默认异步上传
            showUpload: true, //是否显示上传按钮
            showRemove: true, //显示移除按钮
            showPreview: false, //是否显示预览
            showCaption: false,//是否显示标题
            dropZoneEnabled: false,//是否显示拖拽区域
            maxFileSize: 10240,//单位为kb，如果为0表示不限制文件大小
            maxFileCount: 1, //表示允许同时上传的最大文件个数
        }).on("fileuploaded", function (event, data) {    //一个文件上传成功
            console.log('文件上传成功！' + data.Message);
            $('#fileTxt').val(data.response.Message);
            $.ajax({
                cache: true,
                type: "POST",
                url: "@Url.Action("BergabeAdd", "Bergabe")",
                data: $('#demoForm').serialize(),// 你的formid
                async: false,
                error: function (request) {
                    alert("Connection error");
                },
                success: function (data) {
                    $("#myModal").modal("hide");
                    alertModal('提示！', data.Message);
                    createTable(1);
                }
            });
        }).on('fileerror', function (event, data, msg) {  //一个文件上传失败
            alertModal('提示！', '文件上传失败');
        })
    }

    function clearSearch() {
        $('#petitionname').val("");

        createTable(1);
    }
</script>

