﻿@using Model
@model BergabeModel
@{
    ViewBag.Title = "LetterList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int ID = ViewData.GetInt("ID");
}

<h2 class="headline">转送件记录</h2>
<div class="row-fluid">
    <div class="span12">
        <div class="x_panel">
            <div class="row-fluid">
                <div class="span12" style="position:relative">
                    <div class="span8">
                        <div class="dataTables_length" id="datatable_length">
                            @*<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal" onclick="AddModal()">新增转送记录</button>*@
                        </div>
                    </div>
                    <div class="span2" style="position:relative;z-index:1;margin-left: 8.5%;">
                        <select id="BergabeTypeSId" class="span12 form-control" data-val="true" name="TransactType">
                            <option value="99">全部</option>
                            <option value="0">及时受理</option>
                            <option value="1">按时答复</option>
                        </select>
                    </div>
                    @*<div class="span1 ">
                            <input class="span12 jedate" data-val="true" id="startDate" name="CheckingDate" placeholder="开始日期" readonly="readonly" style="cursor: default" type="text" value="">
                        </div>
                        <div class="span1 " style="position: relative;z-index: 1;">
                            <input class="span12 jedate" data-val="true" id="endDate" name="CheckingDate" placeholder="结束日期" readonly="readonly" style="cursor: default" type="text" value="">
                        </div>*@
                    <div class="span2" style="position:absolute;z-index:0;right:0">
                        <button class="btn btn-primary " type="button" onclick="clearSearch()" style="float:right">清除</button>
                        <button class="btn btn-primary " type="button" onclick="search()" style="float:right">搜索</button>
                    </div>
                </div>
                
            </div>

            <div class="x_content">

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>转送时限</th>
                            <th>转送日期</th>
                            <th>办理情况</th>
                            <th>调差情况</th>
                            <th>处理意见</th>
                            <th>相关附件</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody id="tbodystr"></tbody>
                    
                </table>
                <div id="data-pager">
                   
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal form-label-left", @Id = "demoForm" }))
            {
                <div class="modal-body">
                    <div class="row-fluid">
                        <div class="form-group hidden">
                            <div class="span4">
                                <label for="ID" class="modal-label">ID</label>
                            </div>
                            <div class="span6">
                                @Html.TextBoxFor(n => n.ID, new { @Id = "ID", @class = "span12" })
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="form-group">
                            <div class="span4">
                                <label for="selectNumber" class="modal-label"><span class="required">*</span>案件</label>
                            </div>
                            <div class="span6">
                                @Html.TextBoxFor(n => n.AppealNumber, new { @Id = "searchAuto", @class = "span12 form-control",@disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="form-group">
                            <div class="span4">
                                <label for="BergabeTypeID" class="modal-label"><span class="required">*</span>转送时限</label>
                            </div>
                            <div class="span6">
                                <select id="BergabeTypeID" name="BergabeType" class="span12 form-control" required="required">
                                    <option value="0">及时受理</option>
                                    <option value="1">按时答复</option>
                                </select>
                                @*@Html.TextBoxFor(n => n.UserPosition, new { @Id = "Postion", @class = "span12 form-control", @required = "required", @placeholder = "请输入职务" })*@
                            </div>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="form-group">
                            <div class="span4">
                                <label for="BergabeDate" class="modal-label"><span class="required">*</span>日期</label>
                            </div>
                            <div class="span6">
                                @Html.TextBoxFor(s => s.BergabeDate, new { @Id = "BergabeDate", @class = "form-control span12 jedate", @readonly = "readonly", placeholder = "年/月/日", @style = "cursor: default" })
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid" style="margin-top:12px">
                        <div class="form-group">
                            <div class="span4">
                                <label for="TransactDetails" class="modal-label">办理情况</label>
                            </div>
                            <div class="span6">
                                @Html.TextAreaFor(n => n.TransactDetails, new { @Id = "TransactDetails", @class = "form-control span12 txt-overflow", @rows = "4" })
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid" style="margin-top:12px">
                        <div class="form-group">
                            <div class="span4">
                                <label for="SurveyDetails" class="modal-label">调查情况</label>
                            </div>
                            <div class="span6">
                                @Html.TextAreaFor(n => n.SurveyDetails, new { @Id = "SurveyDetails", @class = "form-control span12 txt-overflow", @rows = "4" })
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid" style="margin-top:12px">
                        <div class="form-group">
                            <div class="span4">
                                <label for="DisposeDetails" class="modal-label">处理情况</label>
                            </div>
                            <div class="span6">
                                @Html.TextAreaFor(n => n.DisposeDetails, new { @Id = "DisposeDetails", @class = "form-control span12 txt-overflow", @rows = "4" })
                            </div>
                        </div>
                    </div>


                    
                    <div id="FileNameID" class="row-fluid" style="margin-top:12px">
                        <div class="form-group">
                            <div class="span4">
                                <label for="FileName" class="modal-label">相关附件</label>
                            </div>
                            <div class="span6">
                                @Html.TextBoxFor(n => n.FileName, new { @id = "fileTxt", @class = "form-control span8", @readonly = "readonly" })
                                <button id="fileBtn" type="button" class="btn btn-primary" style="float:right;margin:0">选择文件</button>
                                <input id="input-4" name="input4[]" type="file" multiple class="file-loading">
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid" >
                        <div class="form-group">
                            <div class="span4">
                                <label id="seeFileName" class="modal-label"></label>
                            </div>
                            <div class="span6">
                                <label id="down" style="cursor: default"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input id="status" class="hidden" />
                    <button id="save" class="btn btn-primary" onclick="return SubmitBtn()">保存</button>
                    <button type="button" class="btn btn-gray" data-dismiss="modal">关闭</button>
                </div>
            }

        </div>
    </div>
</div>

<script>
    window.Parsley
        .addValidator('checkdelaytime', {
            validateString: function (value) {
                $('#demoForm .parsley-errors-list').show();
                return true;//校验不通过,会将data-parsley-checkdelaytime-message对应的信息输出
            }
        });

    window.Parsley
    .addValidator('checknum', {
        validateString: function (value) {
            if (value == 0) {
                $('#searchAuto').addClass("parsley-error");

                return false;//校验不通过,会将data-parsley-checkdelaytime-message对应的信息输出

            }
            return true;
        }
    });
    $(function () {
        createTable(1);
        $('#searchAuto').attr({ 'data-provide': "typeahead" })
        $("#searchAuto").typeahead({
            source: function (query, process) {
                console.info("query" + query)
                return $.ajax({
                    url: '@Url.Action("GetNumTitle", "Auto")',
                    type: 'post',
                    data: { appealNumber: query },
                    success: function (result) {
                        var resultObj = JSON.parse(result.Message);
                        searchLen = resultObj;
                        return process(resultObj);
                    },
                });
            }
        });
        initFileInput("input-4");
        $('.file-input').hide();
    })
    $('#fileBtn').click(function () {
        $('#input-4').click().change(function () {
            var val = $('#input-4').val();
            var arr = val.split('\\');
            var my = arr[arr.length - 1];
            if (val.length == 0) {
                $('#fileBtn').val('选择文件');
            } else {
                $('#fileTxt').val(my);
            }
        })
    })

    var searchLen;
    var pagesize = 15;
    var pageindex = 1;

    function createTable(number) {
        debugger
        pageindex = number;
        var BergabeTypeSId = $('#BergabeTypeSId').val();
        if (BergabeTypeSId == 99) {
            $.ajax({
                method: 'post',
                url: "@Url.Action("GetBergabe", "Bergabe")",
                data: {
                    "caseinfoid": @ID,
                    "pageindex": pageindex,
                    "pagesize": pagesize

                    },
            cache: false,
            async: true,
            crossDomain: true,
            timeout: 20000,
            success: function (data) {
                $('#tbodystr').empty().html(data);
                if ($('#total').text() == 0) {
                    $('#tbodystr').empty().append('<tr><td colspan="7">暂无信息</td></tr>')
                    $('#data-pager').empty()
                }
                else {
                    var html2 = customPaging(pageindex, pagesize, $('#total').text());

                    $('#data-pager').empty().append(html2);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $('#tbodystr').empty().append('<tr><td colspan="7">抱歉，出了点意外状况</td></tr>');
                $('#data-pager').empty();
                //closeLoading();
            }
        });
        }
        else
        {
            $.ajax({
                method: 'post',
                url: "@Url.Action("QueryBergabe", "Bergabe")",
                data: {
                    "pageindex": pageindex,
                    "pagesize": pagesize,
                    "caseinfoid":@ID,
                    "bergabetype": BergabeTypeSId
                },
            cache: false,
            async: true,
            crossDomain: true,
            timeout: 20000,
            success: function (data) {
                $('#tbodystr').empty().html(data);
                if ($('#total').text() == 0) {
                    $('#tbodystr').empty().append('<tr><td colspan="7">暂无信息</td></tr>')
                    $('#data-pager').empty()
                }
                else {
                    var html2 = customPaging(pageindex, pagesize, $('#total').text());

                    $('#data-pager').empty().append(html2);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $('#tbodystr').empty().append('<tr><td colspan="7">抱歉，出了点意外状况</td></tr>');
                $('#data-pager').empty();
                //closeLoading();
            }
        });
      }
    }

    function SubmitBtn() {
        var val = $('#searchAuto').val();
        var a = $.inArray(val, searchLen);
        if (a == -1) {
            $('#Num').val(0);
        } else {
            $('#Num').val("");
        }
        $('#parsley-id-3').hide();
        //添加
   
        if ($('#demoForm').parsley().isValid()) {
            if($('#fileTxt').val().length){
                $('.fileinput-upload.fileinput-upload-button').click();
            }else{
                $.ajax({
                    cache: true,
                    type: "POST",
                    url:"@Url.Action("BergabeEdit", "Bergabe")" + "/"+@ID,
                    data: $('#demoForm').serialize(),// 你的formid
                async: false,
                error: function(request) {
                    alert("Connection error");
                },
                success: function (data) {
                    $("#myModal").modal("hide");
                    alertModal('提示！', data.Message);
                    createTable(1);
                }
            });
            }
            
            return false;
        }
    }

    function search() {
        var BergabeTypeSId = $('#BergabeTypeSId').val();
        if (BergabeTypeSId != 99) {
            createTable(1);
        } else {
            createTable(1);
        }
        return false;
    }

    function SeeModal(row) {
        $('#myModalLabel').text('查看转送件信息');
        $('#ID').val($("table tr:eq(" + row + ") th:eq(0)").text());
        $('#searchAuto').val($("table tr:eq(" + row + ") th:eq(1)").text());

        $('#BergabeTypeID').attr("disabled", "disabled ").find("option:selected").text($("table tr:eq(" + row + ") td:eq(0)").text());
        $('#BergabeDate').val($("table tr:eq(" + row + ") td:eq(1)").text()).attr("disabled", "disabled ");
        $('#TransactDetails').val($("table tr:eq(" + row + ") td:eq(2)").text()).attr("disabled", "disabled ");
        $('#SurveyDetails').val($("table tr:eq(" + row + ") td:eq(3)").text()).attr("disabled", "disabled ");
        $('#DisposeDetails').val($("table tr:eq(" + row + ") td:eq(4)").text()).attr("disabled", "disabled ");
        //$('#fileTxt').val($("table tr:eq(" + row + ") td:eq(5)").text()).attr("disabled", "disabled ");
        $('#FileName').hide();
        $('#FileNameID').hide();
        
        $('#save').hide();
        $('#demoForm .parsley-error').removeClass('parsley-error');
        $('#demoForm .parsley-errors-list').hide();
        $('#seeFileName').text('相关附件')
        $('#down').empty().html($("table tr:eq(" + row + ") td:eq(5)").html()); 
    }
    function EditModal(row) {
        $('#myModalLabel').text('修改转送件信息');
        $('#status').val("1")
        $('#ID').val($("table tr:eq(" + row + ") th:eq(0)").text());
        $('#searchAuto').val($("table tr:eq(" + row + ") th:eq(1)").text());

        $('#BergabeTypeID').removeAttr("disabled ").val($("table tr:eq(" + row + ") th:eq(3)").text());
        $('#BergabeDate').val($("table tr:eq(" + row + ") td:eq(1)").text()).removeAttr("disabled");
        $('#TransactDetails').val($("table tr:eq(" + row + ") td:eq(2)").text()).removeAttr("disabled");
        $('#SurveyDetails').val($("table tr:eq(" + row + ") td:eq(3)").text()).removeAttr("disabled");
        $('#DisposeDetails').val($("table tr:eq(" + row + ") td:eq(4)").text()).removeAttr("disabled");
        $('#FileName').val($("table tr:eq(" + row + ") td:eq(5)").text()).show();
        searchLen = [$("table tr:eq(" + row + ") th:eq(1)").text()];
        //$('#FileName').val($("table tr:eq(" + row + ") td:eq(5)").text()).removeAttr("disabled");
        $('#save').show();
        $('#FileNameID').show();
        $('#fileTxt').val("");
        $('#seeFileName').text('附件')
        $('#down').empty().html($("table tr:eq(" + row + ") td:eq(5)").html());
    }
    function Del(id) {
        $.confirm({
            title: '提示!',
            content: '确定要删除这条记录吗',
            buttons: {
                confirm: {
                    btnClass: 'btn-danger',
                    text: '确定',
                    action: function () {
                        $.ajax({
                            cache: true,
                            type: "POST",
                            url: "@Url.Action("BergabeDel", "Bergabe")" + "/"+@ID ,
                            data: { "id": id },// 你的formid
                            async: false,
                            error: function (request) {
                                alert("Connection error");
                            },
                            success: function (data) {
                                alertModal('提示！', data.Message);
                                createTable(1);
                            }
                        });
                    }
                },
                cancel: {
                    text: '取消',
                    action: function () {
                    }
                }
            }
        });
    }

    function initFileInput(ctrlName) {
        var url = "@Url.Action("UpFiles", "Base")";

        var control = $('#' + ctrlName);
        control.fileinput({
            language: 'zh', //设置语言
            uploadUrl: url, //上传的地址
            // allowedFileExtensions: ['jpg','png','txt','doc','zip','rar'],//接收的文件后缀
            uploadExtraData: { "name": "input4[]"},
            uploadAsync: true, //默认异步上传
            showUpload: true, //是否显示上传按钮
            showRemove: false, //显示移除按钮
            showPreview: false, //是否显示预览
            showCaption: false,//是否显示标题
            dropZoneEnabled: false,//是否显示拖拽区域
            maxFileSize: 10240,//单位为kb，如果为0表示不限制文件大小
            maxFileCount: 2, //表示允许同时上传的最大文件个数
        }).on("fileuploaded", function (event, data) {    //一个文件上传成功
            console.log('文件上传成功！' + data.Message);
            $('#fileTxt').val(data.response.Message);
             $.ajax({
                    cache: true,
                    type: "POST",
                    url:"@Url.Action("BergabeEdit", "Bergabe")" + "/"+@ID,
                    data: $('#demoForm').serialize(),// 你的formid
                async: false,
                error: function(request) {
                    alert("Connection error");
                },
                success: function (data) {
                    $("#myModal").modal("hide");
                    alertModal('提示！', data.Message);
                    createTable(1);
                }
            });
    }).on('fileerror', function (event, data, msg) {  //一个文件上传失败
        alertModal('提示！','文件上传失败');
    })
    }
    function clearSearch() {
        $('#BergabeTypeSId').val("99");

        createTable(1);
    }
</script>

