﻿@using Model
@model CaseInfoModel
@{
    ViewBag.Title = "CaseInfoDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*@Styles.Render("~/Content/vendors/bootstrap-daterangepicker/daterangepicker.css")
    @Styles.Render("~/Content/src/js/jquery-ui-1.8.24.js")*@



<h2 class="headline">案件详情</h2>
<div class="row-fluid">
    <div class="span12">
        <div class="x_panel">
            <div class="box_body">
            @using (Html.BeginForm("PackageCaseDetail", "PackageCase"))
            {
                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab1" data-toggle="tab">Section 1</a><>
                        <li><a href="#tab2" data-toggle="tab">Section 2</a><>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1">
                            <p> 1.</p>
                        </div>
                        <div class="tab-pane" id="tab2">
                            <p>2.</p>
                        </div>
                    </div>
                </div>
            }
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
</div>

<script>
        $(document).ready(function () {
            HidePackageCase();
            HideReceptionSite();
            HideAccumulatedCase();
        });

        //是否上级领导包案督访
        function HidePackageCase() {
            if ($("#PackageCaseyes").is(':checked')) {
                $("#PackageCaseID").show();
            }
            else {
                $("#PackageCaseID").hide();
                $("#PackageCaseRemark").val("");
            }

        }

        //是否到非接待场所涉访
        function HideReceptionSite() {
            if ($("#ReceptionSiteyes").is(':checked')) {
                $("#ReceptionSiteID").show();
            }
            else {
                $("#ReceptionSiteID").hide();
                $("#ReceptionSite").val("");
                $("#ReceptionSiteDate").val("");
            }

        }

        //是否积案
        function HideAccumulatedCase() {
            if ($("#AccumulatedCasesyes").is(':checked')) {
                $("#AccumulatedCaseID").show();
            }
            else {
                $("#AccumulatedCaseID").hide();
                $("#AccumulatedCaseRemark").val("");
            }

        }
        //返回
        function goBack() {
            document.location = "@Url.Action("CaseInfoList")";
        }
</script>
