﻿@using Model
@model PackageCaseInfoModel
@{
    ViewBag.Title = "PackageCaseList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="headline">案件包案管理</h2>
    <div class="row-fluid">
        <div class="span12">
            <div class="x_panel">
                <div class="row-fluid">
                    <div class="span12" style="position:relative">
                        <div class="span8">
                        </div>
                        @*<div class="span2 " style="position:relative;z-index:1;margin-left: 9%;">
                            <input id="appealnum" autocomplete="off" class="span12" type="text" data-provide="typeahead" placeholder="案件编号">
                        </div>*@
                        <div class="span2" style="position:relative;z-index:1;margin-left: 8.5%;">
                            <input id="petitionname" type="text" class="span12 " placeholder="信访人">
                        </div>
                        @*<div class="span2 " style="position:relative;z-index:1">
                            <input id="appealtitle" type="text" class="span12 " placeholder="标题">
                        </div>*@
                        <div class="span2" style="position:absolute;z-index:0;right:0">
                            <button class="btn btn-primary " type="button" onclick="clearSearch()" style="float:right">清除</button>
                            <button class="btn btn-primary " type="button" onclick="search()" style="float:right">搜索</button>
                        </div>
                    </div>
                </div>
                <div class="x_content">

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th style="display:none">ID</th>
                                @*<th>案件编号</th>
                                <th>标题</th>*@
                                <th>信访人</th>
                                @*<th>党政领导</th>
                                <th>机关领导</th>
                                <th>包案领导</th>
                                <th>负责人</th>*@
                                <th>县级包案领导</th>
                                <th>责任单位包案领导</th>
                                <th>责任单位负责人</th>
                                <th>稳控包案领导</th>
                                <th>直接负责人</th>
                                <th>基层干部</th>
                                <th>基层干警</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody id="tbodystr">
                        </tbody>
                    </table>
                    <div id="data-pager">

                    </div>
                </div>
            </div>
        </div>
    </div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="width: 678px; margin-left: -338px; display: block;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal form-label-left", @Id = "demoForm" }))
            {
                <div class="modal-body">
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="">
                                @*@if (Session["CurrentUser"] != null)
                                {
                                    var currentUser = Session["CurrentUser"] as Model.t_User;
                                    if (currentUser.UserRoleList.Contains("1") || currentUser.UserRoleList.Contains("2"))
                                    {*@
                                        <div class="row-fluid" id="updateid">
                                            <div class="span5">
                                                    <div class="spa3">
                                                        <label for="txtName" class="modal-label" style="width:auto"><span class="required">*</span>姓名</label>
                                                    </div>
                                                    <div class="span8">
                                                        <input id="txtName" required="required" class="span12" type="text" placeholder="姓名" />
                                                    </div>
                                            </div>
                                            <div class="span5">
                                                <div class="span3">
                                                    <label for="txtPostion" class="modal-label" style="width:auto"><span class="required">*</span>职位</label>
                                                </div>
                                                <div class="span8">
                                                    <input id="txtPostion" required="required" class="span12" type="text" placeholder="职位" />
                                                </div>
                                            </div>
                                            <div class="span2">
                                                <button class="btn btn-primary" style="float: right" onclick="return SubmitBtn()">保存</button>
                                            </div>
                                        </div>
                                    @*}
                                }*@

                                <div class="x_content">

                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>修改前领导姓名（职位）</th>
                                                <th>修改后领导姓名（职位）</th>
                                                <th>修改日期</th>
                                                <th>修改人</th>
                                                <th>责任单位</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbodystrRecord"></tbody>
                                      
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input id="ID" class="hidden" />
                    <input id="type" class="hidden" />
                </div>
            }

        </div>
    </div>
</div>


<script>
     $(function () {
         createTable(1);
         @*$("#appealnum").typeahead({
             source: function (query, process) {
                 console.info("query" + query)
                 return $.ajax({
                     url: '@Url.Action("GetAuto", "Auto")',
                     type: 'post',
                     data: { appealNumber: query },
                     success: function (result) {
                         var resultObj = JSON.parse(result.Message);
                         return process(resultObj);
                     },
                 });
             }
         });*@
    })
    var Name;
    var Postion;
    var pagesize = 15;
    var pageindex = 1;
    function createTable(number) {
        pageindex = number;
        //var appealnum = $('#appealnum').val();
        //var appealtitle = $('#appealtitle').val();
        var petitionname = $('#petitionname').val();
        
        if (!petitionname.length) {
            $.ajax({
                method: 'post',
                url: "@Url.Action("GetPackageCase", "PackageCase")",
                data: {
                    "pageindex": pageindex,
                    "pagesize": pagesize
                },
                cache: false,
                async: true,
                crossDomain: true,
                success: function (data) {
                    $('#tbodystr').empty().html(data);
                    if ($('#total').text() == 0) {
                        $('#tbodystr').empty().append('<tr><td colspan="10">暂无信息</td></tr>')
                        $('#data-pager').empty()
                    }
                    else {
                        var html2 = customPaging(pageindex, pagesize, $('#total').text());

                        $('#data-pager').empty().append(html2);
                    }

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $('#tbodystr').empty().append('<tr><td colspan="7">抱歉，出了点意外状况</td></tr>');
                    $('#data-pager').empty();
                    //closeLoading();
                }
            });
    }
    else
    {
            $.ajax({
                method: 'post',
                url: "@Url.Action("QueryPackageCase", "PackageCase")",
        data: {
            //"AppealNumber": appealnum,
            //"AppealTitle": appealtitle,
            "PetitionName": petitionname,
            "pageindex": pageindex,
            "pagesize": pagesize
        },
    cache: false,
        async: true,
    crossDomain: true,
    //timeout: 20000,
    success: function (data) {
        //$('#tbodystr').empty();
        $('#tbodystr').empty().html(data);
        if ($('#total').text() == 0) {
            $('#tbodystr').empty().append('<tr><td colspan="10">暂无信息</td></tr>')
            $('#data-pager').empty()
        }
        else {
            var html2 = customPaging(pageindex, pagesize, $('#total').text());

            $('#data-pager').empty().append(html2);
        }
        //searchPage();
    },
    error: function (jqXHR, textStatus, errorThrown) {
        $('#tbodystr').empty().append('<tr><td colspan="7">抱歉，出了点意外状况</td></tr>');
        $('#data-pager').empty();
        //closeLoading();
    }
    });
    }

    }
    function search() {
        var petitionname = $('#petitionname').val();
        pageNumAll = 1
        if (petitionname.length) {
            createTable(1);
        } else {
            createTable(1);
        }
        return false;
    }

    function BaoanModal(row) {
        $('#ID').val($("table tr:eq(" + row + ") th:eq(0)").text());
    }

    function SeeName(type, row, name, txt,role,unit,userUnit) {
        $('#type').val(type)
        var Modaltitle;
        var isEmpty = "未设置";
        switch (type) {
            case 1:
                Modaltitle = "县级包案领导";
                break;
            case 2:
                Modaltitle = "责任单位包案领导";
                break;
            case 3:
                Modaltitle = "稳控包案领导";
                break;
            case 4:
                Modaltitle = "直接负责人";
                break;
            case 5:
                Modaltitle = "基层干部";
                break;
            case 6:
                Modaltitle = "基层干警";
                break;
            case 7:
                Modaltitle = "责任单位负责人";
                break;
        }
        $('#myModalLabel').text(Modaltitle);
        $('#ID').val($("table tr:eq(" + row + ") th:eq(0)").text());
        if (name == isEmpty) {
            $('#txtName').val("");
            $('#txtPostion').val("");
        } else {
            $("#txtName").data("beforeName", name)
            $("#txtPostion").data("beforePosition", txt)
            $('#txtName').val(name);
            $('#txtPostion').val(txt);
            createTableRecord(1)
        }
        if (role == 3 ) { //片区
            if ((type == 1 || type == 2 || type == 7) && name != isEmpty) {
                $("#updateid").hide();
            } else {
                $("#updateid").show();
            }
        }
        if (role == 4) { //责任单位
            if ((type == 2 || type == 7) && name == isEmpty) {
                $("#updateid").show();
            } else {
                $("#updateid").hide();
            }
        }
        if (role == 34) {
            if (type == 1) {
                $("#updateid").hide();
            }
            else {
                if (unit.indexOf(userUnit) != -1 && name == isEmpty) {
                    $("#updateid").show();
                }
                else {
                    $("#updateid").hide();
                }
            }
        }
        if (type == 1) { //先开放县级包案领导的权限
            $("#updateid").show();
        }

        Name = $('#txtName').val();
        Postion = $('#txtPostion').val();
        createTableRecord(1);
    }

    function SubmitBtn() {
        var txtName = $('#txtName').val();
        var txtPostion = $('#txtPostion').val();
        console.log(Name);
        console.log(Postion);
        if (txtName != Name || txtPostion != Postion) {
           
             if ($('#demoForm').parsley().isValid()) {
            //添加
            $.ajax({
                cache: true,
                type: "POST",
                url:"@Url.Action("AddRecord", "PackageCase")",
                data: {
                    "id":$('#ID').val(),
                    "type": $('#type').val(),
                    "beforeName": Name,
                    "beforePosition": Postion,
                    "afterPosition":$('#txtPostion').val(),
                    "afterName": $('#txtName').val()
                    },
                    async: false,
                    error: function(request) {
                        alert("Connection error");
                    },
                    success: function (data) {
                        $("#myModal").modal("hide");
                        alertModal('提示！', data.Message);
                        createTable(pageNumAll);
                        $('#txtName').val('');
                        $('#txtPostion').val('');
                    }
                });
                return false;
            }
        }
        else {
            alertModal('提示！', '您没做任何修改');
            return false;
        }
    }

    function createTableRecord(number) {
        pageindex = number;
            $.ajax({
                method: 'post',
                url: "@Url.Action("RecordList", "PackageCase")",
                data: {
                    "pageindex": pageindex,
                    "pagesize": pagesize,
                    "id": $('#ID').val(),
                    "type": $('#type').val()
                },
            cache: false,
            async: true,
            crossDomain: true,
            success: function (data) {
                console.info(data)
                $('#tbodystrRecord').empty().html(data);
                var val = $('#total1').val();
                if (val == 0)
                {
                    $('#tbodystrRecord').empty().append('<tr><td colspan="4">暂无信息</td></tr>');
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $('#tbodystrRecord').empty().append('<tr><td colspan="7">抱歉，出了点意外状况</td></tr>');
                $('#data-pager').empty();
            }
        });
    }

    function clearSearch() {
        $('#petitionname').val('');
        pageNumAll = 1
        createTable(1);

        return false;
    }
</script>

