﻿@using Model
@model TransactModel
@{
    ViewBag.Title = "Letter";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int ID = ViewData.GetInt("ID");
}

<h2 class="headline">信访办理</h2>
<div class="row-fluid">
    <div class="span12">
        <div class="x_panel">
            <div class="row-fluid">
                <div class="span12" style="position:relative">
                    <div class="span7">
                        <div class="dataTables_length" id="datatable_length">
                            @*<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal" onclick="AddModal()">新增接访记录</button>*@
                        </div>
                    </div>
                    @*<div class="span1 ">
            <input id="petitionname" type="text" class="span12 " placeholder="案件编号">
        </div>
        <div class="span2">
            <input id="appealtitle" type="text" class="span12 " placeholder="诉求标题/内容">
        </div>*@
                    <div class="span1" style="margin-left: 8.5%;position:relative;z-index:1;">
                        <select id="TransactTypeId" class="span12 form-control" data-val="true" required="required">
                            <option value="99">办理方式</option>
                            <option value="0">留存</option>
                            <option value="1">转送单位</option>
                        </select>
                    </div>

                    <div class="span1">
                        <select id="IsReconcile" class="span12 form-control" data-val="true" required="required">
                            <option value="99">是否化解</option>
                            <option value="0">是</option>
                            <option value="1">否</option>
                        </select>
                    </div>

                    <div class="span1" style="position:relative;z-index:1;">
                        <select id="StopPetitionType" class="span12 form-control" data-val="true" required="required">
                            <option value="99">是否息访</option>
                            <option value="0">是</option>
                            <option value="1">否</option>
                        </select>
                    </div>
                    <div class="span2" style="position:absolute;z-index:0;right:0">
                        <button class="btn btn-primary " type="button" onclick="clearSearch()" style="float:right">清除</button>
                        <button class="btn btn-primary " type="button" onclick="search()" style="float:right">搜索</button>
                    </div>
                </div>
            </div>

            <div class="x_content">

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="display:none">ID</th>
                            <th>办理方式</th>
                            <th>办理日期</th>
                            <th>答复意见书</th>
                            <th>是否化解</th>
                            <th>化解日期</th>
                            <th>化解内容</th>
                            <th>是否息访</th>
                            <th>息访日期</th>
                            <th>息访承诺书</th>
                            <th>告知</th>
                            <th>双向</th>
                            <th>复查复核意见书</th>
                            <th>办理情况报告</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody id="tbodystr"></tbody>
                </table>
                <div id="data-pager">
                   
                </div>
            </div>
        </div>
    </div>
</div>


<div class="clearfix"></div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">查看信访办理记录</h4>
            </div>
                <div class="modal-body">
                    <div class="row-fluid">
                        <div class="form-group">
                            <div class="span4">
                                <label for="searchAuto" class="modal-label">案件</label>
                            </div>
                            <div class="span6">
                                @Html.TextBoxFor(n => n.AppealNumber, new { @Id = "searchAuto", @class = "span12 form-control" , @disabled = "disabled" })
                               
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="form-group">
                            <div class="span4">
                                <label for="TransactType" class="modal-label">办理方式</label>
                            </div>
                            <div class="span6">
                                <input id="TransactType" class="span12 form-control"  type="text" disabled = "disabled" >
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="form-group">
                            <div class="span4">
                                <label for="StopPetitionLetter" class="modal-label">息访承诺书</label>
                            </div>
                            <div class="span6">
                                <label id="fileTxt1" style="cursor: default"></label>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="form-group">
                            <div class="span4">
                                <label for="TransactDate" class="modal-label">办理日期</label>
                            </div>
                            <div class="span6">
                                @Html.TextBoxFor(s => s.TransactDate, new { @id = "TransactDate", @class = "span12 jedate", @readonly = "readonly", placeholder = "年/月/日", @style = "cursor: default", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="form-group">
                            <div class="span4">
                                <label class="modal-label">是否化解</label>
                            </div>
                            <div class="span6">
                                <label class="span1">
                                    @Html.RadioButtonFor(n => n.IsReconcile, 0,new { disabled = "disabled", @style = "cursor: default" }) 
                                </label>
                                <label class="span2">
                                    是
                                </label>
                                <label class="span1">
                                    @Html.RadioButtonFor(n => n.IsReconcile, 1, new { disabled = "disabled", @style = "cursor: default" }) 
                                </label>
                                <label class="span2">
                                    否
                                </label>
                            </div>
                        </div>
                    </div>
                    <div id="ReconcileID">
                        <div class="row-fluid">
                            <div class="form-group">
                                <div class="span4">
                                    <label for="ReconcileDate" class="modal-label">化解时间</label>
                                </div>
                                <div class="span6">
                                    @Html.TextBoxFor(s => s.ReconcileDate, new { @id = "ReconcileDate", @class = "span12 jedate", @readonly = "readonly", placeholder = "年/月/日", @style = "cursor: default" , @disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="form-group">
                                <div class="span4">
                                    <label for="Comment" class="modal-label">化解详细内容</label>
                                </div>
                                <div class="span6">
                                    @Html.TextAreaFor(s => s.ReconcileContent, new { @Id = "Comment", @class = "form-control span12 txt-overflow", @rows = "4", @disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="form-group">
                            <div class="span4">
                                <label class="modal-label">是否息访</label>
                            </div>
                            <div class="span6">
                                <label class="span1">
                                    @Html.RadioButtonFor(n => n.IsStopPetition, 0, new { disabled = "disabled", @style = "cursor: default" })
                                </label>
                                <label class="span2">
                                    是
                                </label>
                                <label class="span1">
                                    @Html.RadioButtonFor(n => n.IsStopPetition, 1, new { disabled = "disabled", @style = "cursor: default" })
                                </label>
                                <label class="span2">
                                    否
                                </label>
                            </div>
                        </div>
                    </div>
                    <div id="StopPetitionID">
                        <div class="row-fluid">
                            <div class="form-group">
                                <div class="span4">
                                    <label for="StopPetitionDate" class="modal-label">息访时间</label>
                                </div>
                                <div class="span6">
                                    @Html.TextBoxFor(s => s.StopPetitionDate, new { @class = "span12 jedate", @disabled = "disabled", placeholder = "年/月/日", @style = "cursor: default" })
                                </div>
                            </div>
                        </div>
                      
                    </div>
                    <div class="row-fluid">
                        <div class="form-group">
                            <div class="span4">
                                <label for="fileTxt2" class="modal-label">答复意见书</label>
                            </div>
                            <div class="span6">
                                <label id="fileTxt2" style="cursor: default"></label>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="form-group">
                            <div class="span4">
                                <label for="fileTxt3" class="modal-label">告知</label>
                            </div>
                            <div class="span6">
                                <label id="fileTxt3" style="cursor: default"></label>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="form-group">
                            <div class="span4">
                                <label for="fileTxt4" class="modal-label">双向</label>
                            </div>
                            <div class="span6">
                                <label id="fileTxt4" style="cursor: default"></label>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="form-group">
                            <div class="span4">
                                <label for="fileTxt5" class="modal-label">复查复核意见书	</label>
                            </div>
                            <div class="span6">
                                <label id="fileTxt5" style="cursor: default"></label>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="form-group">
                            <div class="span4">
                                <label for="fileTxt6" class="modal-label">办理情况报告</label>
                            </div>
                            <div class="span6">
                                <label id="fileTxt6" style="cursor: default"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-gray" data-dismiss="modal">关闭</button>
                </div>

        </div>
    </div>
</div>

<script>
    $(document).ready(function (e) {
        var counter = 0;
        if (window.history && window.history.pushState) {
            $(window).on('popstate', function () {
                window.history.pushState('forward', null, '#');
                window.history.forward(1);
                pageLink = $.cookie('pageLink')
                var petition = $.cookie('petition')
                var stopPetition = $.cookie('stopPetition')
                var urlStr = "@Url.Action("LetterList")#/?p=" + pageLink + "&petition=" + petition + "&stopPetition=" + stopPetition;
                @*var urlStr = "@Url.Action("LetterList")?p=" + pageLink;*@
                $.cookie('pageLink', undefined, {
                    path: '/'
                });
                window.location.href = urlStr;
            });
        }

        window.history.pushState('forward', null, '#'); //在IE中必须得有这两行
        window.history.forward(1);
    });
    $(function () {

       createTable(1);
    })
    var pagesize = 15;
    var pageindex = 1;

    function createTable(number) {
        pageindex = number;
        var transactType = $('#TransactTypeId').val();
        var reconcile = $('#IsReconcile').val();
        var stopPetition = $('#StopPetitionType').val();
        if (transactType == 99 && reconcile == 99 && stopPetition == 99) {
            $.ajax({
            method: 'post',
            url: "@Url.Action("GetTransact", "Letter")",
            data: {
                "caseinfoid":@ID,
                "pageindex": pageindex,
                "pagesize": pagesize

            },
            cache: false,
            async: true,
            crossDomain: true,
            timeout: 20000,
            success: function (data) {
                $('#tbodystr').empty().html(data);
                if ($('#total').text() == 0) {
                    $('#tbodystr').empty().append('<tr><td colspan="10">暂无信息</td></tr>')
                    $('#data-pager').empty()
                }
                else {
                    var html2 = customPaging(pageindex, pagesize, $('#total').text());

                    $('#data-pager').empty().append(html2);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $('#tbodystr').empty().append('<tr><td colspan="10">抱歉，出了点意外状况</td></tr>');
                $('#data-pager').empty();
                //closeLoading();
            }
        });
        }
        else {
            $.ajax({
            method: 'post',
            url: "@Url.Action("QueryTransactList", "Letter")",
            data: {
                "caseinfoid":@ID,
                "pageindex": pageindex,
                "pagesize": pagesize,
                "transactType": transactType,
                "reconcile": reconcile,
                "stopPetition": stopPetition

            },
            cache: false,
            async: true,
            crossDomain: true,
            timeout: 20000,
            success: function (data) {
                $('#tbodystr').empty().html(data);
                if ($('#total').text() == 0) {
                    $('#tbodystr').empty().append('<tr><td colspan="10">暂无信息</td></tr>')
                    $('#data-pager').empty()
                }
                else {
                    var html2 = customPaging(pageindex, pagesize, $('#total').text());

                    $('#data-pager').empty().append(html2);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $('#tbodystr').empty().append('<tr><td colspan="10">抱歉，出了点意外状况</td></tr>');
                $('#data-pager').empty();
                //closeLoading();
            }
        });
        }


    }

    function search() {
        var transactType = $('#TransactTypeId').val();
        var reconcile = $('#IsReconcile').val();
        var stopPetition = $('#StopPetitionType').val();
        
        if (transactType != 99 || reconcile != 99 || stopPetition != 99) {
            createTable(1);
        } else {
            alertModal('提示！', '请输入搜索值');

        }
        return false;
    }

    function SeeModal(row) {
        $('#searchAuto').val($("table tr:eq(" + row + ") th:eq(0)").text());
        $('#Comment').val($("table tr:eq(" + row + ") th:eq(1)").text());

        $('#TransactType').val($("table tr:eq(" + row + ") td:eq(0)").text());
        $('#TransactDate').val($("table tr:eq(" + row + ") td:eq(1)").text());
        switch ($("table tr:eq(" + row + ") td:eq(3)").text()) {
            case "是":
                $('input[name="IsReconcile"][value="0"]').prop('checked', true);
                break;
            default:
                $('input[name="IsReconcile"][value="1"]').prop('checked', true);
                break;
        }
        $('#ReconcileDate').val($("table tr:eq(" + row + ") td:eq(4)").text());
        switch ($("table tr:eq(" + row + ") td:eq(6)").text()) {
            case "是":
                $('input[name="IsStopPetition"][value="0"]').prop('checked', true);
                break;
            default:
                $('input[name="IsStopPetition"][value="1"]').prop('checked', true);
                break;
        }
        $('#StopPetitionDate').val($("table tr:eq(" + row + ") td:eq(7)").text());
         $('#fileTxt1').html($("table tr:eq(" + row + ") td:eq(8)").html());
         $('#fileTxt2').html($("table tr:eq(" + row + ") td:eq(2)").html());
         $('#fileTxt3').html($("table tr:eq(" + row + ") td:eq(9)").html());
         $('#fileTxt4').html($("table tr:eq(" + row + ") td:eq(10)").html());
         $('#fileTxt5').html($("table tr:eq(" + row + ") td:eq(11)").html());
         $('#fileTxt6').html($("table tr:eq(" + row + ") td:eq(12)").html());
    }

    function clearSearch() {
        $('#TransactTypeId').val("99");
        $('#IsReconcile').val("99");
        $('#StopPetitionType').val("99");

        createTable(1);
    }

    function Del(id) {
        $.confirm({
            title: '提示!',
            content: '确定要删除这条记录吗',
            buttons: {
                confirm: {
                    btnClass: 'btn-danger',
                    text: '确定',
                    action: function () {
                        $.ajax({
                            cache: true,
                            type: "POST",
                            url: "@Url.Action("TransactDel", "Letter")" + "/"+@ID ,
                            data: { "id": id },// 你的formid
                            async: false,
                            error: function (request) {
                                alert("Connection error");
                            },
                            success: function (data) {
                                alertModal('提示！', data.Message);
                                createTable(1);
                            }
                        });
                    }
                },
                cancel: {
                    text: '取消',
                    action: function () {
                    }
                }
            }
        });
    }

</script>
