﻿@using Model
@model TransactModel
@{
    ViewBag.Title = "LetterList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currentUser = Session["CurrentUser"] as Model.t_User;
}

<h2 class="headline">信访办理</h2>
<div class="row-fluid">
    <div class="span12">
        <div class="x_panel">
            <div class="row-fluid">
                <div class="span12" style="position:relative">
                    <div class="span7">
                        @*<div class="dataTables_length" id="datatable_length">
                            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal" onclick="AddModal()">新增办理记录</button>
                        </div>*@
                    </div>
                    @*<div class="span2 " style="position:relative;z-index:1;margin-left: 8.5%;">
                        <input id="number" type="text" class="span12 " placeholder="案件编号">
                    </div>
                    <div class="span2">
                        <input id="appealtitle" type="text" class="span12 " placeholder="诉求标题">
                    </div>*@
                    <div class="span2" style="position:relative;z-index:1;margin-left: 8.5%;">
                        <input id="petitionname" type="text" class="span12 " placeholder="信访人">
                    </div>

                    <div class="span1" style="position:relative;z-index:1">
                        <select id="StopPetitionTypeId" class="span12 form-control" data-val="true" name="UserArea" required="required">
                            <option value="99">是否息访</option>
                            <option value="0">是</option>
                            <option value="1">否</option>
                        </select>
                    </div>
                    <div class="span2" style="position:absolute;z-index:0;right:0">
                        <button class="btn btn-primary " type="button" onclick="clearSearch()" style="float:right">清除</button>
                        <button class="btn btn-primary " type="button" onclick="search()" style="float:right">搜索</button>
                    </div>
                </div>
            </div>

            <div class="x_content">

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>信访人</th>
                            <th>内容</th>
                            <th>是否息访</th>
                            <th>息访日期</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody id="tbodystr"></tbody>

                </table>
                <div id="data-pager">

                </div>
            </div>
        </div>
    </div>
</div>


<div class="clearfix"></div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            @using (Html.BeginForm("", "", FormMethod.Post, new { @Id = "demoForm" }))
            {
                <div class="modal-body">
                    <div class="row-fluid">
                        <div class="form-group hidden">
                            <div class="span4">
                                <label for="ID" class="modal-label">ID</label>
                            </div>
                            <div class="span6">
                                @Html.TextBoxFor(n => n.CaseInfoID, new { @Id = "ID", @class = "span12" })
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="form-group">
                            <div class="span4">
                                <label for="searchAuto" class="modal-label">信访人</label>
                            </div>
                            <div class="span6">
                                @Html.TextBoxFor(n => n.AppealNumber, new { @Id = "searchAuto", @class = "span12", autocomplete = "off", placeholder = "请输入信访人姓名", @readonly = "readonly" })
                                <ul class="parsley-errors-list-err filled" id="parsley-id-3" style="display: none"><li class="parsley-required">案件不存在或为空</li></ul>
                                <input type='text' class="hidden" id="Num" data-parsley-checknum data-parsley-checknum-message="案件不存在或为空" />
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="form-group">
                            <div class="span4">
                                <label for="TransactTypeId" class="modal-label">办理方式</label>
                            </div>
                            <div class="span6">
                                <select id="TransactTypeId" name="TransactType" class="span12">
                                    <option value="0">留存</option>
                                    <option value="1">转送单位</option>
                                </select>
                                @*@Html.TextBoxFor(n => n.UserPosition, new { @Id = "Postion", @class = "span12 form-control", @required = "required", @placeholder = "请输入职务" })*@
                            </div>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="form-group">
                            <div class="span4">
                                <label for="TransactDate" class="modal-label">办理日期</label>
                            </div>
                            <div class="span6">
                                @Html.TextBoxFor(s => s.TransactDate, new { @id = "TransactDate", @class = "span12 jedate", @readonly = "readonly", placeholder = "年/月/日", @style = "cursor: default"})
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="form-group">
                            <div class="span4">
                                <label class="modal-label">是否化解</label>
                            </div>
                             <div class="span6">
                                <label class="span1">
                                  @Html.RadioButtonFor(n => n.IsReconcile, 0, new { id = "IsReconcileyes", name = "LawLitigation", @onclick = " HideReconcile()" })

                                </label>
                                <label class="span2">
                                    是
                                </label>
                                <label class="span1">
                                    @Html.RadioButtonFor(n => n.IsReconcile, 1, new { id = "IsReconcileno", name = "LawLitigation", @onclick = " HideReconcile()", @checked = "checked" })
                                </label>
                                <label class="span1">
                                    否
                                </label>
                            </div>
                            
                        </div>
                    </div>
                    <div id="ReconcileID">
                        <div class="row-fluid">
                            <div class="form-group">
                                <div class="span4">
                                    <label for="ReconcileDate" class="modal-label"><span class="required">*</span>化解时间</label>
                                </div>
                                <div class="span6">
                                    @Html.TextBoxFor(s => s.ReconcileDate, new { @id = "ReconcileDate", @class = "span12 jedate2", @readonly = "readonly", placeholder = "年/月/日", @style = "cursor: default" })
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="form-group">
                                <div class="span4">
                                    <label for="Comment" class="modal-label"><span class="required">*</span>化解详细内容</label>
                                </div>
                                <div class="span6">
                                    @Html.TextAreaFor(s => s.ReconcileContent, new { @Id = "Comment", @class = "form-control span12 txt-overflow", @rows = "4"})
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="form-group">
                            <div class="span4">
                                <label class="modal-label">是否息访</label>
                            </div>
                            <div class="span6">
                                <label class="span1">
                                  @Html.RadioButtonFor(n => n.IsStopPetition, 0, new { id = "IsStopPetitionyes", name = "IsStopPetition", @onclick = "HideStopPetition()" })

                                </label>
                                <label class="span2">
                                    是
                                </label>
                                <label class="span1">
                                    @Html.RadioButtonFor(n => n.IsStopPetition, 1, new { id = "IsStopPetitionno", name = "IsStopPetition", @onclick = "HideStopPetition()", @checked = "checked" })
                                </label>
                                <label class="span1">
                                    否
                                </label>
                            </div>
                        </div>
                    </div>
                    <div id="StopPetitionID">
                        <div class="row-fluid">
                            <div class="form-group">
                                <div class="span4">
                                    <label for="StopPetitionDate" class="modal-label"><span class="required">*</span>息访时间</label>
                                </div>
                                <div class="span6">
                                    @Html.TextBoxFor(s => s.StopPetitionDate, new { id= "StopPetitionDate", @class = "span12 jedate3", @readonly = "readonly", placeholder = "年/月/日", @style = "cursor: default" })
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="form-group">
                                <div class="span4">
                                    <label for="StopPetitionLetter" class="modal-label">息访承诺书</label>
                                </div>
                                <div class="span6">
                                    @Html.TextBoxFor(n => n.StopPetitionLetter, new { @id = "fileTxt1", @class = "form-control span8 fileinputa", @readonly = "readonly" })
                                    <button id="fileBtn1" type="button" class="btn btn-primary" style="float:right;margin:0">选择文件</button>
                                    <input id="input-1" name="input1[]" type="file" multiple class="file-loading">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="form-group">
                            <div class="span4">
                                <label for="fileTxt2" class="modal-label">答复意见书</label>
                            </div>
                            <div class="span6">
                                @Html.TextBoxFor(n => n.FileName, new { @id = "fileTxt2", @class = "form-control span8 fileinputa", @readonly = "readonly" })
                                <button id="fileBtn2" type="button" class="btn btn-primary" style="float:right;margin:0">选择文件</button>
                                <input id="input-2" name="input2[]" type="file" multiple class="file-loading">
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="form-group">
                            <div class="span4">
                                <label for="fileTxt3" class="modal-label">告知</label>
                            </div>
                            <div class="span6">
                                @Html.TextBoxFor(n => n.TellFile, new { @id = "fileTxt3", @class = "form-control span8 fileinputa", @readonly = "readonly" })
                                <button id="fileBtn3" type="button" class="btn btn-primary" style="float:right;margin:0">选择文件</button>
                                <input id="input-3" name="input3[]" type="file" multiple class="file-loading">
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="form-group">
                            <div class="span4">
                                <label for="fileTxt4" class="modal-label">双向</label>
                            </div>
                            <div class="span6">
                                @Html.TextBoxFor(n => n.TwoWayFile, new { @id = "fileTxt4", @class = "form-control span8 fileinputa", @readonly = "readonly" })
                                <button id="fileBtn4" type="button" class="btn btn-primary" style="float:right;margin:0">选择文件</button>
                                <input id="input-4" name="input4[]" type="file" multiple class="file-loading">
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="form-group">
                            <div class="span4">
                                <label for="fileTxt5" class="modal-label">复查复核意见书</label>
                            </div>
                            <div class="span6">
                                @Html.TextBoxFor(n => n.ReviewFile, new { @id = "fileTxt5", @class = "form-control span8 fileinputa", @readonly = "readonly" })
                                <button id="fileBtn5" type="button" class="btn btn-primary" style="float:right;margin:0">选择文件</button>
                                <input id="input-5" name="input5[]" type="file" multiple class="file-loading">
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="form-group">
                            <div class="span4">
                                <label for="fileTxt6" class="modal-label">办理情况报告</label>
                            </div>
                            <div class="span6">
                                @Html.TextBoxFor(n => n.StatusFile, new { @id = "fileTxt6", @class = "form-control span8 fileinputa", @readonly = "readonly" })
                                <button id="fileBtn6" type="button" class="btn btn-primary" style="float:right;margin:0">选择文件</button>
                                <input id="input-6" name="input6[]" type="file" multiple class="file-loading">
                            </div>
                        </div>
                    </div>
                </div>
                <input class="hidden" value="0" data-parsley-checkdelaytime />
                <div class="modal-footer">
                    <input id="status" class="hidden" />
                    <button class="btn btn-primary" onclick="return SubmitBtn()">保存</button>
                    <button type="button" class="btn btn-gray" data-dismiss="modal">关闭</button>
                </div>
            }

        </div>
    </div>
</div>

<script>
    var fileNum = 0;
    var numArray = [];
    var start1 = {
        //isinitVal: true,
        initAddVal: [-1],
        format: 'YYYY-MM-DD',
        maxDate: '2099-12-31 23:59:59', //最大日期为当前日期
        choosefun: function (val) {
            var thisId = $('#TransactDate');
            if (thisId.val() != "") {
                thisId.removeClass('parsley-error').next().hide();
            }
        },
        okfun: function (val) {
            var thisId = $('#TransactDate');
            if (thisId.val() != "") {
                thisId.removeClass('parsley-error').next().hide();
            }
        }
    };
    var start2 = {
        //isinitVal: true,
        initAddVal: [-1],
        format: 'YYYY-MM-DD',
        maxDate: '2099-12-31 23:59:59', //最大日期为当前日期
        choosefun: function (val) {
            var thisId = $('#ReconcileDate');
            if (thisId.val() != "") {
                thisId.removeClass('parsley-error').next().hide();
            }
        },
        okfun: function (val) {
            var thisId = $('#ReconcileDate');
            if (thisId.val() != "") {
                thisId.removeClass('parsley-error').next().hide();
            }
        }
    };
    var start3 = {
        //isinitVal: true,
        initAddVal: [-1],
        format: 'YYYY-MM-DD',
        maxDate: '2099-12-31 23:59:59', //最大日期为当前日期
        choosefun: function (val) {
            var thisId = $('#StopPetitionDate');
            if (thisId.val() != "") {
                thisId.removeClass('parsley-error').next().hide();
            }
        },
        okfun: function (val) {
            var thisId = $('#StopPetitionDate');
            if (thisId.val() != "") {
                thisId.removeClass('parsley-error').next().hide();
            }
        }
    };

    $(".jedate2").jeDate(start2);
    $(".jedate3").jeDate(start3);
    window.Parsley
        .addValidator('checkdelaytime', {
            validateString: function (value) {
                $('#demoForm .parsley-errors-list').show();
                return true;
            }
        });
    window.Parsley
        .addValidator('checknum', {
            validateString: function (value) {
                if (value == 0) {
                    $('#searchAuto').addClass("parsley-error");

                    return false;//校验不通过,会将data-parsley-checkdelaytime-message对应的信息输出

                }
                return true;
            }
        });
    var searchLen;
    var pagesize = 15;
    var pageindex = 1;

    $(function () {
        HideReconcile();
        HideStopPetition();
        $("#ReconcileID").hide();
        $("#StopPetitionID").hide();
        var page = getUrlParam('p');
        if (page == null || page == undefined || page == "undefined") {
            page = 1
        }
        createTable(page);
        initFileInput1("input-1");
        initFileInput2("input-2");
        initFileInput3("input-3");
        initFileInput4("input-4");
        initFileInput5("input-5");
        initFileInput6("input-6");
        $('.file-input').hide();
    })
    $('#fileBtn1').click(function () {
        $('.fileinput-remove').eq(0).click();
        $('#input-1').click().change(function () {
            var val = $('#input-1').val();
            var arr = val.split('\\');
            var my = arr[arr.length - 1];
            if (val.length == 0) {
                $('#fileBtn1').val('选择文件');
            } else {
                $('#fileTxt1').val(my);
            }
        })
    })
    $('#fileBtn2').click(function () {
        $('.fileinput-remove').eq(1).click();
        $('#input-2').click().change(function () {
            var val = $('#input-2').val();
            var arr = val.split('\\');
            var my = arr[arr.length - 1];
            if (val.length == 0) {
                $('#fileBtn2').val('选择文件');
            } else {
                $('#fileTxt2').val(my);
            }
        })
    })
    $('#fileBtn3').click(function () {
        $('.fileinput-remove').eq(2).click();
        $('#input-3').click().change(function () {
            var val = $('#input-3').val();
            var arr = val.split('\\');
            var my = arr[arr.length - 1];
            if (val.length == 0) {
                $('#fileBtn3').val('选择文件');
            } else {
                $('#fileTxt3').val(my);
            }
        })
    })
    $('#fileBtn4').click(function () {
        $('.fileinput-remove').eq(3).click();
        $('#input-4').click().change(function () {
            var val = $('#input-4').val();
            var arr = val.split('\\');
            var my = arr[arr.length - 1];
            if (val.length == 0) {
                $('#fileBtn4').val('选择文件');
            } else {
                $('#fileTxt4').val(my);
            }
        })
    })
    $('#fileBtn5').click(function () {
        $('.fileinput-remove').eq(4).click();
        $('#input-5').click().change(function () {
            var val = $('#input-5').val();
            var arr = val.split('\\');
            var my = arr[arr.length - 1];
            if (val.length == 0) {
                $('#fileBtn5').val('选择文件');
            } else {
                $('#fileTxt5').val(my);
            }
        })
    })
    $('#fileBtn6').click(function () {
        $('.fileinput-remove').eq(5).click();
        $('#input-6').click().change(function () {
            var val = $('#input-6').val();
            var arr = val.split('\\');
            var my = arr[arr.length - 1];
            if (val.length == 0) {
                $('#fileBtn6').val('选择文件');
            } else {
                $('#fileTxt6').val(my);
            }
        })
    })

    //是否化解
    function HideReconcile() {
        if ($("#IsReconcileyes").is(':checked')) {
            $("#ReconcileID").show();
            $('#ReconcileDate').attr("required", "required");
            $('#Comment').attr("required", "required");
        }
        else {
            $("#ReconcileID").hide();
            $("#ReconcileDate").val("");
            $("#ReconcileContent").val("");
            $('#ReconcileDate').removeAttr("required");
            $('#Comment').removeAttr("required");
        }
    }

    //是否息访
    function HideStopPetition() {
        if ($("#IsStopPetitionyes").is(':checked')) {
            $("#StopPetitionID").show();
            $('#StopPetitionDate').attr("required", "required");
        }
        else {
            $("#StopPetitionID").hide();
            $("#StopPetitionDate").val("");
            $('#StopPetitionDate').removeAttr("required");
        }
     }



    function createTable(number) {
        pageindex = parseInt(number);
        //var petitionname = $('#petitionname').val();
        //var stopPetition = $('#StopPetitionTypeId').val();
        var petitionname = decodeURI(getUrlParam('petition'));
        if (petitionname == "null" || petitionname == undefined || petitionname == "undefined") {
            petitionname = $('#petitionname').val();
        }
        var stopPetition = decodeURI(getUrlParam('stopPetition'));
        if (stopPetition == "null" || stopPetition == undefined || stopPetition == "undefined") {
            stopPetition = $('#StopPetitionTypeId').val();
        }
        $('#petitionname').val(petitionname);
        $('#StopPetitionTypeId').val(stopPetition);
        var U
        if (!petitionname.length && stopPetition == 99) {
            $.ajax({
                method: 'post',
                url: "@Url.Action("GetCaseInfo", "Letter")",
                data: {
                    "pageindex": pageindex,
                    "pagesize": pagesize
                },
                cache: false,
                async: true,
                crossDomain: true,
                timeout: 20000,
                success: function (data) {
                    $('#tbodystr').empty().html(data);
                    if ($('#total').text() == 0) {
                        $('#tbodystr').empty().append('<tr><td colspan="7">暂无信息</td></tr>')
                        $('#data-pager').empty()
                    }
                    else {
                        var html2 = customPaging(pageindex, pagesize, $('#total').text());

                        $('#data-pager').empty().append(html2);
                    }
                    $.cookie('petition', "", {
                        path: '/'
                    })
                    $.cookie('stopPetition', "99", {
                        path: '/'
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $('#tbodystr').empty().append('<tr><td colspan="7">抱歉，出了点意外状况</td></tr>');
                    $('#data-pager').empty();
                    //closeLoading();
                }
            });
        }
        else {
            $.ajax({
                method: 'post',
                url: "@Url.Action("QueryCaseInfoList", "Letter")",
                data: {
                    "pageindex": pageindex,
                    "pagesize": pagesize,
                    "petitionname": petitionname,
                    "stopPetition":stopPetition
                },
                cache: false,
                async: true,
                crossDomain: true,
                timeout: 20000,
                success: function (data) {
                    $('#tbodystr').empty().html(data);
                    if ($('#total').text() == 0) {
                        $('#tbodystr').empty().append('<tr><td colspan="7">暂无信息</td></tr>')
                        $('#data-pager').empty()
                    }
                    else {
                        var html2 = customPaging(pageindex, pagesize, $('#total').text());

                        $('#data-pager').empty().append(html2);
                    }
                    $.cookie('petition', petitionname, {
                        path: '/'
                    })
                    $.cookie('stopPetition', stopPetition, {
                        path: '/'
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $('#tbodystr').empty().append('<tr><td colspan="7">抱歉，出了点意外状况</td></tr>');
                    $('#data-pager').empty();
                    //closeLoading();
                }
            });
        }


    }

    function SubmitBtn() {
        //var val = $('#searchAuto').val();
        //var a = $.inArray(val, searchLen);
        //if (a == -1) {
        //    $('#Num').val(0);
        //} else {
        //    $('#Num').val("");
        //}
        //$('#parsley-id-3').hide();

        if ($('#demoForm').parsley().isValid()) {
            $.confirm@*({
                title: '提示!',
                content: '记录不可修改或删除,请再次确认信息',
                buttons: {
                    confirm: {
                        btnClass: 'btn-danger',
                        text: '确定',
                        action: function () {
                            var inpu1 = $('#input-1').val();
                            var inpu2 = $('#input-2').val();
                            var inpu3 = $('#input-3').val();
                            var inpu4 = $('#input-4').val();
                            var inpu5 = $('#input-5').val();
                            var inpu6 = $('#input-6').val();
                            $('.fileinputa').each(function () {
                                if ($(this).val().length) {
                                    numArray.push($(this).val());
                                }
                            });
                            console.log(numArray);
                            if (inpu1.length) {
                                $('.fileinput-upload.fileinput-upload-button').eq(0).click();
                            }
                            if (inpu2.length) {
                                $('.fileinput-upload.fileinput-upload-button').eq(1).click();
                            }
                            if (inpu3.length) {
                                $('.fileinput-upload.fileinput-upload-button').eq(2).click();
                            }
                            if (inpu4.length) {
                                $('.fileinput-upload.fileinput-upload-button').eq(3).click();
                            }
                            if (inpu5.length) {
                                $('.fileinput-upload.fileinput-upload-button').eq(4).click();
                            }
                            if (inpu6.length) {
                                $('.fileinput-upload.fileinput-upload-button').eq(5).click();
                            }
                            if (!inpu1.length && !inpu2.length && !inpu3.length && !inpu4.length && !inpu5.length && !inpu6.length) {
                                $.ajax({
                                    cache: true,
                                    type: "POST",
                                    url:"@Url.Action("TransactAdd", "Letter")",
                                    data: $('#demoForm').serialize(),// 你的formid
                                    async: false,
                                    error: function(request) {
                                        alert("Connection error");
                                    },
                                    success: function (data) {
                                        $("#myModal").modal("hide");
                                        alertModal('提示！', data.Message);
                                        pageNumAll = $('.curr').text();
                                        createTable(pageNumAll);
                                    }
                                });
                            }
                    }
                },
                cancel: {
                    text: '取消',
                    action: function () {
                    }
                }
            }
            });*@
            var inpu1 = $('#input-1').val();
                            var inpu2 = $('#input-2').val();
                            var inpu3 = $('#input-3').val();
                            var inpu4 = $('#input-4').val();
                            var inpu5 = $('#input-5').val();
                            var inpu6 = $('#input-6').val();
                            $('.fileinputa').each(function () {
                                if ($(this).val().length) {
                                    numArray.push($(this).val());
                                }
                            });
                            console.log(numArray);
                            if (inpu1.length) {
                                $('.fileinput-upload.fileinput-upload-button').eq(0).click();
                            }
                            if (inpu2.length) {
                                $('.fileinput-upload.fileinput-upload-button').eq(1).click();
                            }
                            if (inpu3.length) {
                                $('.fileinput-upload.fileinput-upload-button').eq(2).click();
                            }
                            if (inpu4.length) {
                                $('.fileinput-upload.fileinput-upload-button').eq(3).click();
                            }
                            if (inpu5.length) {
                                $('.fileinput-upload.fileinput-upload-button').eq(4).click();
                            }
                            if (inpu6.length) {
                                $('.fileinput-upload.fileinput-upload-button').eq(5).click();
                            }
                            if (!inpu1.length && !inpu2.length && !inpu3.length && !inpu4.length && !inpu5.length && !inpu6.length) {
                                $.ajax({
                                    cache: true,
                                    type: "POST",
                                    url:"@Url.Action("TransactAdd", "Letter")",
                                    data: $('#demoForm').serialize(),// 你的formid
                                    async: false,
                                    error: function(request) {
                                        alert("Connection error");
                                    },
                                    success: function (data) {
                                        $("#myModal").modal("hide");
                                        alertModal('提示！', data.Message);
                                        pageNumAll = $('.curr').text();
                                        createTable(pageNumAll);
                                    }
                                });
                            }

            return false;
        }
    }


    function search() {
            clearUrlParam();
            createTable(1);
        return false;
    }

    function AddModal(row) {
        fileNum = 0;
        $('#myModalLabel').text('新增办理记录');
        $('#status').val("");
        $('#ID').val($("table tr:eq(" + row + ") th:eq(0)").text());
        $('#searchAuto').val($("table tr:eq(" + row + ") td:eq(0)").text());

        $('#fileTxt1').val("");
        $('#fileTxt2').val("");
        $("#StopPetitionDate").val("");
        $("#ReconcileDate").val("");
        $("#TransactDate").val("");
        $("#Comment").val("");
        $('#demoForm .parsley-error').removeClass('parsley-error');
        $('#demoForm .parsley-errors-list').hide();

        HideReconcile();
        HideStopPetition();
    }

    function initFileInput1(ctrlName) {
        var url = "@Url.Action("UpFiles", "Base")";

        var control = $('#' + ctrlName);
        control.fileinput({
            language: 'zh', //设置语言
            uploadUrl: url, //上传的地址
            uploadAsync: true, //默认异步上传
            uploadExtraData: { "name": "input1[]"},
            showUpload: true, //是否显示上传按钮
            showRemove: true, //显示移除按钮
            showPreview: false, //是否显示预览
            showCaption: false,//是否显示标题
            dropZoneEnabled: false,//是否显示拖拽区域
            maxFileSize: 10240,//单位为kb，如果为0表示不限制文件大小
            maxFileCount: 1, //表示允许同时上传的最大文件个数
        }).on("fileuploaded", function (event, data) {
            console.log('文件上传成功！' + data.Message);
            $('#fileTxt1').val(data.response.Message);
             fileNum++;
            if (fileNum == numArray.length) {
                $.ajax({
                    cache: true,
                    type: "POST",
                    url:"@Url.Action("TransactAdd", "Letter")",
                    data: $('#demoForm').serialize(),
                    async: false,
                    error: function(request) {
                        alert("Connection error");
                    },
                    success: function (data) {
                        $("#myModal").modal("hide");
                        alertModal('提示！', data.Message);
                        pageNumAll = $('.curr').text();
                        createTable(pageNumAll);
                    }
                });
            }
        }).on('filebatchuploaderror', function (event, data, msg) {
            alertModal('提示！', '息访承诺书上传失败');
        })
    }

    function initFileInput2(ctrlName) {
        var url = "@Url.Action("UpFiles", "Base")";

        var control = $('#' + ctrlName);
        control.fileinput({
            language: 'zh', //设置语言
            uploadUrl: url, //上传的地址
            uploadAsync: true, //默认异步上传
            uploadExtraData: { "name": "input2[]"},
            showUpload: true, //是否显示上传按钮
            showRemove: true, //显示移除按钮
            showPreview: false, //是否显示预览
            showCaption: false,//是否显示标题
            dropZoneEnabled: false,//是否显示拖拽区域
            maxFileSize: 10240,//单位为kb，如果为0表示不限制文件大小
            maxFileCount: 1, //表示允许同时上传的最大文件个数
        }).on("fileuploaded", function (event, data) {
            console.log('文件上传成功！' + data.Message);
            $('#fileTxt2').val(data.response.Message);
            fileNum++;
            if (fileNum == numArray.length) {
                $.ajax({
                    cache: true,
                    type: "POST",
                    url:"@Url.Action("TransactAdd", "Letter")",
                    data: $('#demoForm').serialize(),
                    async: false,
                    error: function(request) {
                        alert("Connection error");
                    },
                    success: function (data) {
                        $("#myModal").modal("hide");
                        alertModal('提示！', data.Message);
                        pageNumAll = $('.curr').text();
                        createTable(pageNumAll);
                    }
                });
            }
        }).on('filebatchuploaderror', function(event, data, msg) {
            alertModal('提示！', '答复意见书上传失败');
        })
    }

    function initFileInput3(ctrlName) {
        var url = "@Url.Action("UpFiles", "Base")";

        var control = $('#' + ctrlName);
        control.fileinput({
            language: 'zh', //设置语言
            uploadUrl: url, //上传的地址
            uploadAsync: true, //默认异步上传
            uploadExtraData: { "name": "input3[]"},
            showUpload: true, //是否显示上传按钮
            showRemove: true, //显示移除按钮
            showPreview: false, //是否显示预览
            showCaption: false,//是否显示标题
            dropZoneEnabled: false,//是否显示拖拽区域
            maxFileSize: 10240,//单位为kb，如果为0表示不限制文件大小
            maxFileCount: 1, //表示允许同时上传的最大文件个数
        }).on("fileuploaded", function (event, data) {
            console.log('文件上传成功！' + data.Message);
            $('#fileTxt3').val(data.response.Message);
              fileNum++;
            if (fileNum == numArray.length) {
                $.ajax({
                    cache: true,
                    type: "POST",
                    url:"@Url.Action("TransactAdd", "Letter")",
                    data: $('#demoForm').serialize(),
                    async: false,
                    error: function(request) {
                        alert("Connection error");
                    },
                    success: function (data) {
                        $("#myModal").modal("hide");
                        alertModal('提示！', data.Message);
                        pageNumAll = $('.curr').text();
                        createTable(pageNumAll);
                    }
                });
            }
        }).on('filebatchuploaderror', function(event, data, msg) {
            alertModal('提示！', '告知上传失败');
        })
    }

    function initFileInput4(ctrlName) {
        var url = "@Url.Action("UpFiles", "Base")";

        var control = $('#' + ctrlName);
        control.fileinput({
            language: 'zh', //设置语言
            uploadUrl: url, //上传的地址
            uploadAsync: true, //默认异步上传
            uploadExtraData: { "name": "input4[]"},
            showUpload: true, //是否显示上传按钮
            showRemove: true, //显示移除按钮
            showPreview: false, //是否显示预览
            showCaption: false,//是否显示标题
            dropZoneEnabled: false,//是否显示拖拽区域
            maxFileSize: 10240,//单位为kb，如果为0表示不限制文件大小
            maxFileCount: 1, //表示允许同时上传的最大文件个数
        }).on("fileuploaded", function (event, data) {
            console.log('文件上传成功！' + data.Message);
            $('#fileTxt4').val(data.response.Message);
              fileNum++;
            if (fileNum == numArray.length) {
                $.ajax({
                    cache: true,
                    type: "POST",
                    url:"@Url.Action("TransactAdd", "Letter")",
                    data: $('#demoForm').serialize(),
                    async: false,
                    error: function(request) {
                        alert("Connection error");
                    },
                    success: function (data) {
                        $("#myModal").modal("hide");
                        alertModal('提示！', data.Message);
                        pageNumAll = $('.curr').text();
                        createTable(pageNumAll);
                    }
                });
            }
    }).on('filebatchuploaderror', function(event, data, msg) {
        alertModal('提示！', '双向上传失败');
    })
    }

    function initFileInput5(ctrlName) {
        var url = "@Url.Action("UpFiles", "Base")";

        var control = $('#' + ctrlName);
        control.fileinput({
            language: 'zh', //设置语言
            uploadUrl: url, //上传的地址
            uploadAsync: true, //默认异步上传
            uploadExtraData: { "name": "input5[]"},
            showUpload: true, //是否显示上传按钮
            showRemove: true, //显示移除按钮
            showPreview: false, //是否显示预览
            showCaption: false,//是否显示标题
            dropZoneEnabled: false,//是否显示拖拽区域
            maxFileSize: 10240,//单位为kb，如果为0表示不限制文件大小
            maxFileCount: 1, //表示允许同时上传的最大文件个数
        }).on("fileuploaded", function (event, data) {
            console.log('文件上传成功！' + data.Message);
            $('#fileTxt5').val(data.response.Message);
             fileNum++;
            if (fileNum == numArray.length) {
                $.ajax({
                    cache: true,
                    type: "POST",
                    url:"@Url.Action("TransactAdd", "Letter")",
                    data: $('#demoForm').serialize(),
                    async: false,
                    error: function(request) {
                        alert("Connection error");
                    },
                    success: function (data) {
                        $("#myModal").modal("hide");
                        alertModal('提示！', data.Message);
                        pageNumAll = $('.curr').text();
                        createTable(pageNumAll);
                    }
                });
            }
    }).on('filebatchuploaderror', function(event, data, msg) {
        alertModal('提示！', '复查上传失败');
    })
    }

    function initFileInput6(ctrlName) {
        var url = "@Url.Action("UpFiles", "Base")";

        var control = $('#' + ctrlName);
        control.fileinput({
            language: 'zh', //设置语言
            uploadUrl: url, //上传的地址
            uploadAsync: true, //默认异步上传
            uploadExtraData: { "name": "input6[]"},
            showUpload: true, //是否显示上传按钮
            showRemove: true, //显示移除按钮
            showPreview: false, //是否显示预览
            showCaption: false,//是否显示标题
            dropZoneEnabled: false,//是否显示拖拽区域
            maxFileSize: 10240,//单位为kb，如果为0表示不限制文件大小
            maxFileCount: 1, //表示允许同时上传的最大文件个数
        }).on("fileuploaded", function (event, data) {
            console.log('文件上传成功！' + data.Message);
            $('#fileTxt6').val(data.response.Message);
              fileNum++;
            if (fileNum == numArray.length) {
                $.ajax({
                    cache: true,
                    type: "POST",
                    url:"@Url.Action("TransactAdd", "Letter")",
                    data: $('#demoForm').serialize(),
                    async: false,
                    error: function(request) {
                        alert("Connection error");
                    },
                    success: function (data) {
                        $("#myModal").modal("hide");
                        alertModal('提示！', data.Message);
                        pageNumAll = $('.curr').text();
                        createTable(pageNumAll);
                    }
                });
            }
    }).on('filebatchuploaderror', function(event, data, msg) {
        alertModal('提示！', '办里情况上传失败');
    })
    }

    function clearSearch() {
        $('#petitionname').val("");
        document.getElementById("StopPetitionTypeId").selectedIndex = 0;
        clearUrlParam();
        createTable(1);
    }

</script>
