﻿@using Model
@model LeaderMeetingModel
@{
    ViewBag.Title = "LeaderMeeting";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string title = ViewData.GetString("title");
    string content = ViewData.GetString("content");
}

<h2 id="title" class="headline">党政领导接访</h2>
<div class="row-fluid">
    <div class="span12">
        <div class="x_panel">
            <div class="row-fluid">
                <div class="span12" style="position:relative">
                    <div class="span6">
                        @if (Session["CurrentUser"] != null)
                        {
                            var currentUser = Session["CurrentUser"] as Model.t_User;
                            if (currentUser.UserRoleList.Contains("1") || currentUser.UserRoleList.Contains("2"))
                            {
                                <div class="dataTables_length" id="datatable_length">
                                    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal" onclick="AddModal()">新增接访记录</button>
                                </div>
                            }
                        }
                    </div>
                    <div class="span2 " style="position:relative;z-index:1;margin-left: 8.5%;">
                        <input id="petitionname" type="text" class="span12 " placeholder="信访人">
                    </div>
                    <div class="span2" style="position:relative;z-index:1;">
                        @Html.DropDownListFor(n => n.LeaderName, ViewData["selectLeader"] as SelectList, "请选择党政领导", new { @Id = "selectLeader", @class = "span12 form-control" })
                    </div>
                    <div class="span2" style="position:absolute;z-index:0;right:0">
                        <button class="btn btn-primary " type="button" onclick="clearSearch()" style="float:right">清除</button>
                        <button class="btn btn-primary " type="button" onclick="search()" style="float:right">搜索</button>
                    </div>
                </div>
                
            </div>

            <div class="x_content">

                <table class="table table-bordered">
                    <thead>
                        <tr id="thead">
                            <th>党政领导姓名</th>
                            <th>职务</th>
                            <th>参与案件</th>
                            <th>接访次数</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody id="tbodystr">
                       
                    </tbody>
                </table>
                <div id="data-pager">
                   
                </div>
            </div>
        </div>
    </div>
</div>


<div class="clearfix"></div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">新增接访记录</h4>
            </div>
            @using (Html.BeginForm("", "", FormMethod.Post, new { @Id = "demoForm" }))
            {
                <div class="modal-body">
                    <div class="row-fluid">
                        <div class="form-group hidden">
                            <div class="span4">
                                <label for="ID" class="modal-label">ID</label>
                            </div>
                            <div class="span6">
                                @*@Html.TextBoxFor(n => n.UserId, new { @Id = "ID", @class = "span12" })*@
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="form-group">
                            <div class="span4">
                                <label for="selectNumber" class="modal-label">案件</label>
                            </div>
                            <div class="span6">
                                @Html.TextBoxFor(n => n.AppealNumber, new { @Id = "searchAuto", @class = "span12", autocomplete = "off", placeholder = "请输入信访人姓名", @onblur = "searchNum()" })
                                <ul class="parsley-errors-list-err filled" id="parsley-id-3" style="display: none"><li class="parsley-required">案件不存在或为空</li></ul>
                                <input type='text' class="hidden" id="Num" data-parsley-checknum data-parsley-checknum-message="案件不存在或为空" />
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="form-group">
                            <div class="span4">
                                <label for="selectLeaderM" class="modal-label">党政领导</label>
                            </div>
                            <div class="span6">
                               @Html.DropDownListFor(n => n.LeaderID, ViewData["selectLeader"] as SelectList, "请选择党政领导", new { @Id = "selectLeaderM", @class = "span12 form-control" , @required = "required" })
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="form-group">
                            <div class="span4">
                                <label for="ReceptionDate" class="modal-label">接访日期</label>
                            </div>
                            <div class="span6">
                               @Html.TextBoxFor(n => n.ReceptionDate, new { @id= "ReceptionDate", @class = "span12 jedate", @readonly = "readonly", placeholder = "年/月/日", @style = "cursor: default", @required = "required" })
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="form-group">
                            <div class="span4">
                                <label for="ReceptionDate" class="modal-label">接访地点</label>
                            </div>
                            <div class="span6">
                                @Html.TextBoxFor(n => n.ReceptionAddress, new { @id = "ReceptionAddress", @class = "span12", @required = "required" })
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="form-group">
                            <div class="span4">
                                <label for="ReceptionDate" class="modal-label">参与人员</label>
                            </div>
                            <div class="span6">
                                @Html.TextBoxFor(n => n.ReceptionPerson, new { @id = "ReceptionPerson", @class = "span12"})
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="form-group">
                            <div class="span4">
                                <label for="Comment" class="modal-label">接待意见</label>
                            </div>
                            <div class="span6">
                                @Html.TextAreaFor(n => n.ReceptionComment, new { @Id = "Comment", @class = "form-control span12 txt-overflow", @rows = "4" })
                            </div>
                        </div>
                    </div>
                </div>
                <input class="hidden" value="0" data-parsley-checkdelaytime/>
                <div class="modal-footer">
                    <input id="status" class="hidden" />
                    <button class="btn btn-primary" onclick="return SubmitBtn()">保存</button>
                    <button type="button" class="btn btn-gray" data-dismiss="modal">关闭</button>
                </div>
            }

        </div>
    </div>
</div>

<div class="modal fade" id="SeeLeader" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">查看领导信息</h4>
            </div>
            <form>
                <div id="seeModal" class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-gray" data-dismiss="modal">关闭</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="CountModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="width: 678px;margin-left: -338px;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">参与案件</h4>
            </div>
            <div class="modal-body">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="">
                            <div class="x_content">

                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>信访人</th>
                                            <th>责任单位</th>
                                            <th>稳控单位</th>
                                            <th>内容</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbodystrRecord"></tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-gray" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<script>

    var start1 = {
        //isinitVal: true,
        initAddVal: [-1],
        format: 'YYYY-MM-DD',
        maxDate: '2099-12-31 23:59:59', //最大日期为当前日期
        choosefun: function (val) {
            var thisId = $('#ReceptionDate');
            if (thisId.val() != "") {
                thisId.removeClass('parsley-error').next().hide();
            }
        },
        okfun: function (val) {
            var thisId = $('#ReceptionDate');
            if (thisId.val() != "") {
                thisId.removeClass('parsley-error').next().hide();
            }
        }
    };

    window.Parsley
        .addValidator('checkdelaytime', {
            validateString: function (value) {
                $('#demoForm .parsley-errors-list').show();
                return true;//校验不通过,会将data-parsley--message对应的信息输出
            }
        });
    window.Parsley
        .addValidator('checknum', {
            validateString: function (value) {
                if (value == 0) {
                    $('#searchAuto').addClass("parsley-error");

                    return false;//校验不通过,会将data-parsley-checkdelaytime-message对应的信息输出

                }
                return true;
            }
        });
    $(function () {
        $("#Password").attr({ 'data-parsley-equalto': "#password1" });
        $('#searchAuto').attr({ 'data-provide': "typeahead" })
        var page = getUrlParam('p');
        if (page == null || page == undefined || page == "undefined") {
            page = 1
        }
        createTable(page);
        $.cookie('leaderId', undefined, {
            path: '/'
        })
        $("#searchAuto").typeahead({
             source: function (query, process) {
                 console.info("query" + query)
                 return $.ajax({
                     url: '@Url.Action("GetNumTitle", "Auto")',
                     type: 'post',
                     data: { appealNumber: query },
                     success: function (result) {
                        var resultObj = JSON.parse(result.Message);
                        searchLen = resultObj;
                        return process(resultObj);
                     },
                 });
            }
        });
    })

    var searchLen;
    var th = '<th>党政领导姓名</th>' +
        '<th>职务</th>' +
        '<th>参与案件</th>' +
        '<th>接访次数</th>' +
        '<th>操作</th>';
    var oldTh = th;
    var title = "党政领导接访"
    var oldTitle = title;
    var pagesize = 15;
    var pageindex = 1;

    function createTable(number) {
        pageindex = parseInt(number);
        var petitionname = $('#petitionname').val();
        var leaderId = decodeURI(getUrlParam('leaderId'));
        if (leaderId == "null" || leaderId == undefined || leaderId == "undefined") {
            leaderId = $('#selectLeader').val();
        }
        $('#selectLeader').val(leaderId);
        if (!leaderId.length && !petitionname.length) {
            $.ajax({
                method: 'post',
                url: "@Url.Action("GetMeeting", "LeaderMeeting")",
                data: {
                    "pageindex": pageindex,
                    "pagesize": pagesize
                },
            cache: false,
            async: true,
            crossDomain: true,
            timeout: 20000,
            success: function (data) {
                $('#title').empty().append(title)
                $('#thead').empty().append(th)
                $('#tbodystr').empty().html(data);
                if ($('#total').text() == 0) {
                    $('#tbodystr').empty().append('<tr><td colspan="5">暂无信息</td></tr>')
                    $('#data-pager').empty()
                }
                else {
                    var html2 = customPaging(pageindex, pagesize, $('#total').text());

                    $('#data-pager').empty().append(html2);
                }
                $.cookie('leaderId', "", {
                    path: '/'
                })
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $('#tbodystr').empty().append('<tr><td colspan="7">抱歉，出了点意外状况</td></tr>');
                $('#data-pager').empty();
                //closeLoading();
            }
        });
        }
        else {
            $.ajax({
                method: 'post',
                url: "@Url.Action("QueryMeeting", "LeaderMeeting")",
                data: {
                    "pageindex": pageindex,
                    "pagesize": pagesize,
                    "leaderId": leaderId,
                    "petitionName": $('#petitionname').val()
                },
                cache: false,
                async: true,
                crossDomain: true,
                timeout: 20000,
                success: function (data) {
                    $('#title').empty().append(title)
                    $('#thead').empty().append(th)
                    $('#tbodystr').empty().html(data);
                    if ($('#total').text() == 0) {
                        $('#tbodystr').empty().append('<tr><td colspan="5">暂无信息</td></tr>')
                        $('#data-pager').empty()
                    }
                    else {
                        var html2 = customPaging(pageindex, pagesize, $('#total').text());

                        $('#data-pager').empty().append(html2);
                    }
                    $.cookie('leaderId', leaderId, {
                        path: '/'
                    })
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $('#tbodystr').empty().append('<tr><td colspan="7">抱歉，出了点意外状况</td></tr>');
                    $('#data-pager').empty();
                    //closeLoading();
                }
            });
        }


    }
    function search() {
        var petitionname = $('#petitionname').val();
        if (petitionname.length) {
            th = '<th>信访人</th>' +
                '<th>党政领导姓名</th>' +
                '<th>职务</th>' +
                '<th>案件内容</th>' +
                '<th>接访日期</th>' +
                '<th>参与人员</th>' +
                '<th>接待意见</th>' +
                '<th>操作</th>'
            title = "搜索结果"
        } else {
            th = oldTh
            title = oldTitle
        }

        var leaderId = $('#selectLeader').val();
        clearUrlParam();
        createTable(1);
        return false;
    }
    function searchNum() {
        var val = $('#searchAuto').val();
        var a = $.inArray(val, searchLen);
        if (searchLen.length == 0 && a == -1) {
            $('#Num').val(0);
            $('#searchAuto').addClass("parsley-error");
            $('#parsley-id-3').show();
            $('#parsley-id-7').hide();
        } else {
            $('#searchAuto').removeClass("parsley-error");
            $('#parsley-id-3').hide();
            $('#parsley-id-7').hide();
        }
    }
    function SubmitBtn() {
        var val = $('#searchAuto').val();
        var a = $.inArray(val, searchLen);
        if (a == -1) {
            $('#Num').val(0);
        } else {
            $('#Num').val("");
        }
        $('#parsley-id-3').hide();
        if ($('#demoForm').parsley().isValid()) {
            var status = $('#status').val();
            if (status == 1)
            {
                //修改
                $.ajax({
                    cache: true,
                    type: "POST",
                    url:"@Url.Action("EditUser", "LeaderMeeting")",
                    data: $('#demoForm').serialize(),// 你的formid
                async: false,
                error: function(request) {
                    alert("Connection error");
                },
                success: function (data) {
                    $("#myModal").modal("hide");
                    alertModal('提示！', data.Message);
                    createTable(pageNumAll);
                }
                });
            }
            else
            {
                //添加
                $.ajax({
                    cache: true,
                    type: "POST",
                    url:"@Url.Action("AddMeetingList", "LeaderMeeting")",
                    data: $('#demoForm').serialize(),// 你的formid
                    async: false,
                    error: function(request) {
                        alert("Connection error");
                    },
                    success: function (data) {
                        $("#myModal").modal("hide");
                        alertModal('提示！', data.Message);
                        createTable(1);
                       // /LeaderMeeting/LeaderMeeting
                    }
                });
        }
            return false;
        }
    }

    function SeeModal(row) {
        $('#myModalLabel').text('查看接访记录');
        $('#ID').val($("table tr:eq(" + row + ") th:eq(0)").text());
        $('#ReceptionAddress').val($("table tr:eq(" + row + ") th:eq(1)").text()).attr("disabled", "disabled");
        $('#ReceptionPerson').val($("table tr:eq(" + row + ") th:eq(2)").text()).attr("disabled", "disabled");
        $('#Comment').val($("table tr:eq(" + row + ") th:eq(3)").text()).attr("disabled","disabled");
        $('#demoForm .parsley-error').removeClass('parsley-error');
        $('#demoForm .parsley-errors-list').hide();
        $('#searchAuto').val($("table tr:eq(" + row + ") th:eq(4)").text()).attr("disabled", "disabled ");
        $('#selectLeaderM').attr("disabled", "disabled").find("option:selected").text($("table tr:eq(" + row + ") td:eq(1)").text()+" ("+$("table tr:eq(" + row + ") td:eq(2)").text()+")");
        $('#ReceptionDate').val($("table tr:eq(" + row + ") td:eq(4)").text()).attr("disabled", "disabled ");
        $('#save').hide();
    }

    function AddModal() {
        $('#myModalLabel').text('新增接访记录');
        $('#status').val("");
        $('#ID').val("");
        $('#ReceptionAddress').val("").removeAttr("disabled");
        $('#ReceptionPerson').val("").removeAttr("disabled");
        $('#Comment').val("").removeAttr("disabled");
        $('#searchAuto').val("").removeAttr("disabled");
        $('#ReceptionDate').val("").removeAttr("disabled");

        $('#demoForm .parsley-error').removeClass('parsley-error');
        $('#demoForm .parsley-errors-list').hide();

        $('#selectLeaderM').val("").removeAttr("disabled").find("option:selected").text("请选择党政领导");
        $('#save').show();
    }
    function SeeLeaderModal(id) {
        $.ajax({
            method: 'post',
            url: "@Url.Action("GetLeaderDetails", "LeaderMeeting")",
            data: {
                "leaderId": id
            },
            cache: false,
            async: true,
            crossDomain: true,
            timeout: 20000,
            success: function (data) {
                $('#seeModal').empty().append(data);
                var nature = $("#sexVal").val();
                switch (nature) {
                    case "1":
                        $('input[name="LeaderSex"][value="1"]').prop('checked', true);
                        break;
                    case "0":
                        $('input[name="LeaderSex"][value="0"]').prop('checked', true);
                        break;
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {

            }
        });
    }
    function SeeCaseInfo(id) {
        $.ajax({
            method: 'post',
            url: "@Url.Action("GetCaseInfoList", "LeaderMeeting")",
            data: {
                "leaderId": id
            },
            cache: false,
            async: true,
            crossDomain: true,
            timeout: 20000,
            success: function (data) {
                $('#tbodystrRecord').empty().append(data);

                $('.tdstr').each(function (i, v) {
                    var val = $(this).text()
                    //textHidden(val, 100, ".tdstr")
                    $(this).text(textHidden(val, 100, ".tdstr"))
                });
            },
            error: function (jqXHR, textStatus, errorThrown) {

            }
        });
    }
    function Del(id) {
        $.confirm({
            title: '提示!',
            content: '确定要删除这条记录吗',
            buttons: {
                confirm: {
                    btnClass: 'btn-danger',
                    text: '确定',
                    action: function () {
                        $.ajax({
                            cache: true,
                            type: "POST",
                            url:"@Url.Action("DelMeetingList", "LeaderMeeting")" ,
                            data: {"id" : id},// 你的formid
                            async: false,
                            error: function(request) {
                                alert("Connection error");
                            },
                            success: function (data) {
                                alertModal('提示！',data.Message);
                                createTable(pageNumAll);
                            }
                        });
                    }
                },
                cancel: {
                    text: '取消',
                    action: function () {
                    }
                }
            }
        });
    }
    function clearSearch() {
        location.reload();
    }
</script>
