﻿@using Model
@model LeaderMeetingModel
@{
    ViewBag.Title = "MeetingList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int ID = ViewData.GetInt("ID");
}

<h2 class="headline">接访记录</h2>
<div class="row-fluid">
    <div class="span12">
        <div class="x_panel">
            <div class="row-fluid">
                <div class="span6">
                    @*@if (Session["CurrentUser"] != null)
                    {
                        var currentUser = Session["CurrentUser"] as Model.t_User;
                        if (currentUser.UserRoleList.Contains("1") || currentUser.UserRoleList.Contains("2"))
                        {
                            <div class="dataTables_length" id="datatable_length">
                                    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal" onclick="AddModal()">新增接访记录</button>
                            </div>
                        }
                    }*@
                </div>
                @*<div class="span2 " style="position:relative;z-index:1;margin-left: 8.5%;">
                   //////<input id="number" type="text" class="span12 " placeholder="案件编号">
                    <input id="number" autocomplete="off" class="span12" type="text" data-provide="typeahead" placeholder="案件编号">
                </div>*@
                <div class="span2" style="position:relative;z-index:1;margin-left: 8.5%;">
                    @Html.DropDownListFor(n => n.LeaderName, ViewData["selectLeader"] as SelectList, "请选择党政领导", new { @Id = "selectLeader", @class = "span12 form-control" })
                </div>
                <div class="span1 ">
                    <input class="span12 jedate" data-val="true" id="startDate" name="CheckingDate" placeholder="开始日期" readonly="readonly" style="cursor: default" type="text" value="">
                </div>
                <div class="span1 " style="position: relative;z-index: 1;">
                    <input class="span12 jedate" data-val="true" id="endDate" name="CheckingDate" placeholder="结束日期" readonly="readonly" style="cursor: default" type="text" value="">
                </div>
                <div class="span2" style="position:absolute;z-index:0;right:4.5%">
                    <button class="btn btn-primary " type="button" onclick="clearSearch()" style="float:right">清除</button>
                    <button class="btn btn-primary " type="button" onclick="search()" style="float:right">搜索</button>
                </div>
            </div>

            <div class="x_content">

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            @*<th>案件编号</th>*@
                            <th>党政领导姓名</th>
                            <th>职务</th>
                            <th>案件内容</th>
                            <th>接访日期</th>
                            <th>参与人员</th>
                            <th>接待意见</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody id="tbodystr"></tbody>
                </table>
                <div id="data-pager">
                    
                </div>
            </div>
        </div>
    </div>
</div>


<div class="clearfix"></div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">新增接访记录</h4>
            </div>
            @using (Html.BeginForm("", "", FormMethod.Post, new { @Id = "demoForm" }))
    {
        <div class="modal-body">
            <div class="row-fluid">
                <div class="form-group hidden">
                    <div class="span4">
                        <label for="ID" class="modal-label">ID</label>
                    </div>
                    <div class="span6">
                        @*@Html.TextBoxFor(n => n.UserId, new { @Id = "ID", @class = "span12" })*@
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="form-group">
                    <div class="span4">
                        <label for="selectNumber" class="modal-label">案件</label>
                    </div>
                    <div class="span6">
                        @Html.TextBoxFor(n => n.AppealNumber, new { @Id = "searchAuto", @class = "span12 form-control", autocomplete = "off", placeholder = "请输入案件编号或标题", @onblur = "searchNum()" })
                        <ul class="parsley-errors-list-err filled" id="parsley-id-3" style="display: none"><li class="parsley-required">案件编号不存在或为空</li></ul>
                        <input type='text' class="hidden" id="Num" data-parsley-checknum data-parsley-checknum-message="案件编号不存在或为空" />
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="form-group">
                    <div class="span4">
                        <label for="selectLeaderM" class="modal-label">党政领导</label>
                    </div>
                    <div class="span6">
                        @Html.DropDownListFor(n => n.LeaderID, ViewData["selectLeader"] as SelectList, "请选择党政领导", new { @Id = "selectLeaderM", @class = "span12 form-control", @required = "required" })
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="form-group">
                    <div class="span4">
                        <label for="ReceptionDate" class="modal-label">接访日期</label>
                    </div>
                    <div class="span6">
                        @*<input class="span12 jedate" data-val="true" id="" name="CheckingDate" placeholder="年/月/日" readonly="readonly" style="cursor: default" type="text" value="">*@
                        @Html.TextBoxFor(n => n.ReceptionDate, new { @id = "ReceptionDate", @class = "span12 jedate", @readonly = "readonly", placeholder = "年/月/日", @style = "cursor: default", @required = "required" })
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="form-group">
                    <div class="span4">
                        <label for="ReceptionDate" class="modal-label">接访地点</label>
                    </div>
                    <div class="span6">
                        @*<input class="span12 jedate" data-val="true" id="" name="CheckingDate" placeholder="年/月/日" readonly="readonly" style="cursor: default" type="text" value="">*@
                        @Html.TextBoxFor(n => n.ReceptionAddress, new { @id = "ReceptionAddress", @class = "form-control span12", @required = "required" })
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="form-group">
                    <div class="span4">
                        <label for="ReceptionDate" class="modal-label">参与人员</label>
                    </div>
                    <div class="span6">
                        @*<input class="span12 jedate" data-val="true" id="" name="CheckingDate" placeholder="年/月/日" readonly="readonly" style="cursor: default" type="text" value="">*@
                        @Html.TextBoxFor(n => n.ReceptionPerson, new { @id = "ReceptionPerson", @class = "form-control span12", @required = "required" })
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="form-group">
                    <div class="span4">
                        <label for="Comment" class="modal-label">接待意见</label>
                    </div>
                    <div class="span6">
                        @Html.TextAreaFor(n => n.ReceptionComment, new { @Id = "Comment", @class = "form-control span12 txt-overflow", @rows = "4", @required = "required" })
                    </div>
                </div>
            </div>
        </div>
        <input class="hidden" value="0" data-parsley-checkdelaytime/>
        <div class="modal-footer">
            <input id="status" class="hidden" />
            <button id="save" class="btn btn-primary" onclick="return SubmitBtn()">保存</button>
            <button type="button" class="btn btn-gray" data-dismiss="modal">关闭</button>
        </div>
}

        </div>
    </div>
</div>

<script>
    window.Parsley
        .addValidator('checkdelaytime', {
            validateString: function (value) {
                $('#demoForm .parsley-errors-list').show();
                return true;
            }
        });
    window.Parsley
        .addValidator('checknum', {
            validateString: function (value) {
                if (value == 0) {
                    $('#searchAuto').addClass("parsley-error");

                    return false;//校验不通过,会将data-parsley-checkdelaytime-message对应的信息输出

                }
                return true;
            }
        });
    $(document).ready(function (e) {
        var counter = 0;
        if (window.history && window.history.pushState) {
            $(window).on('popstate', function () {
                window.history.pushState('forward', null, '#');
                window.history.forward(1);
                pageLink = $.cookie('pageLink')
                var leaderId = $.cookie('leaderId')
                var urlStr = "@Url.Action("LeaderMeeting")#/?p=" + pageLink + "&leaderId=" + leaderId;
                $.cookie('pageLink', undefined, {
                    path: '/'
                });
                window.location.href = urlStr;
            });
        }

        window.history.pushState('forward', null, '#'); //在IE中必须得有这两行
        window.history.forward(1);
    });
    $(function () {
        $("#Password").attr({ 'data-parsley-equalto': "#password1" });
        $('#searchAuto').attr({ 'data-provide': "typeahead" })
        createTable(1);
         $("#searchAuto").typeahead({
             source: function (query, process) {
                 console.info("query" + query)
                 return $.ajax({
                     url: '@Url.Action("GetNumTitle", "Auto")',
                     type: 'post',
                     data: { appealNumber: query },
                     success: function (result) {
                         var resultObj = JSON.parse(result.Message);
                         searchLen = resultObj;
                         return process(resultObj);
                     },
                 });
             }
         });
    })
    var searchLen;
    var pagesize = 15;
    var pageindex = 1;

    function createTable(number) {
        pageindex = number;
        //var number = $('#number').val();
        var selectLeader = $('#selectLeader').val();
        var startDate = $('#startDate').val();
        var endDate = $('#endDate').val();
        selectLeader == "" ? selectLeader = 0 : selectLeader = $('#selectLeader').val();
        if (selectLeader==0 && !startDate.length && !endDate.length)
        {
            $.ajax({
                method: 'post',
                url: "@Url.Action("GetMeetingList", "LeaderMeeting")",
                data: {
                    "id":@ID,
                    "pageindex": pageindex,
                    "pagesize": pagesize
                },
            cache: false,
            async: true,
            crossDomain: true,
            timeout: 20000,
            success: function (data) {
                //$('#tbodystr').empty();
                $('#tbodystr').empty().html(data);
                if($('#total').text() == 0){
                    $('#tbodystr').empty().append('<tr><td colspan="8">暂无信息</td></tr>')
                    $('#data-pager').empty()
                }
                else
                {
                    var html2 = customPaging(pageindex, pagesize, $('#total').text());

                    $('#data-pager').empty().append(html2);
                    $('.tdstr').each(function (i, v) {
                        var val = $(this).text()
                        //textHidden(val, 100, ".tdstr")
                        $(this).text(textHidden(val, 100, ".tdstr"))
                    });
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $('#tbodystr').empty().append('<tr><td colspan="8">抱歉，出了点意外状况</td></tr>');
                $('#data-pager').empty();
                //closeLoading();
            }
        });
        }
        else
        {
            $.ajax({
                method: 'post',
                url: "@Url.Action("QueryMeetingList", "LeaderMeeting")",
                data: {
                    "id": selectLeader,
                    "pageindex": pageindex,
                    "pagesize": pagesize,
                    "selectLeader":selectLeader,
                    "startDate":startDate,
                    "endDate":endDate
                },
            cache: false,
            async: true,
            crossDomain: true,
            timeout: 20000,
            success: function (data) {
                //$('#tbodystr').empty();
                $('#tbodystr').empty().html(data);
                var total = $('#total').text();
                if (total == 0){
                    $('#tbodystr').empty().html('<tr><td colspan="8">暂无信息</td></tr>')
                    $('#data-pager').empty()
                }
                else
                {
                    var html2 = customPaging(pageindex, pagesize, $('#total').text());

                    $('#data-pager').empty().append(html2);
                }
              //  searchPage();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $('#tbodystr').empty().append('<tr><td colspan="7">抱歉，出了点意外状况</td></tr>');
                $('#data-pager').empty();
                //closeLoading();
            }
        });

        }


    }
    function search() {
        var selectLeader = $('#selectLeader').val();
        var startDate = $('#startDate').val();
        var endDate = $('#endDate').val();
        if (selectLeader != "" || startDate.length || endDate.length) {
            createTable(1);
        } else {
            createTable(1);
        }
        return false;
    }
    function searchNum() {
        var val = $('#searchAuto').val();
        var a = $.inArray(val, searchLen);
        if (searchLen.length == 0 && a == -1) {
            $('#Num').val(0);
            $('#searchAuto').addClass("parsley-error");
            $('#parsley-id-3').show();
            $('#parsley-id-7').hide();
        } else {
            $('#searchAuto').removeClass("parsley-error");
            $('#parsley-id-3').hide();
            $('#parsley-id-7').hide();
        }
    }
   function getContent() {
        var val = $('#searchAuto').val();
        $.ajax({
            method: 'post',
            url: "@Url.Action("GetContent", "LeaderMeeting")",
            data: {
                "appealNumber": val
            },
            cache: false,
            async: true,
            crossDomain: true,
            timeout: 20000,
            success: function (data) {
                var json = JSON.parse(data.Message);
                $("#title").text("诉求标题：" + json.title);
                $("#content").text("诉求内容：" + json.content);
            },
            error: function (jqXHR, textStatus, errorThrown) {

            }
        });
    }
    function SubmitBtn() {
        var val = $('#searchAuto').val();
        var a = $.inArray(val, searchLen);
        if (a == -1) {
            $('#Num').val(0);
        } else {
            $('#Num').val("");
        }
        $('#parsley-id-3').hide();
        if ($('#demoForm').parsley().isValid()) {
            var status = $('#status').val();
            if (status == 1) {
                //修改
                $.ajax({
                    cache: true,
                    type: "POST",
                    url: "@Url.Action("EditUser", "LeaderMeeting")",
                    data: $('#demoForm').serialize(),// 你的formid
                    async: false,
                    error: function (request) {
                        alert("Connection error");
                    },
                    success: function (data) {
                        $("#myModal").modal("hide");
                        alertModal('提示！', data.Message);
                        createTable(1);
                    }
                });
            }
            else {
                //添加
                $.ajax({
                    cache: true,
                    type: "POST",
                    url: "@Url.Action("AddMeetingList", "LeaderMeeting")",
                    data: $('#demoForm').serialize(),// 你的formid
                    async: false,
                    error: function (request) {
                        alert("Connection error");
                    },
                    success: function (data) {
                        $("#myModal").modal("hide");
                        alertModal('提示！', data.Message);
                        createTable(1);
                    }
                });
            }
            return false;
        }
    }

    function SeeModal(row) {
        $('#myModalLabel').text('查看接访记录');
        $('#ID').val($("table tr:eq(" + row + ") th:eq(0)").text());
        $('#ReceptionAddress').val($("table tr:eq(" + row + ") th:eq(1)").text()).attr("disabled", "disabled");
        $('#ReceptionPerson').val($("table tr:eq(" + row + ") th:eq(2)").text()).attr("disabled", "disabled");
        $('#Comment').val($("table tr:eq(" + row + ") th:eq(3)").text()).attr("disabled","disabled");
        $('#demoForm .parsley-error').removeClass('parsley-error');
        $('#demoForm .parsley-errors-list').hide();
        $('#searchAuto').val($("table tr:eq(" + row + ") th:eq(4)").text()).attr("disabled", "disabled ");
        $('#selectLeaderM').attr("disabled", "disabled").find("option:selected").text($("table tr:eq(" + row + ") td:eq(0)").text()+" ("+$("table tr:eq(" + row + ") td:eq(1)").text()+")");
        $('#ReceptionDate').val($("table tr:eq(" + row + ") td:eq(3)").text()).attr("disabled", "disabled ");
        $('#save').hide();
    }
    function AddModal() {
        $('#myModalLabel').text('新增接访记录');
        $('#status').val("");
        $('#ID').val("");
        $('#ReceptionAddress').val("").removeAttr("disabled");
        $('#ReceptionPerson').val("").removeAttr("disabled");
        $('#Comment').val("").removeAttr("disabled");
        $('#searchAuto').val("").removeAttr("disabled");
        $('#ReceptionDate').val("").removeAttr("disabled");

        $('#demoForm .parsley-error').removeClass('parsley-error');
        $('#demoForm .parsley-errors-list').hide();

        $('#selectLeaderM').val("").removeAttr("disabled").find("option:selected").text("请选择党政领导");
        $('#save').show();
    }

    function Del(id) {
        $.confirm({
            title: '提示!',
            content: '确定要删除这条记录吗',
            buttons: {
                confirm: {
                    btnClass: 'btn-danger',
                    text: '确定',
                    action: function () {
                        $.ajax({
                            cache: true,
                            type: "POST",
                            url:"@Url.Action("DelMeetingList", "LeaderMeeting")" + "/"+@ID ,
                            data: {"id" : id},// 你的formid
                            async: false,
                            error: function(request) {
                                alert("Connection error");
                            },
                            success: function (data) {
                                alertModal('提示！',data.Message);
                                createTable(pageNumAll);
                            }
                        });
                    }
                },
                cancel: {
                    text: '取消',
                    action: function () {
                    }
                }
            }
        });
    }

    function clearSearch() {
        $('#selectLeader').val('');
        $('.jedate').val('');

        createTable(1);
    }

</script>