﻿@using Model
@model LeaderReservationModel
@{
    ViewBag.Title = "LeaderReservationList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string ID = ViewData.GetString("ID");
}
<h2 class="headline">约下访记录</h2>
<div class="row-fluid">
    <div class="span12">
        <div class="x_panel">
            <div class="row-fluid">
                <div class="span12" style="position:relative">
                    <div class="span8">
                    @*@if (Session["CurrentUser"] != null)
                    {
                        var currentUser = Session["CurrentUser"] as Model.t_User;
                        if (currentUser.UserRoleList.Contains("1") || currentUser.UserRoleList.Contains("2"))
                        {*@
                            <div class="dataTables_length" id="datatable_length" style="width:100%">
                                  <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal" onclick="AddModal()">新增约下访记录</button>
                            </div>
                        @*}
                    }*@
                    </div>
                    @*<div class="span2" style="position:relative;z-index:1;margin-left: 9%;">
                        ////////<input id="number" type="text" class="span12 " placeholder="案件编号">
                        <input id="number" autocomplete="off" class="span12" type="text" data-provide="typeahead" placeholder="案件编号">
                    </div>*@

                    @*<div class="span2" style="margin-left: 8.5%;">
                        @Html.DropDownListFor(n => n.LeaderName, ViewData["selectLeader"] as SelectList, "请选择党政领导", new { @Id = "selectLeader", @class = "span12 form-control" })
                    </div>*@
                    <div class="span2" style="margin-left: 8.5%;">
                        <input id="selectLeader" type="text" class="span12 " placeholder="党政领导姓名">
                    </div>
                    @*<div class="span1" style="position:relative;z-index:1">
                        <select id="selectStatus" class="span12 form-control" data-val="true" name="ReceptionStatus">
                            <option value="0">预约中</option>
                            <option value="1">已完成</option>
                            <option value="2">已取消</option>
                        </select>
                    </div>*@
                    <div class="span2" style="position:absolute;z-index:0;right:0">
                        <button class="btn btn-primary " type="button" onclick="clearSearch()" style="float:right">清除</button>
                        <button class="btn btn-primary " type="button" onclick="search()" style="float:right">搜索</button>
                    </div>
                </div>
            </div>

            <div class="x_content">

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>党政领导姓名</th>
                            <th>职务</th>
                            <th>诉求人</th>
                            <th>约下访日期</th>
                            <th>约下访地点</th>
                            <th>参与人员</th>
                            <th>接待意见</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody id="tbodystr"></tbody>
                </table>
                <div id="data-pager">
                   
                </div>
            </div>
        </div>
    </div>
</div>


<div class="clearfix"></div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">新增约下访记录</h4>
            </div>
            @using (Html.BeginForm("", "", FormMethod.Post, new { @Id = "demoForm" }))
            {
                <div class="modal-body">
                    <div class="row-fluid">
                        <div class="form-group hidden">
                            <div class="span4">
                                <label for="ID" class="modal-label">ID</label>
                            </div>
                            <div class="span6">
                                @Html.TextBoxFor(n => n.ID, new { @Id = "ID", @class = "span12" })
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="form-group">
                            <div class="span4">
                                <label for="selectNumber" class="modal-label"><span class="required">*</span>案件</label>
                            </div>
                            <div class="span6">
                                @Html.TextBoxFor(n => n.AppealNumber, new { @Id = "searchAuto", @class = "span12 form-control", autocomplete = "off", placeholder = "请输入信访人姓名", @onblur = "searchNum()" })
                                <ul class="parsley-errors-list-err filled" id="parsley-id-3" style="display: none"><li class="parsley-required">案件不存在或为空</li></ul>
                                <input type='text' class="hidden" id="Num" data-parsley-checknum data-parsley-checknum-message="案件不存在或为空" />
                            </div>
                        </div>
                    </div>
                    <!--<div class="row-fluid">
                        <div class="form-group">
                            <div class="span4">
                                <label for="selectLeaderM" class="modal-label"><span class="required">*</span>党政领导</label>
                            </div>
                            <div class="span6">
                                @Html.DropDownListFor(n => n.LeaderID, ViewData["selectLeader"] as SelectList, "请选择党政领导", new { @Id = "selectLeaderM", @class = "span12 form-control", @required = "required" })
                            </div>
                        </div>
                    </div>-->
                    <div class="row-fluid">
                        <div class="form-group">
                            <div class="span4">
                                <label for="ReceptionDate" class="modal-label">党政领导</label>
                            </div>
                            <div class="span6">
                                @*<input class="span12 jedate" data-val="true" id="" name="CheckingDate" placeholder="年/月/日" readonly="readonly" style="cursor: default" type="text" value="">*@
                                @Html.TextBoxFor(n => n.LeaderName, new { @id = "LeaderName", @class = "span12" })
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="form-group">
                            <div class="span4">
                                <label for="ReceptionDate" class="modal-label">党政领导职务</label>
                            </div>
                            <div class="span6">
                                @*<input class="span12 jedate" data-val="true" id="" name="CheckingDate" placeholder="年/月/日" readonly="readonly" style="cursor: default" type="text" value="">*@
                                @Html.TextBoxFor(n => n.LeaderPosition, new { @id = "LeaderPosition", @class = "span12" })
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="form-group">
                            <div class="span4">
                                <label for="ReceptionDate" class="modal-label">@*<span class="required">*</span>*@约下访日期</label>
                            </div>
                            <div class="span6">
                                @*<input class="span12 jedate" data-val="true" id="" name="CheckingDate" placeholder="年/月/日" readonly="readonly" style="cursor: default" type="text" value="">*@
                                @Html.TextBoxFor(n => n.ReceptionDateBefore, new { @id = "ReceptionDateBefore", @class = "span12 jedate", @readonly = "readonly", placeholder = "年/月/日", @style = "cursor: default", @required = "required" })
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="form-group">
                            <div class="span4">
                                <label for="ReceptionDate" class="modal-label">@*<span class="required">*</span>*@约下访地点</label>
                            </div>
                            <div class="span6">
                                @*<input class="span12 jedate" data-val="true" id="" name="CheckingDate" placeholder="年/月/日" readonly="readonly" style="cursor: default" type="text" value="">*@
                                @Html.TextBoxFor(n => n.ReceptionAddressBefore, new { @id = "ReceptionAddressBefore", @class = "span12", @required = "required" })
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="form-group">
                            <div class="span4">
                                <label for="ReceptionDate" class="modal-label">参与人员</label>
                            </div>
                            <div class="span6">
                                @*<input class="span12 jedate" data-val="true" id="" name="CheckingDate" placeholder="年/月/日" readonly="readonly" style="cursor: default" type="text" value="">*@
                                @Html.TextBoxFor(n => n.ReceptionPersonBefore, new { @id = "ReceptionPersonBefore", @class = "span12" })
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="form-group">
                            <div class="span4">
                                <label for="ReceptionDateAfter" class="modal-label"><span class="required">*</span>接访日期</label>
                            </div>
                            <div class="span6">
                                @*<input class="span12 jedate" data-val="true" id="" name="CheckingDate" placeholder="年/月/日" readonly="readonly" style="cursor: default" type="text" value="">*@
                                @Html.TextBoxFor(n => n.ReceptionDateAfter, new { @id = "ReceptionDateAfter", @class = "span12 jedate", @readonly = "readonly", placeholder = "年/月/日", @style = "cursor: default" })
                            </div>
                        </div>
                    </div>
                        <div class="row-fluid">
                            <div class="form-group">
                                <div class="span4">
                                    <label for="ReceptionAddressAfter" class="modal-label"><span class="required">*</span>接访地点</label>
                                </div>
                                <div class="span6">
                                    @Html.TextBoxFor(n => n.ReceptionAddressAfter, new { @id = "ReceptionAddressAfter", @class = "span12"})
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="form-group">
                                <div class="span4">
                                    <label for="ReceptionPersonAfter" class="modal-label"><span class="required">*</span>参与人员</label>
                                </div>
                                <div class="span6">
                                    @*<input class="span12 jedate" data-val="true" id="" name="CheckingDate" placeholder="年/月/日" readonly="readonly" style="cursor: default" type="text" value="">*@
                                    @Html.TextBoxFor(n => n.ReceptionPersonAfter, new { @id = "ReceptionPersonAfter", @class = "span12"})
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="form-group">
                                <div class="span4">
                                    <label for="Comment" class="modal-label">意见</label>
                                </div>
                                <div class="span6">
                                    @Html.TextAreaFor(n => n.ReceptionComment, new { @Id = "Comment", @class = "form-control span12 txt-overflow", @rows = "4"})
                                </div>
                            </div>
                        </div>
                    </div>
                    <input class="hidden" value="0" data-parsley-checkdelaytime/>
                <div class="modal-footer">
                    <input id="status" class="hidden" />
                    <button id="save" class="btn btn-primary" onclick="return SubmitBtn()">保存</button>
                    <button type="button" class="btn btn-gray" data-dismiss="modal">关闭</button>
                </div>
            }

        </div>
    </div>
</div>

<script>
    $(document).ready(function (e) {
        var counter = 0;
        if (window.history && window.history.pushState) {
            $(window).on('popstate', function () {
                window.history.pushState('forward', null, '#');
                window.history.forward(1);
                pageLink = $.cookie('pageLink')
                var petition = $.cookie('petition')
                var urlStr = "@Url.Action("LeaderReservation")#/?p=" + pageLink + "&petition=" + petition;
                $.cookie('pageLink', undefined, {
                    path: '/'
                });
                window.location.href = urlStr;
            });
        }

        window.history.pushState('forward', null, '#'); //在IE中必须得有这两行
        window.history.forward(1);
    });
    var start1 = {
        //isinitVal: true,
        initAddVal: [-1],
        format: 'YYYY-MM-DD',
        maxDate: '2099-12-31 23:59:59', //最大日期为当前日期
        choosefun: function (val) {
            var thisId = $('#ReceptionDateBefore');
            if (thisId.val() != "") {
                thisId.removeClass('parsley-error').next().hide();
            }
        },
        okfun: function (val) {
            var thisId = $('#ReceptionDateBefore');
            if (thisId.val() != "") {
                thisId.removeClass('parsley-error').next().hide();
            }
        }
    };

    window.Parsley
        .addValidator('checkdelaytime', {
            validateString: function (value) {
                $('#demoForm .parsley-errors-list').show();
                return true;//校验不通过,会将data-parsley-checkdelaytime-message对应的信息输出
            }
        });
    window.Parsley
        .addValidator('checknum', {
            validateString: function (value) {
                if (value == 0) {
                    $('#searchAuto').addClass("parsley-error");

                    return false;//校验不通过,会将data-parsley-checkdelaytime-message对应的信息输出

                }
                return true;
            }
        });
    $(function () {
        $("#Password").attr({ 'data-parsley-equalto': "#password1" });
        createTable(1);
        $('#searchAuto').attr({ 'data-provide': "typeahead" })
         $("#searchAuto").typeahead({
             source: function (query, process) {
                 console.info("query" + query)
                 return $.ajax({
                     url: '@Url.Action("GetNumTitle", "Auto")',
                     type: 'post',
                     data: { appealNumber: query },
                     success: function (result) {
                         var resultObj = JSON.parse(result.Message);
                         searchLen = resultObj;
                         return process(resultObj);
                     },
                 });
             }
         });
    })

    var searchLen;
    var pagesize = 15;
    var pageindex = 1;

    function createTable(number) {
        pageindex = number;
        //var number = $('#number').val();
        var selectLeader = $('#selectLeader').val();
        var startDate = $('#startDate').val();
        var endDate = $('#endDate').val();
        if (!selectLeader.length)
        {
            $.ajax({
                method: 'post',
                url: "@Url.Action("GetLeaderReservationList", "LeaderReservation")",
                data: {
                    "name":"@ID",
                    "pageindex": pageindex,
                    "pagesize": pagesize
                },
            cache: false,
            async: true,
            crossDomain: true,
            timeout: 20000,
            success: function (data) {
                //$('#tbodystr').empty();
                $('#tbodystr').empty().html(data);
                if($('#total').text() == 0){
                    $('#tbodystr').empty().append('<tr><td colspan="10">暂无信息</td></tr>')
                    $('#data-pager').empty()
                }
                else
                {
                    var html2 = customPaging(pageindex, pagesize, $('#total').text());
                    $('#data-pager').empty().append(html2);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $('#tbodystr').empty().append('<tr><td colspan="10">抱歉，出了点意外状况</td></tr>');
                $('#data-pager').empty();
                //closeLoading();
            }
        });
        }
        else
        {
            $.ajax({
                method: 'post',
                url: "@Url.Action("QueryMeetingList", "LeaderReservation")",
                data: {
                    "name":"@ID",
                    "pageindex": pageindex,
                    "pagesize": pagesize,
                    "selectLeader":selectLeader,
                    "startDate":startDate,
                    "endDate":endDate
                },
            cache: false,
            async: true,
            crossDomain: true,
            timeout: 20000,
            success: function (data) {
                //$('#tbodystr').empty();
                $('#tbodystr').empty().html(data);
                var total = $('#total').text();
                if (total == 0){
                    $('#tbodystr').empty().html('<tr><td colspan="10">暂无信息</td></tr>')
                    $('#data-pager').empty()
                }
                else
                {
                    var html2 = customPaging(pageindex, pagesize, $('#total').text());
                    $('#data-pager').empty().append(html2);
                }
                searchPage();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $('#tbodystr').empty().append('<tr><td colspan="10">抱歉，出了点意外状况</td></tr>');
                $('#data-pager').empty();
                //closeLoading();
            }
        });

        }
    }
    function search() {
        
        var selectLeader = $('#selectLeader').val();
        var startDate = $('#startDate').val();
        var endDate = $('#endDate').val();
        if (selectLeader.length) {
            createTable(1);
        } else {
            alertModal('提示！', '请输入搜索值');

        }
        return false;
    }
    function searchNum() {
        var val = $('#searchAuto').val();
        var a = $.inArray(val, searchLen);
        if (searchLen.length == 0 && a == -1) {
            $('#Num').val(0);
            $('#searchAuto').addClass("parsley-error");
            $('#parsley-id-3').show();
            $('#parsley-id-7').hide();
        } else {
            $('#searchAuto').removeClass("parsley-error");
            $('#parsley-id-3').hide();
            $('#parsley-id-7').hide();
        }
    }
    function getContent() {
        $.ajax({
            method: 'post',
            url: "@Url.Action("GetContent", "LeaderReservation")",
            data: {
                "appealNumber": val
            },
            cache: false,
            async: true,
            crossDomain: true,
            timeout: 20000,
            success: function (data) {
                var json = JSON.parse(data.Message);
                $("#title").text("诉求标题：" + json.title);
                $("#content").text("诉求内容：" + json.content);
            },
            error: function (jqXHR, textStatus, errorThrown) {

            }
        });
    }

    function SubmitBtn() {
        var status = $('#status').val();
        if (status == 1) {
            $('#Num').val("");
            $('#parsley-id-3').hide();
        }
        else if (status == 2) {
            $('#Num').val("");
            $('#parsley-id-3').hide();
        }
        else {
            var val = $('#searchAuto').val();
            var a = $.inArray(val, searchLen);
            if (a == -1) {
                $('#Num').val(0);
            } else {
                $('#Num').val("");
            }
            $('#parsley-id-3').hide();
        }

        if ($('#demoForm').parsley().isValid()) {

            if (status == 1)
            {
                //修改
                $.ajax({
                    cache: true,
                    type: "POST",
                    url:"@Url.Action("EidtLeaderReservation", "LeaderReservation")",
                    data: $('#demoForm').serialize(),// 你的formid
                    async: false,
                    error: function(request) {
                        alert("Connection error");
                    },
                    success: function (data) {
                        $("#myModal").modal("hide");
                        alertModal('提示！', data.Message);
                        createTable(pageNumAll);
                    }
                    });
            }
            else if(status == 2)
            {
                //是否完成
                $.ajax({
                    cache: true,
                    type: "POST",
                    url:"@Url.Action("IsFinishLeaderReservation", "LeaderReservation")",
                    data: $('#demoForm').serialize(),// 你的formid
                    async: false,
                    error: function(request) {
                        alert("Connection error");
                    },
                    success: function (data) {
                        $("#myModal").modal("hide");
                        alertModal('提示！', data.Message);
                        createTable(pageNumAll);
                    }
                });
            }
            else
            {
                //添加
                $.ajax({
                    cache: true,
                    type: "POST",
                    url:"@Url.Action("AddLeaderReservation", "LeaderReservation")",
                    data: $('#demoForm').serialize(),// 你的formid
                    async: false,
                    error: function(request) {
                        alert("Connection error");
                    },
                    success: function (data) {
                        $("#myModal").modal("hide");
                        alertModal('提示！', data.Message);
                        createTable(1);
                    }
                });
            }
            return false;
        }
    }

    function SeeModal(row) {
        $('#myModalLabel').text('查看约下访信息');
        $('#status').val("3")
        $('#ID').val($("table tr:eq(" + row + ") th:eq(0)").text());
        $('#searchAuto').val($("table tr:eq(" + row + ") th:eq(1)").text()).attr("disabled", "disabled ");//案件
        //$('#selectLeaderM').val($("table tr:eq(" + row + ") th:eq(4)").text()).attr("disabled", "disabled ");//领导人姓名
        //$('#selectLeaderM').attr("disabled","disabled").find("option:selected").text($("table tr:eq(" + row + ") th:eq(4)").text());
        $('#LeaderName').val($("table tr:eq(" + row + ") td:eq(0)").text()).attr("disabled", "disabled ");
        $('#LeaderPosition').val($("table tr:eq(" + row + ") td:eq(1)").text()).attr("disabled", "disabled ");
        $('#ReceptionDateBefore').val($("table tr:eq(" + row + ") td:eq(3)").text()).attr("disabled", "disabled ");//约下访时间
        $('#ReceptionAddressBefore').val($("table tr:eq(" + row + ") td:eq(4)").text()).attr("disabled", "disabled ");//地点
        $('#ReceptionPersonBefore').val($("table tr:eq(" + row + ") td:eq(5)").text()).attr("disabled", "disabled ");//人员
        $('#Comment').val($("table tr:eq(" + row + ") td:eq(6)").text()).attr("disabled", "disabled ");//意见
        $('#ReceptionDateAfter').removeAttr("required").parent().parent().hide();
        $('#ReceptionAddressAfter').removeAttr("required").parent().parent().hide();
        $('#ReceptionPersonAfter').removeAttr("required").parent().parent().hide();
        $('#password1').parent().parent().hide();
        $('#Password').parent().parent().hide();

       
        $('#save').hide();
        $('#demoForm .parsley-error').removeClass('parsley-error');
        $('#demoForm .parsley-errors-list').hide();
    }

    function EditModal(row) {
        $('#myModalLabel').text('编辑约下访记录');
        $('#status').val("1");
        $('#ID').val($("table tr:eq(" + row + ") th:eq(0)").text());
        $('#title').text("诉求标题："+$("table tr:eq(" + row + ") th:eq(1)").text()).removeAttr("disabled");
        $('#content').text("诉求内容："+$("table tr:eq(" + row + ") th:eq(2)").text());
        $('#Comment').val($("table tr:eq(" + row + ") th:eq(3)").text()).removeAttr("disabled");
        //$('#selectLeaderM').val($("table tr:eq(" + row + ") td:eq(0)").text());
        //$('#selectLeaderM').removeAttr("required").attr("readonly", "readonly").val($("table tr:eq(" + row + ") th:eq(6)").text());
   

        $('#searchAuto').attr("readonly", "readonly").val($("table tr:eq(" + row + ") th:eq(1)").text()).removeAttr("disabled");
        $('#ReceptionDateBefore').val($("table tr:eq(" + row + ") td:eq(3)").text());
        $('#ReceptionAddressBefore').val($("table tr:eq(" + row + ") td:eq(4)").text()).removeAttr("disabled");
        $('#ReceptionPersonBefore').val($("table tr:eq(" + row + ") td:eq(5)").text()).removeAttr("disabled");
        $('#Comment').val($("table tr:eq(" + row + ") td:eq(6)").text());
        $('#LeaderName').val($("table tr:eq(" + row + ") td:eq(0)").text()).removeAttr("disabled ");
        $('#LeaderPosition').val($("table tr:eq(" + row + ") td:eq(1)").text()).removeAttr("disabled ");
        $('#ReceptionDateBefore').removeAttr("required").parent().parent().show();
        $('#ReceptionAddressBefore').removeAttr("required").parent().parent().show();
        $('#ReceptionPersonBefore').removeAttr("required").parent().parent().show();
        $('#ReceptionDateAfter').removeAttr("required").parent().parent().hide();
        $('#ReceptionAddressAfter').removeAttr("required").parent().parent().hide();
        $('#ReceptionPersonAfter').removeAttr("required").parent().parent().hide();
        $('#save').show();
        //$('#Comment').removeAttr("required").parent().parent().hide();
        $('#demoForm .parsley-error').removeClass('parsley-error');
        $('#demoForm .parsley-errors-list').hide();
    }
    function AddModal() {
        $('#myModalLabel').text('新增约下访记录');
        $('#status').val("");
        $('#ID').val("");
        $('#title').text("诉求标题：")
        $('#content').text("诉求内容：")
        $('#searchAuto').val("");
        $('#LeaderName').val("").removeAttr("disabled ");
        $('#LeaderPosition').val("").removeAttr("disabled ");
        $('#selectLeaderM').find("option").each(function(i){
            if( $(this).val() == "" ){
                console.log(i)
                $(this).remove();
               
            }
        })
        //$('#selectLeaderM').find("option:selected").before("<option value=''>请选择党政领导</option>")
        //$('#selectLeaderM').val("").removeAttr("disabled");

        $('#searchAuto').removeAttr("readonly").removeAttr("disabled").parent().parent().show();
        $('#ReceptionDateBefore').val("").removeAttr("disabled ");;
        $('#ReceptionAddressBefore').val("").removeAttr("disabled ");;
        $('#ReceptionPersonBefore').val("").removeAttr("disabled ");;;
        $('#ReceptionDateAfter').val("").removeAttr("disabled ");;;
        $('#ReceptionAddressAfter').val("").removeAttr("disabled ");;;
        $('#ReceptionPersonAfter').val("").removeAttr("disabled ");;;
        $('#Comment').val("").removeAttr("disabled ");;;
        $('#ReceptionDateBefore').removeAttr("required").parent().parent().show();
        $('#ReceptionAddressBefore').removeAttr("required").parent().parent().show();
        $('#ReceptionPersonBefore').removeAttr("required").parent().parent().show();
        $('#ReceptionDateAfter').removeAttr("required").parent().parent().hide();
        $('#ReceptionAddressAfter').removeAttr("required").parent().parent().hide();
        $('#ReceptionPersonAfter').removeAttr("required").parent().parent().hide();
        //$('#Comment').removeAttr("required").parent().parent().hide();
        $('#demoForm .parsley-error').removeClass('parsley-error');
        $('#demoForm .parsley-errors-list').hide();
        $('#save').show();
    }
    function SaveModal(row) {
        $('#myModalLabel').text('完成约下访记录');
        $('#status').val("2")

        $('#ID').val($("table tr:eq(" + row + ") th:eq(0)").text());
        $('#searchAuto').attr("readonly", "readonly ").val($("table tr:eq(" + row + ") th:eq(1)").text());
        $('#title').text("诉求标题："+$("table tr:eq(" + row + ") th:eq(1)").text());
        $('#content').text("诉求内容："+$("table tr:eq(" + row + ") th:eq(2)").text());
        $('#Comment').val($("table tr:eq(" + row + ") th:eq(3)").text());
        $('#selectLeaderM').val($("table tr:eq(" + row + ") th:eq(4)").text());

        $('#ReceptionDateAfter').attr("required","required").parent().parent().show();
        $('#ReceptionAddressAfter').attr("required","required").parent().parent().show();
        $('#ReceptionPersonAfter').attr("required","required").parent().parent().show();

        $('#ReceptionDateAfter').val($("table tr:eq(" + row + ") td:eq(3)").text())
        $('#ReceptionAddressAfter').val($("table tr:eq(" + row + ") td:eq(4)").text())
        $('#ReceptionPersonAfter').val($("table tr:eq(" + row + ") td:eq(5)").text());

        $('#ReceptionDateBefore').removeAttr("required","required").parent().parent().hide();
        $('#ReceptionAddressBefore').removeAttr("required","required").parent().parent().hide();
        $('#ReceptionPersonBefore').removeAttr("required","required").parent().parent().hide();

        $('#Comment').attr("required","required").parent().parent().show();
        $('#demoForm .parsley-error').removeClass('parsley-error');
        $('#demoForm .parsley-errors-list').hide();
    }

    function Cancel(id) {
        $.confirm({
            title: '提示!',
            content: '确定要删除该约下访记录吗',
            buttons: {
                confirm: {
                    btnClass: 'btn-danger',
                    text: '确定',
                    action: function () {
                        $.ajax({
                            cache: true,
                            type: "POST",
                            url:"@Url.Action("CancelLeaderReservation", "LeaderReservation")" + "/" ,
                            data: {"id" : id},// 你的formid
                            async: false,
                            error: function(request) {
                                alert("Connection error");
                            },
                            success: function (data) {
                                alertModal('提示！',data.Message);
                                var tbLen = $('#tbodystr tr').length;
                                pageNumAll = $('.curr').text();
                                if (tbLen == 2) {
                                    pageNumAll = pageNumAll - 1;
                                }
                                createTable(pageNumAll);
                            }
                        });
                    }
                },
                cancel: {
                    text: '取消',
                    action: function () {
                    }
                }
            }
        });
    }

    function clearSearch() {
        $('#selectLeader').val('');

        createTable(1);
    }

</script>