﻿@using Model
@model CompanyModel
@{
    ViewBag.Title = "RegionData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="headline">责任单位管理</h2>

<div class="row-fluid">
        <div class="span12">
            <div class="x_panel">
                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal" onclick="AddModal()">新增责任单位</button>
                <div class="x_content">

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>责任单位</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody id="tbodystr"></tbody>
                    </table>
                    <div id="data-pager">
                        
                    </div>

                </div>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>



<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-label-left", @Id = "demoForm" }))
            {
                <div class="modal-body">
                    <div class="form-group hidden">
                        <label for="ID" class="col-sm-3 control-label">ID</label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(n => n.ID, new { @Id = "ID", @class = "demoForm" })
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span3 offset1">
                            <label for="Name" class="control-label text-center"><span class="required">*</span>责任单位名称</label>
                        </div>

                        <div class="span6">
                            @Html.TextBoxFor(n => n.UnitName, new { @Id = "Name", @class = "form-control", @required = "required", @placeholder = "请输入责任单位名称" })
                        </div>
                    </div>
                </div>
                <input class="hidden" value="0" data-parsley-checkdelaytime />
                <div class="modal-footer">
                    <input id="status" class="hidden" />
                    <button class="btn btn-primary" onclick="return SubmitBtn()">保存</button>
                    <button type="button" class="btn btn-gray" data-dismiss="modal">关闭</button>
                </div>
            }
        </div>
    </div>
</div>





<script>
    window.Parsley
        .addValidator('checkdelaytime', {
            validateString: function (value) {
                $('#demoForm .parsley-errors-list').show();
                return true;//校验不通过,会将data-parsley-checkdelaytime-message对应的信息输出
            }
        });
    $(function () {
        createTable(1);
    })
    //数据表格
    var pagesize = 15;
    var pageindex = 1;

    function createTable(number) {
        pageindex = number;
            $.ajax({
                method: 'post',
                url: "@Url.Action("GetCompany", "BasicData")",
                data: {
                    "pageindex": pageindex,
                    "pagesize": pagesize
                    },
                cache: false,
                async: true,
                crossDomain: true,
                timeout: 20000,
                success: function (data) {
                    //$('#tbodystr').empty();
                    $('#tbodystr').empty().html(data);
                    if ($('#total').text() == 0) {
                        $('#tbodystr').empty().append('<tr><td colspan="3">暂无信息</td></tr>')
                        $('#data-pager').empty()
                    }
                    else {
                        var html2 = customPaging(pageindex, pagesize, $('#total').text());
                        $('#data-pager').empty().append(html2);
                    }
                  
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $('#tbodystr').empty().append('<tr><td colspan="7">抱歉，出了点意外状况</td></tr>');
                    $('#data-pager').empty();
                    //closeLoading();
                }
            });
    }
    function SubmitBtn() {
        if ($('#demoForm').parsley().isValid()) {
            var status = $('#status').val();
            if (status == 1)
            {
                //修改
                $.ajax({
                    method: 'post',
                    cache:false,
                    async: false,
                    url:"@Url.Action("EditCompany", "BasicData")",
                    data: $('#demoForm').serialize(),// 你的formid
                    error: function(request) {
                        alert("Connection error");
                    },
                    success: function (data) {
                        $("#myModal").modal("hide");
                        alertModal('提示！', data.Message);
                        createTable(pageNumAll);
                        @*window.location.href = "@Url.Action("RegionData", "BasicData")";*@
                    }
                });
            }
            else
            {
                //添加
                $.ajax({
                    cache: false,
                    type: "POST",
                    url:"@Url.Action("AddCompany", "BasicData")",
                    data: $('#demoForm').serialize(),// 你的formid
                    async: false,
                    error: function(request) {
                        alert("Connection error");
                    },
                    success: function (data) {
                        $("#myModal").modal("hide");
                        alertModal('提示！', data.Message);
                        createTable(pageNumAll);
                    }
                });
            }
            return false;
        }


    }
    function AddModal() {
        $('#myModalLabel').text('新增责任单位');
        $('#status').val("");
        $('#Name').val("");
        $('#demoForm .parsley-error').removeClass('parsley-error');
        $('#demoForm .parsley-errors-list').hide();
    }
    function EditModal(row) {
        $('#myModalLabel').text('修改责任单位');
        $('#status').val("1")
        $('#ID').val($("table tr:eq(" + row + ") th:eq(0)").text());
        $('#Name').val($("table tr:eq(" + row + ") td:eq(0)").text());
        $('#demoForm .parsley-error').removeClass('parsley-error');
        $('#demoForm .parsley-errors-list').hide();
    }
    function DelModal(id) {
        alertDel('提示!', '确定要删除这个责任单位吗？', "DelCompany", id);
    }

</script>