﻿
@{
    ViewBag.Title = "ToListInsert";
}

<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal" onclick="Add()">导入数据</button>

<script>
    function Add() {
         $.ajax({
                    cache: true,
                    type: "POST",
                    url:"@Url.Action("Insert", "To")",
                    async: false,
                    error: function(request) {
                        alert("Connection error");
                    },
                    success: function (data) {
                        alertModal('提示！', data.Message);
                    }
                });
        }
</script>