﻿
@{
    ViewBag.Title = "TransferList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="headline">上级转送件</h2>
<div class="row-fluid">
    <div class="span12">
        <div class="x_panel">
            <div class="row-fluid">
                <div class="span7">
                    <div class="dataTables_length" id="datatable_length">
                            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal" onclick="AddModal()">新增转送件记录</button>
                    </div>
                </div>
                <div class="span1 ">
                    <input id="petitionname" type="text" class="span12 " placeholder="案件编号">
                </div>
                <div class="span2">
                    <input id="petitionname" type="text" class="span12 " placeholder="诉求标题/内容">
                </div>
                <div class="span1">
                    <select id="" class="span12 form-control" data-val="true" name="UserArea" required="required">
                        <option value="">转送时限</option>
                        <option value="5">及时受理</option>
                        <option value="5">按时答复</option>
                    </select>
                </div>
                <div class="span1  ">
                    <button class="btn btn-primary " type="button" onclick="search()">搜索</button>
                </div>
            </div>

            <div class="x_content">

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>案件编号</th>
                            <th>诉求标题</th>
                            <th>诉求内容</th>
                            <th>信访人姓名</th>
                            <th>住址</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    @*<tbody id="tbodystr"></tbody>*@
                    <tbody>
                    <th>1</th>
                    <td>test</td>
                    <td>test</td>
                    <td>test</td>
                    <td>test</td>
                    <td>test</td>
                    <td>
                        <a href="javascript:void(0)" data-toggle="modal" data-target="#myModal" onclick="EditModal()">查看</a>&nbsp;&nbsp;
                        <a href="javascript:void(0)">进京/赴省记录</a>
                    </td>
                    </tbody>
                </table>
                <div id="data-pager">
                    <div class="page-info">当前显示1-10条&nbsp;&nbsp;共42条数据</div>
                    <div class="page-number">
                        <span>上一页</span>
                        <span class="curr">1</span>
                        <a href="javascript:void(0)">2</a>
                        <a href="javascript:void(0)">3</a>
                        <a href="javascript:void(0)">下一页</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="clearfix"></div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal form-label-left", @Id = "demoForm" }))
            {
                <div class="modal-body">
                    <div class="row-fluid">
                        <div class="form-group hidden">
                            <div class="span4">
                                <label for="ID" class="modal-label">ID</label>
                            </div>
                            <div class="span6">
                                @*@Html.TextBoxFor(n => n.UserId, new { @Id = "ID", @class = "span12" })*@
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="form-group">
                            <div class="span4">
                                <label for="lName" class="modal-label"><span class="required">*</span>案件编号</label>
                            </div>
                            <div class="span6">
                                <input id="" required="required" class="span12" />
                                @*@Html.TextBoxFor(n => n.LoginName, new { @Id = "lName", @class = "span12 form-control", @required = "required", @minlength = "6", @placeholder = "请输入用户名" })*@
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="form-group">
                            <div class="span4">
                                <label for="uName" class="modal-label">诉求</label>
                            </div>
                            <div class="span6">
                                @*@Html.TextBoxFor(n => n.UserName, new { @Id = "uName", @class = "span12 form-control", @required = "required", @placeholder = "请输入姓名" })*@
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="form-group">
                            <div class="span4">
                                <label for="Postion" class="modal-label"><span class="required">*</span>类型</label>
                            </div>
                            <div class="span6">
                                <select id="" class="span12 form-control" data-val="true" name="UserArea" required="required">
                                    <option value="">选择</option>
                                    <option value="5">进京</option>
                                    <option value="5">赴省</option>
                                </select>
                                @*@Html.TextBoxFor(n => n.UserPosition, new { @Id = "Postion", @class = "span12 form-control", @required = "required", @placeholder = "请输入职务" })*@
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="form-group">
                            <div class="span4">
                                <label for="password1" class="modal-label"><span class="required">*</span>日期</label>
                            </div>
                            <div class="span6">
                                <input class="span12 jedate" data-val="true" id="" name="CheckingDate" placeholder="年/月/日" readonly="readonly" style="cursor: default" type="text" value="">
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="form-group">
                            <div class="span4">
                                <label for="Unit" class="modal-label">相关附件</label>
                            </div>
                            <div class="span6">
                                <input id="" required="required" class="span12" />
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="form-group">
                            <div class="span4">
                                <label for="Unit" class="modal-label">内容</label>
                            </div>
                            <div class="span6">
                                <textarea id="remark" class="form-control txt-overflow" cols="20" name="Remark" rows="4"></textarea>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <input id="status" class="hidden" />
                    <button class="btn btn-primary" onclick="return SubmitBtn()">保存</button>
                    <button type="button" class="btn btn-gray" data-dismiss="modal">关闭</button>
                </div>
            }

        </div>
    </div>
</div>

<script>
    $(function () {
        $("#Password").attr({ 'data-parsley-equalto': "#password1" });
        createTable(1);




    })
    $('input[name="radio-sex"]').click(function () {
        var val = $(this).val();
        if (val == 1) {
            $('#Resolve').removeClass('hidden')
        } else {
            $('#Resolve').addClass('hidden')
        }
    })

    $('input[name="radio-sex1"]').click(function () {
        var val = $(this).val();
        if (val == 1) {
            $('#End').removeClass('hidden')
        } else {
            $('#End').addClass('hidden')
        }
    })

    var pagesize = 15;
    var pageindex = 1;

    function createTable(number) {
        pageindex = number;
        $.ajax({
            method: 'post',
            url: "@Url.Action("GetUser", "User")",
            data: {
                "pageindex": pageindex,
                "pagesize": pagesize
            },
            cache: false,
            async: true,
            crossDomain: true,
            timeout: 20000,
            success: function (data) {
                //$('#tbodystr').empty();
                $('#tbodystr').empty().html(data);

                var html2 = customPaging(pageindex, pagesize, $('#total').text());

                $('#data-pager').empty().append(html2);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $('#tbodystr').empty().append('<tr><td colspan="7">抱歉，出了点意外状况</td></tr>');
                $('#data-pager').empty();
                //closeLoading();
            }
        });

    }
    function SubmitBtn() {
        if ($('#demoForm').parsley().isValid()) {
            var status = $('#status').val();
            if (status == 1)
            {
                //修改
                $.ajax({
                    cache: true,
                    type: "POST",
                    url:"@Url.Action("EditUser", "User")",
                    data: $('#demoForm').serialize(),// 你的formid
                async: false,
                error: function(request) {
                    alert("Connection error");
                },
                success: function (data) {
                    $("#myModal").modal("hide");
                    alertModal('提示！', data.Message);
                    createTable(1);
                }
                });
            }
            else
            {
                //添加
                $.ajax({
                    cache: true,
                    type: "POST",
                    url:"@Url.Action("AddUser", "User")",
                    data: $('#demoForm').serialize(),// 你的formid
                async: false,
                error: function(request) {
                    alert("Connection error");
                },
                success: function (data) {
                    $("#myModal").modal("hide");
                    alertModal('提示！', data.Message);
                    createTable(1);
                }
            });
        }
            return false;
        }
    }

    function SeeModal(row) {
        $('#myModalLabel').text('查看进京/赴省记录');
        $('#status').val("1")
        $('#ID').val($("table tr:eq(" + row + ") th:eq(0)").text());
        $('#lName').val($("table tr:eq(" + row + ") td:eq(0)").text()).attr("disabled", "disabled ");
        $('#uName').val($("table tr:eq(" + row + ") td:eq(1)").text()).attr("disabled", "disabled ");
        $('#Postion').val($("table tr:eq(" + row + ") td:eq(2)").text()).attr("disabled", "disabled ");
        $('#UserPhone').val($("table tr:eq(" + row + ") td:eq(3)").text()).attr("disabled", "disabled ");

        $('#password1').parent().parent().hide();
        $('#Password').parent().parent().hide();

        $('#Area').val($("table tr:eq(" + row + ") th:eq(2)").text()).attr("disabled", "disabled ").attr("disabled", "disabled ");
        $('#Unit').val($("table tr:eq(" + row + ") th:eq(3)").text()).attr("disabled", "disabled ").attr("disabled", "disabled ");
        $('#save').hide();
    }
    function AddModal() {
        $('#myModalLabel').text('新增进京/赴省记录');
        $('#status').val("");
        $('#ID').val("");
        $('#lName').val("").removeAttr("disabled");
        $('#uName').val("").removeAttr("disabled");
        $('#Postion').val("").removeAttr("disabled");
        $('#UserPhone').val("").removeAttr("disabled");

        $('#password1').val("").parent().parent().show();
        $('#Password').val("").parent().parent().show();
        $('#Area').val("").removeAttr("disabled");
        $('#Unit').val("").removeAttr("disabled");
    }
    function EditModal(row) {
        $('#myModalLabel').text('修改用户信息');
        $('#status').val("1")
        $('#ID').val($("table tr:eq(" + row + ") th:eq(0)").text());
        $('#lName').val($("table tr:eq(" + row + ") td:eq(0)").text()).removeAttr("disabled");
        $('#uName').val($("table tr:eq(" + row + ") td:eq(1)").text()).removeAttr("disabled");
        $('#Postion').val($("table tr:eq(" + row + ") td:eq(2)").text()).removeAttr("disabled");
        $('#UserPhone').val($("table tr:eq(" + row + ") td:eq(3)").text()).removeAttr("disabled");

        $('#password1').val($("table tr:eq(" + row + ") th:eq(1)").text()).parent().parent().show();
        $('#Password').val($("table tr:eq(" + row + ") th:eq(1)").text()).parent().parent().show();

        $('#Area').val($("table tr:eq(" + row + ") th:eq(2)").text()).removeAttr("disabled");
        $('#Unit').val($("table tr:eq(" + row + ") th:eq(3)").text()).removeAttr("disabled");

    }
    function Del(id) {
        alertDel('提示!', '确定要删除这个用户吗？', "DelUser",id)
    }

</script>
