﻿@using Model
@model UserModel
@{
    Layout = null;
    string login = ViewData.GetString("LoginErr");
}

<!DOCTYPE html>

<html>
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="X-UA-Compatible" content="IE=8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
        <meta http-equiv="X-UA-Compatible" content="IE=9" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>信访系统 |登录 </title>
        <link href="~/Content/bootstrap-v2/css/bootstrap.min.css" rel="stylesheet" />
        <style>
            *{
                color:#000;
            }
            h3{
                color:white;
            }
            #loginErr{
                position: absolute;
                left: 162px;
                color: #E74C3C;
            }
            .login_wrap form{
                width:550px;
                margin:0 auto;
                padding:20px;
                padding-top:5%;
            }
            h1{
                padding-bottom:5%;
                padding-top:20%
            }
             .control-label{
                line-height:30px;
            }
            body{
                background:url("../../Content/image/login.jpg") no-repeat;
                background-size:cover;
            }
            .row-fluid{
                margin-bottom:5px;
            }
            h3{
                    /*border-bottom: 2px solid white;*/
                    background:#2A3F54;
                    padding:5px 10px;
                    margin:0px;
            }
            .mar{
                margin:0;
                margin-top:25%;
            }
            .box{
                border: 2px solid #2A3F54;
                padding:40px 0 20px 0;
                background:white;
                opacity:0.8;
            }
            .span3{
                margin-left:3.9007092198581557%!important
            }
            .btnlogin{
                margin-left:71.985815602836885%!important;
                /*background: #2A3F54*/
            }
        </style>
    </head>
    <body>
        <a href="~/Content/360se9.1.0.410.exe" download="360se9.1.0.410.exe"  style="color: #555;text-decoration: underline;margin: 5px;">360浏览器下载</a>
        <div class="login_wrap">
            @using (Html.BeginForm("Login", "Login", FormMethod.Post))
    {
        @Html.ValidationSummary(true)
        @*<div class="row-fluid">
        <h1 class="headline">秦皇岛创想空间信访系统</h1>
    </div>*@
        <div class="row-fluid mar">
            <h3 class="headline">信访系统</h3>
        </div>
        <div class="box">
            <div class="row-fluid">
                <div class="span3 text-center">
                    <label class="control-label">用户名</label>
                </div>
                <div class="span7">
                    @Html.TextBoxFor(m => m.LoginName, new { @class = "txtloginname span12", @placeholder = "用户名" })<br />
                    @Html.ValidationMessageFor(m => m.LoginName, "", new { style = "color:red" })
                </div>

            </div>
            <div class="row-fluid">
                <div class="span3 text-center">
                    <label class="control-label">密&nbsp;&nbsp;&nbsp;&nbsp;码</label>
                </div>
                <div class="span7">
                    @Html.PasswordFor(m => m.UserPassword, new { @class = "txtloginpass span12", @placeholder = "密码" })<br />
                    @Html.ValidationMessageFor(m => m.UserPassword, "", new { style = "color:red" })
                </div>

            </div>
            <div class="row-fluid">
                <div class="span12" style="position:relative">
                    <div id="loginErr">@login</div>
                    <input type="submit" class="btn btn-primary span2 offset8 btnlogin" value="登录">
                </div>
            </div>
        </div>

}

        </div>
    </body>
</html>
