﻿@using Model
@model CaseInfoModel
@{
    ViewBag.Title = "CaseInfoAdd";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currentUser = Session["CurrentUser"] as Model.t_User;

}
@*@Styles.Render("~/Content/vendors/bootstrap-daterangepicker/daterangepicker.css")
@Styles.Render("~/Content/src/js/jquery-ui-1.8.24.js")*@


@if (currentUser == null)
{
    Response.RedirectToRoute(new { controller = "Login", action = "Login" });
}
else
{
    <input id="UserArea" class="hidden" value="@currentUser.UserArea" />
    <input id="UserUnit" class="hidden" value="@currentUser.UserUnit" />
    <h2 class="headline">案件录入</h2>
    <div class="row-fluid">
        <div class="span12">
            <div class="x_panel">
                <div class="row-fluid">
                    @using (Html.BeginForm("", "", FormMethod.Post, new { @class = " form-label-left", @Id = "demoForm" }))
                {
                    <div class="span12">
                        <div class="row-fluid" style="display:none">
                            <div class="span2"><label class="control-label">ID</label></div>
                            <div class="span3"> <input id="input-id" type="text" /> </div>
                        </div>
                        @*<div class="row-fluid">
            <div class="span2"><label class="control-label"><span class="required">*</span>案件编号</label></div>
            <div class="span3"> @Html.TextBoxFor(s => s.AppealNumber, new { @class = "span12" }) </div>
            <div class="span2"><label class="control-label"><span class="required">*</span>标题</label></div>
            <div class="span3"> @Html.TextBoxFor(s => s.AppealTitle, new { @class = "span12"}) </div>
        </div>*@
                        <div class="row-fluid">
                            <div class="span2"><label class="control-label"><span class="required">*</span>信访人姓名</label></div>
                            <div class="span3"> @Html.TextBoxFor(s => s.PetitionName, new { @class = "span12", @required = "required" }) </div>
                            <div class="span2"><label class="control-label">身份证号</label></div>
                            <div class="span3"> @Html.TextBoxFor(s => s.PetitionIDNo, new { @class = "span12" }) </div>
                        </div>

                        @*<div class="row-fluid">
                            <div class="span2"><label class="control-label">责任单位</label></div>
                            <div class="span3"> @Html.DropDownListFor(n => n.UnitType, ViewData["UnitType"] as SelectList, "请选择责任单位", new { @Id = "Unit", @class = "span12", @onChange = "ChangeOption('#Unit','责任单位','#UnitName')" }) </div>
                            @Html.TextBoxFor(s => s.UnitName, new { @id = "UnitName", @class = "hidden" })
                            <div class="span2"><label class="control-label">稳控单位</label></div>
                            <div class="span3"> @Html.DropDownListFor(n => n.TownshipType, ViewData["TownshipType"] as SelectList, "请选择稳控单位", new { @Id = "Area", @class = "span12", @onChange = "ChangeOption('#Area','稳控单位','#CountyName')" }) </div>
                            @Html.TextBoxFor(s => s.CountyName, new { @id = "CountyName", @class = "hidden" })

                        </div>*@
                        <div class="row-fluid">
                            <div class="span2"><label class="control-label">责任单位</label></div>
                            <div class="span3">
                                @Html.DropDownList("UnitType", ViewData["UnitType"] as SelectList, new { @Id = "LikeUnit", @class = "span12 selectpicker selected", @multiple = "multiple" })
                            </div>
                            @Html.TextBoxFor(s => s.RelateUnitID, new { @id = "LikeUnitID", @class = "hidden" })
                            @Html.TextBoxFor(s => s.RelateUnitName, new { @id = "LikeUnitName", @class = "hidden" })
                            <div class="span2"><label class="control-label">稳控单位</label></div>
                            <div class="span3"> @Html.DropDownList("TownshipType", ViewData["TownshipType"] as SelectList, new { @Id = "LikeArea", @class = "span12 selectpicker selected", @multiple = "multiple" }) </div>
                            @Html.TextBoxFor(s => s.RelateAreaID, new { @id = "LikeAreaID", @class = "hidden" })
                            @Html.TextBoxFor(s => s.RelateAreaName, new { @id = "LikeAreaName", @class = "hidden" })
                        </div>
                        <div class="row-fluid">
                            <div class="span2"><label class="control-label"><span class="required">*</span>住址</label></div>
                            <div class="span3"> @Html.TextBoxFor(s => s.PetitionAddress, new { @class = "span12", @required = "required" }) </div>
                            <div class="span2"><label class="control-label">联系电话</label></div>
                            <div class="span3"> @Html.TextBoxFor(s => s.PetitionTel, new { @class = "span12" }) </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span2"><label class="control-label" style="padding-top:2px;">是否涉法涉诉</label></div>
                            <div class="span3">
                                <label class="span1">
                                    @Html.RadioButtonFor(n => n.IsLawLitigation, 0, new { id = "LawLitigationyes", name = "LawLitigation" })
                                </label>
                                <label class="span2">
                                    是
                                </label>
                                <label class="span1">
                                    @Html.RadioButtonFor(n => n.IsLawLitigation, 1, new { id = "LawLitigationno", name = "LawLitigation", @checked = "checked" })
                                </label>
                                <label class="span2">
                                    否
                                </label>
                            </div>

                            <div class="span2"><label class="control-label"><span class="required">*</span>信访性质</label></div>
                            <div class="span3">
                                <select id="petitiontypeId" name="PetitionType" class="span12" required="required">
                                    <option value="">请选择</option>
                                    <option value="0">个体访</option>
                                    <option value="1">集体访</option>
                                </select>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span2"><label class="control-label">是否是初/重访</label></div>
                            <div class="span3">
                                <select id="Revisit" name="IsRevisit" class="span12">
                                    <option value="">请选择</option>
                                    <option value="0">初访</option>
                                    <option value="1">重访</option>
                                </select>
                            </div>
                            <div class="span2"><label class="control-label">人数</label></div>
                            <div class="span3"> @Html.TextBoxFor(s => s.PeopleCount, new { @class = "span12" }) </div>


                        </div>

                        <div class="row-fluid">
                            <div class="span2"><label class="control-label">接访日期</label></div>
                            <div class="span3">@Html.TextBoxFor(s => s.CheckingDate, new { @class = "span12 jedate", @readonly = "readonly", placeholder = "年/月/日", @style = "cursor: default" }) </div>
                            <div class="span2">
                                <label class="control-label" style="padding-top:2px;">是否上级交办</label>
                            </div>
                            <div class="span3">
                                <label class="span1">
                                    @Html.RadioButtonFor(n => n.IsSuperior, 0, new { id = "Superioryes", name = "Superior" })
                                </label>
                                <label class="span2">
                                    是
                                </label>
                                <label class="span1">
                                    @Html.RadioButtonFor(n => n.IsSuperior, 1, new { id = "Superiorno", name = "Superior", @checked = "checked" })
                                </label>
                                <label class="span2">
                                    否
                                </label>
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="row-fluid">
                            <div class="span2"><label class="control-label" style="padding-top:2px;">是否到非接待场所涉访</label></div>
                            @*<div class="col-md-4 col-md-offset-2"style="padding-top:5px;">*@
                            <div class="span3">
                                <label class="span1">
                                    @Html.RadioButtonFor(n => n.IsReceptionSite, 0, new { id = "ReceptionSiteyes", name = "Revisit", @onclick = "HideReceptionSite()" })
                                </label>
                                <label class="span2">
                                    是
                                </label>
                                <label class="span1">
                                    @Html.RadioButtonFor(n => n.IsReceptionSite, 1, new { id = "ReceptionSiteno", name = "Revisit", @onclick = "HideReceptionSite()", @checked = "checked" })
                                </label>
                                <label class="span2">
                                    否
                                </label>
                            </div>
                            @*</div>*@
                        </div>
                        <div class="row-fluid" id="ReceptionSiteID" style="display:none;">
                            <div class="span2"><label class="control-label">场所</label></div>
                            <div class="span8">@Html.TextAreaFor(s => s.ReceptionSite, new { @class = "form-control txt-overflow", rows = "4", style = "margin-top: -3px;" }) </div>
                            @*<div class="span3"> @Html.TextBoxFor(s => s.ReceptionSite, new { @class = "span12" }) </div>*@
                            @*<div class="span2"><label class="control-label">时间</label></div>
                            <div class="span3">@Html.TextBoxFor(s => s.ReceptionSiteDate, new { @class = "span12 jedate", @readonly = "readonly", placeholder = "年/月/日", @style = "cursor: default" }) </div>*@
                        </div>

                        <div class="row-fluid">
                            <div class="span2"><label class="control-label" style="padding-top:2px;">是否上级领导包案督访</label></div>

                            <div class="span3">

                                <label class="span1">
                                    @Html.RadioButtonFor(n => n.IsPackageCase, 0, new { id = "PackageCaseyes", name = "PackageCase", @onclick = "HidePackageCase()" })
                                </label>
                                <label class="span2">
                                    是
                                </label>
                                <label class="span1">
                                    @Html.RadioButtonFor(n => n.IsPackageCase, 1, new { id = "PackageCaseno", name = "PackageCase", @onclick = "HidePackageCase()", @checked = "checked" })
                                </label>
                                <label class="span2">
                                    否
                                </label>
                            </div>

                        </div>

                        <div class="row-fluid" id="PackageCaseID" style="display:none;">
                            <div class="span2"><label class="control-label">备注信息</label></div>
                            <div class="span8">@Html.TextAreaFor(s => s.PackageCaseRemark, new { @class = "form-control txt-overflow", rows = "4", style = "margin-top: -3px;" }) </div>
                        </div>

                        <div class="row-fluid">
                            <div class="span2"><label class="control-label" style="padding-top:2px;">是否积案</label></div>
                            @*<div class="col-md-8 col-md-offset-2" style="padding-top:5px;">*@
                            <div class="span3">
                                <label class="span1">
                                    @Html.RadioButtonFor(n => n.IsAccumulatedCases, 0, new { id = "AccumulatedCasesyes", name = "AccumulatedCases", @onclick = "HideAccumulatedCase()" })
                                </label>
                                <label class="span2">
                                    是
                                </label>
                                <label class="span1">
                                    @Html.RadioButtonFor(n => n.IsAccumulatedCases, 1, new { id = "AccumulatedCasesno", name = "AccumulatedCases", @onclick = "HideAccumulatedCase()", @checked = "checked" })
                                </label>
                                <label class="span2">
                                    否
                                </label>
                            </div>
                        </div>

                        <div class="row-fluid" id="AccumulatedCaseID" style="display:none;">
                            <div class="span2"><label class="control-label">备注信息</label></div>
                            <div class="span8">@Html.TextAreaFor(s => s.AccumulatedCaseRemark, new { @class = "form-control txt-overflow", rows = "4", style = "margin-top: -3px;" }) </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="row-fluid">
                            <div class="span2"><label class="control-label"><span class="required">*</span>信访事项主要内容</label></div>
                            <div class="span8">@Html.TextAreaFor(s => s.AppealContent, new { @class = "form-control txt-overflow", rows = "6", @required = "required" }) </div>
                        </div>
                        <div class="form-line">
                            <div class="form-group">
                                <div class="span5 offset5">
                                    <input type="hidden" id="hdn-id" value="" />
                                    <button class="btn btn- btn-primary" onclick="return SubmitBtn()"> 保存 </button>
                                    <button type="button" class="btn btn-gray" onclick="return goBack()"> 返回 </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>
}



<script>
    $(function () {
        var UserArea = $('#UserArea').val();
        var UserUnit = $('#UserUnit').val();
        //if (UserArea.length || UserUnit.length) {
        //    if (UserUnit != "") {
        //        $('#LikeUnit').find('option').each(function (i) {
        //            if ($(this).val() != UserUnit) {
        //                $(this).remove();
        //            }
        //        })
        //        $('#UnitName').val($('#Unit').find('option:selected').text())
        //    }
        //    if (UserArea != "" && UserUnit != "") {
        //        $('#LikeArea').find('option').each(function (i) {
        //            if ($(this).val() != UserArea) {
        //                $(this).remove();
        //            }
        //        })
        //        $('#CountyName').val($('#Area').find('option:selected').text())
        //    }
        //}

    });

    //function ChangeOption(id, name, changeId) {
    //    var val = $(id).find('option:selected').text();
    //    val == "请选择" + name ? val = "" : val = val;
    //    $(changeId).val(val);
    //}

    //var roomTypesArry = [];
    //$("#roomTypes").val().forEach(function (data) {
    //    roomTypesArry.push(parseInt(data));
    //});

    //是否上级领导包案督访
    function HidePackageCase() {
        if ($("#PackageCaseyes").is(':checked')) {
            $("#PackageCaseID").show();
        }
        else {
            $("#PackageCaseID").hide();
            $("#PackageCaseRemark").val("");
        }

    }

    //是否到非接待场所涉访
    function HideReceptionSite() {
        if ($("#ReceptionSiteyes").is(':checked')) {
            $("#ReceptionSiteID").show();
        }
        else {
            $("#ReceptionSiteID").hide();
            $("#ReceptionSite").val("");
            $("#ReceptionSiteDate").val("");
        }

    }

    //是否积案
    function HideAccumulatedCase() {
        if ($("#AccumulatedCasesyes").is(':checked')) {
            $("#AccumulatedCaseID").show();
        }
        else {
            $("#AccumulatedCaseID").hide();
            $("#AccumulatedCaseRemark").val("");
        }

    }

    //返回
    function goBack() {
        document.location = "@Url.Action("CaseInfoList")";
    }

    function SubmitBtn() {
        if ($('#demoForm').parsley().isValid()) {
            //var ReceptionSite = getFormatCode($('#ReceptionSite').val())
            //var PackageCaseRemark = getFormatCode($('#PackageCaseRemark').val())
            //var AccumulatedCaseRemark = getFormatCode($('#AccumulatedCaseRemark').val())
            //$('#ReceptionSite').val(ReceptionSite)
            //$('#PackageCaseRemark').val(PackageCaseRemark)
            //$('#AccumulatedCaseRemark').val(AccumulatedCaseRemark)
             GetData();
           $.confirm({
                title: '提示！',
                content: '保存成功！是否需要添加包案人员？',
                buttons: {
                    confirm: {
                        btnClass: 'btn-danger',
                        text: '确定',
                        action: function () {
                            $.ajax({
                                cache: true,
                                type: "POST",
                                url:"@Url.Action("CaseInfoAdd", "CaseInfo")",
                                data: $('#demoForm').serialize(),// 你的formid
                                async: false,
                                error: function(request) {
                                    alert("Connection error");
                                },
                                success: function (data) {
                                    window.location.href = "@Url.Action("PackageCaseList", "PackageCase")"
                                }
                            });
                        }
                    },
                    cancel: {
                        text: '取消',
                        action: function () {
                            $.ajax({
                                cache: true,
                                type: "POST",
                                url:"@Url.Action("CaseInfoAdd", "CaseInfo")",
                                data: $('#demoForm').serialize(),// 你的formid
                                async: false,
                                error: function(request) {
                                    alert("Connection error");
                                },
                                success: function (data) {
                                    window.location.href = "@Url.Action("CaseInfoList", "CaseInfo")"
                                }
                            });
                        }
                    }
                }
             });

            return false;
        }
    }

    function GetData() {
        var unitArray = [];
        var areaArray = [];
        var unitVal = $("#LikeUnit").val();
        var areaVal = $("#LikeArea").val();
        if (unitVal != null) {
            $("#LikeUnit").val().forEach(function (data) {
                unitArray.push(parseInt(data));
            });
        }
        if (areaVal != null) {
            $("#LikeArea").val().forEach(function (data) {
                areaArray.push(parseInt(data));
            });
        }
        $('#LikeUnitID').val(unitArray)
        $('#LikeAreaID').val(areaArray)
        $('#LikeUnitName').val($('.btn-default').eq(0).attr('title'))
        $('#LikeAreaName').val($('.btn-default').eq(1).attr('title'))
    }
</script>
