﻿@using Model
@model CaseInfoModel
@{
    ViewBag.Title = "CaseInfoDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*@Styles.Render("~/Content/vendors/bootstrap-daterangepicker/daterangepicker.css")
    @Styles.Render("~/Content/src/js/jquery-ui-1.8.24.js")*@



<h2 class="headline">案件详情</h2>
<div class="row-fluid">
    <div class="span12">
        <div class="x_panel">
            <div class="box_body">
            @using (Html.BeginForm("CaseInfoDetail", "CaseInfo"))
            {
                    <div class="span12">
                        <form id="demo-form" class="form-horizontal" method="post">
                            <div class="row-fluid" style="display:none">
                                <div class="span2"><label class="control-label">ID</label></div>
                                <div class="span3"> <input id="input-id" type="text" class="span12" /> </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span2"><label class="control-label"><span class="required">*</span>案件编号</label></div>
                                <div class="span3"> @Html.TextBoxFor(s => s.AppealNumber, new { @class = "span12", disabled = "disabled" }) </div>
                                <div class="span2"><label class="control-label"><span class="required">*</span>标题</label></div>
                                <div class="span3"> @Html.TextBoxFor(s => s.AppealTitle, new { @class = "span12", disabled = "disabled" }) </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span2"><label class="control-label"><span class="required">*</span>信访人姓名</label></div>
                                <div class="span3"> @Html.TextBoxFor(s => s.PetitionName, new { @class = "span12", disabled = "disabled" }) </div>
                                <div class="span2"><label class="control-label"><span class="required">*</span>身份证号</label></div>
                                <div class="span3"> @Html.TextBoxFor(s => s.PetitionIDNo, new { @class = "span12", disabled = "disabled" }) </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span2"><label class="control-label"><span class="required">*</span>住址</label></div>
                                <div class="span3"> @Html.TextBoxFor(s => s.PetitionAddress, new { @class = "span12", disabled = "disabled" }) </div>
                                <div class="span2"><label class="control-label"><span class="required">*</span>联系电话</label></div>
                                <div class="span3"> @Html.TextBoxFor(s => s.PetitionTel, new { @class = "span12", disabled = "disabled" }) </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span2"><label class="control-label" style="padding-top:2px;">是否涉法涉诉</label></div>
                                
                                <div class="span3">
                                    <label class="span1">
                                        @Html.RadioButtonFor(n => n.IsLawLitigation, 0, new { id = "LawLitigationyes", name = "LawLitigation", disabled = "disabled" })
                                    </label>
                                    <label class="span2">
                                        是
                                    </label>
                                    <label class="span1">
                                        @Html.RadioButtonFor(n => n.IsLawLitigation, 1, new { id = "LawLitigationno", name = "LawLitigation", disabled = "disabled" })
                                    </label>
                                    <label class="span2">
                                        否
                                    </label>
                                </div>


                                <div class="span2"><label class="control-label">信访性质</label></div>
                                <div class="span3">
                                    @Html.TextBoxFor(s => s.strPetitionType, new { @class = "span12", disabled = "disabled" })
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span2"><label class="control-label">是否是初/重访</label></div>
                                <div class="span3">
                                    @Html.TextBoxFor(s => s.strRevisit, new { @class = "span12", disabled = "disabled" })
                                </div>
                                <div class="span2"><label class="control-label">人数</label></div>
                                <div class="span3"> @Html.TextBoxFor(s => s.PeopleCount, new { @class = "span12", disabled = "disabled" }) </div>


                            </div>

                            <div class="row-fluid">
                                <div class="span2"><label class="control-label">排查日期</label></div>
                                <div class="span3">@Html.TextBoxFor(s => s.CheckingDate, new { @class = "span12 jedate", @readonly = "readonly", placeholder = "年/月/日", disabled = "disabled" }) </div>
                                <div class="span2">
                                    <label class="control-label" style="padding-top:2px;">是否上级交办</label>
                                </div>
                                
                                <div class="span3">
                                    <label class="span1">
                                        @Html.RadioButtonFor(n => n.IsSuperior, 0, new { id = "Superioryes", name = "Superior", disabled = "disabled" })
                                    </label>
                                    <label class="span2">
                                        是
                                    </label>
                                    <label class="span1">
                                        @Html.RadioButtonFor(n => n.IsSuperior, 1, new { id = "Superiorno", name = "Superior", disabled = "disabled" })
                                    </label>
                                    <label class="span2">
                                        否
                                    </label>
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="row-fluid">
                                <div class="span2"><label class="control-label" style="padding-top:2px;">是否到非接待场所涉访</label></div>
                                
                                <div class="span3">
                                    <label class="span1">
                                        @Html.RadioButtonFor(n => n.IsReceptionSite, 0, new { id = "ReceptionSiteyes", name = "Revisit", @onclick = "HideReceptionSite()", disabled = "disabled" })
                                    </label>
                                    <label class="span2">
                                        是
                                    </label>
                                    <label class="span1">
                                        @Html.RadioButtonFor(n => n.IsReceptionSite, 1, new { id = "ReceptionSiteno", name = "Revisit", @onclick = "HideReceptionSite()", disabled = "disabled" })
                                    </label>
                                    <label class="span2">
                                        否
                                    </label>
                                </div>
                            </div>
                            <div class="row-fluid" id="ReceptionSiteID" style="display:none;">
                                <div class="span2"><label class="control-label"><span class="required">*</span>场所</label></div>
                                <div class="span3"> @Html.TextBoxFor(s => s.ReceptionSite, new { @class = "span12", disabled = "disabled" }) </div>
                                <div class="span2"><label class="control-label"><span class="required">*</span>时间</label></div>
                                <div class="span3">@Html.TextBoxFor(s => s.ReceptionSiteDate, new { @class = "span12 jedate", @readonly = "readonly", placeholder = "年/月/日", disabled = "disabled" }) </div>
                            </div>

                            <div class="row-fluid">
                                <div class="span2"><label class="control-label" style="padding-top:2px;">是否上级领导包案督访</label></div>
                                
                                <div class="span3">

                                    <label class="span1">
                                        @Html.RadioButtonFor(n => n.IsPackageCase, 0, new { id = "PackageCaseyes", name = "PackageCase", @onclick = "HidePackageCase()", disabled = "disabled" })
                                    </label>
                                    <label class="span2">
                                        是
                                    </label>
                                    <label class="span1">
                                        @Html.RadioButtonFor(n => n.IsPackageCase, 1, new { id = "PackageCaseno", name = "PackageCase", @onclick = "HidePackageCase()", disabled = "disabled" })
                                    </label>
                                    <label class="span2">
                                        否
                                    </label>
                                </div>
                            </div>

                            <div class="row-fluid" id="PackageCaseID" style="display:none;">
                                <div class="span2"><label class="control-label">备注信息</label></div>
                                <div class="span8">@Html.TextAreaFor(s => s.PackageCaseRemark, new { @class = "span12 txt-overflow", rows = "4", style = "margin-top: -3px;", disabled = "disabled" }) </div>
                            </div>

                            <div class="row-fluid">
                                <div class="span2"><label class="control-label" style="padding-top:2px;">是否积案</label></div>
                               
                                <div class="span3">
                                    <label class="span1">
                                        @Html.RadioButtonFor(n => n.IsAccumulatedCases, 0, new { id = "AccumulatedCasesyes", name = "AccumulatedCases", @onclick = "HideAccumulatedCase()", disabled = "disabled" })
                                    </label>
                                    <label class="span2">
                                        是
                                    </label>
                                    <label class="span1">
                                        @Html.RadioButtonFor(n => n.IsAccumulatedCases, 1, new { id = "AccumulatedCasesno", name = "AccumulatedCases", @onclick = "HideAccumulatedCase()", disabled = "disabled" })
                                    </label>
                                    <label class="span2">
                                        否
                                    </label>
                                </div>
                            </div>

                            <div class="row-fluid" id="AccumulatedCaseID" style="display:none;">
                                <div class="span2"><label class="control-label">备注信息</label></div>
                                <div class="span8">@Html.TextAreaFor(s => s.AccumulatedCaseRemark, new { @class = "span12 txt-overflow", rows = "4", style = "margin-top: -3px;", disabled = "disabled" }) </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="row-fluid">
                                <div class="span2"><label class="control-label">内容</label></div>
                                <div class="span8">@Html.TextAreaFor(s => s.AppealContent, new { @class = "span12 txt-overflow", rows = "6", disabled = "disabled" }) </div>
                            </div>
                            <div class="form-line">
                                    <div class="span5 offset5">
                                        <input type="hidden" id="hdn-id" value="" />
                                        <button type="button" class="btn btn-gray" onclick="return goBack()"> 返回 </button>
                                    </div>
                                </div>
                            
                        </form>
                    </div>
            }
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
</div>

<script>
        $(document).ready(function () {
            HidePackageCase();
            HideReceptionSite();
            HideAccumulatedCase();
        });

        //是否上级领导包案督访
        function HidePackageCase() {
            if ($("#PackageCaseyes").is(':checked')) {
                $("#PackageCaseID").show();
            }
            else {
                $("#PackageCaseID").hide();
                $("#PackageCaseRemark").val("");
            }

        }

        //是否到非接待场所涉访
        function HideReceptionSite() {
            if ($("#ReceptionSiteyes").is(':checked')) {
                $("#ReceptionSiteID").show();
            }
            else {
                $("#ReceptionSiteID").hide();
                $("#ReceptionSite").val("");
                $("#ReceptionSiteDate").val("");
            }

        }

        //是否积案
        function HideAccumulatedCase() {
            if ($("#AccumulatedCasesyes").is(':checked')) {
                $("#AccumulatedCaseID").show();
            }
            else {
                $("#AccumulatedCaseID").hide();
                $("#AccumulatedCaseRemark").val("");
            }

        }
        //返回
        function goBack() {
            document.location = "@Url.Action("CaseInfoList")";
        }
</script>
