﻿@using Model
@model List<t_CaseInfo>
@{
    ViewBag.Title = "CaseInfoList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currentUser = Session["CurrentUser"] as Model.t_User;
    int ID = ViewData.GetInt("ID");
}
<style>
    .x_panel .row-fluid > div:first-child{
            margin-right:7% !important;   
        }
</style>
<h2 class="headline">案件管理</h2>
<div class="row-fluid">
    <div class="span12">
        <div class="x_panel">
            <div class="row-fluid">
                <div class="span12" style="position:relative">
                    @if (currentUser == null)
                    {
                        Response.RedirectToRoute(new { controller = "Login", action = "Login" });
                    }
                    else
                    {
                        if (currentUser.UserRoleList.Contains("1") || currentUser.UserRoleList.Contains("2"))
                        {
                            <div class="span12">
                                <div class="span11" style="position: relative;z-index: 1;">
                                    <div class="span6">
                                        @*@if (currentUser.UserRoleList.Contains("1") || currentUser.UserRoleList.Contains("2") || currentUser.UserRoleList.Contains("3"))
        {*@
                                        <div class="dataTables_length" id="datatable_length" style="width:100%">
                                            <label>
                                                <a class="btn btn-info btn-sm" href="@Url.Action("CaseInfoAdd")">录入案件信息</a>
                                                <a class="btn btn-info btn-sm" href="javascript:(0)"data-toggle="modal" data-target="#exportModal">批量导出</a>
                                            </label>
                                        </div>
                                        @*}*@
                                    </div>
                                    @*<div class="span4">
                                            <div class="dataTables_length" id="datatable_length" style="width:60%">
                                                <label>
                                                    <a class="btn btn-info btn-sm" href="@Url.Action("CaseInfoAdd")">录入案件信息</a>
                                                </label>
                                            </div>
                                    </div>*@
                                    <div>
                                        
                                        <div class="span2 ">
                                            <input id="petitionname" type="text" class="span12 " placeholder="信访人">
                                        </div>
                                        <div class="span2 ">
                                            <select id="UnitType" class="span12">
                                                @*@if (currentUser.UserRoleList.Contains("1") || currentUser.UserRoleList.Contains("2") || currentUser.UserRoleList.Contains("3"))*@
                                                @if (currentUser.UserRoleList.Contains("1") || currentUser.UserRoleList.Contains("2"))
                                                {
                                                    <option value="0">所有责任单位</option>
                                                }
                                                @if (ViewBag.UnitType != null)
                                                {
                                                    foreach (var m in ViewBag.UnitType)
                                                    {
                                                        if (currentUser.UserRoleList.Contains("1") || currentUser.UserRoleList.Contains("2"))
                                                        {
                                                            <option value="@m.UnitName">@m.UnitName</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div class="span2 ">
                                            <select id="TownshipType" class="span12">
                                                @*//@if (currentUser.UserRoleList.Contains("1") || currentUser.UserRoleList.Contains("2"))*@
                                                @if (currentUser.UserRoleList.Contains("1") || currentUser.UserRoleList.Contains("2"))
                                                {
                                                    <option value="0">所有稳控单位</option>
                                                }
                                                @if (ViewBag.TownshipType != null)
                                                {
                                                    foreach (var m in ViewBag.TownshipType)
                                                    {
                                                        //if (currentUser.UserRoleList.Contains("1") || currentUser.UserRoleList.Contains("2") || (currentUser.UserRoleList.Contains("3") && currentUser.UserArea == m.CountyId))
                                                        if (currentUser.UserRoleList.Contains("1") || currentUser.UserRoleList.Contains("2"))
                                                        {
                                                            <option value="@m.CountyName">@m.CountyName</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="span2 " style="position: absolute;right: 0%;z-index:0">
                                    <button class="btn btn-primary " type="button" onclick="clearSearch()" style="float:right">清除</button>
                                    <button class="btn btn-primary " type="button" onclick="search()" style="float:right">搜索</button>
                                </div>

                            </div>
                        }
                        else
                        {
                            if (currentUser.UserRoleList.Contains("1") || currentUser.UserRoleList.Contains("2") || currentUser.UserRoleList.Contains("4") && currentUser.UserArea == null)
                            {
                                <div class="span12">
                                    <div class="span11" style="position: relative;z-index: 1;">
                                        <div class="span9">

                                            @if (currentUser.UserRoleList.Contains("1") || currentUser.UserRoleList.Contains("2") || currentUser.UserRoleList.Contains("4"))
                                            {
                                                <div class="dataTables_length" id="datatable_length" style="width:60%">
                                                    <label>
                                                        <a class="btn btn-info btn-sm" href="@Url.Action("CaseInfoAdd")">录入案件信息</a>
                                                        <a class="btn btn-info btn-sm" href="javascript:(0)"data-toggle="modal" data-target="#exportModal">批量导出</a>
                                                    </label>
                                                </div>
                                            }
                                        </div>
                                        <div>

                                            <div class="span1 ">
                                                <input id="petitionname" type="text" class="span12 " placeholder="信访人">
                                            </div>
                                            <div class="span2 ">
                                                <select id="TownshipType" class="span12">
                                                    @if (currentUser.UserRoleList.Contains("1") || currentUser.UserRoleList.Contains("2") || currentUser.UserRoleList.Contains("4"))
                                                    {
                                                        <option value="0">所有稳控单位</option>
                                                    }
                                                    @if (ViewBag.TownshipType != null)
                                                    {
                                                        foreach (var m in ViewBag.TownshipType)
                                                        {
                                                            //if (currentUser.UserRoleList.Contains("1") || currentUser.UserRoleList.Contains("2") || (currentUser.UserRoleList.Contains("3") && currentUser.UserArea == m.CountyId))
                                                            if (currentUser.UserRoleList.Contains("1") || currentUser.UserRoleList.Contains("2") || currentUser.UserRoleList.Contains("3") || (currentUser.UserRoleList.Contains("4")))// && currentUser.UserUnit == m.TableId
                                                            {
                                                                <option value="@m.CountyName">@m.CountyName</option>
                                                            }
                                                        }
                                                    }
                                                </select>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="span2 " style="position: absolute;right: 0%;z-index:0">
                                        <button class="btn btn-primary " type="button" onclick="clearSearch()" style="float:right">清除</button>
                                        <button class="btn btn-primary " type="button" onclick="search()" style="float:right">搜索</button>
                                    </div>

                                </div>
                            }
                            else
                            {
                                <div class="span12">
                                    <div class="span11" style="position: relative;z-index: 1;">
                                        <div class="span11">

                                            @if (currentUser.UserRoleList.Contains("1") || currentUser.UserRoleList.Contains("2") || currentUser.UserRoleList.Contains("4"))
                                            {
                                                <div class="dataTables_length" id="datatable_length" style="width:60%">
                                                    <label>
                                                        <a class="btn btn-info btn-sm" href="@Url.Action("CaseInfoAdd")">录入案件信息</a>
                                                    </label>
                                                </div>
                                            }
                                        </div>
                                        <div>

                                            <div class="span1 ">
                                                <input id="petitionname" type="text" class="span12 " placeholder="信访人">
                                            </div>

                                             
                                        
                                        </div>
                                    </div>

                                    <div class="span2 " style="position: absolute;right: 0%;z-index:0">
                                        <button class="btn btn-primary " type="button" onclick="clearSearch()" style="float:right">清除</button>
                                        <button class="btn btn-primary " type="button" onclick="search()" style="float:right">搜索</button>
                                    </div>

                                </div>
                            }

                        }
                    }
                </div>
               
            </div>

            <div class="">
                <a id="downXls" class="hidden">123</a>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="display:none">ID</th>
                            @*<th>序号</th>*@
                            <th>案件编号</th>
                            <th>信访人</th>
                            <th>联系电话</th>
                            <th>责任单位</th>
                            <th>稳控单位</th>
                            <th>涉法涉诉</th>
                            <th>处理情况</th>
                            <th width="120px">操作</th>
                        </tr>
                    </thead>
                    <tbody id="tbodystr"></tbody>
                </table>

                <div id="data-pager">

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exportModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">批量导出</h4>
            </div>
            @using (Html.BeginForm("", "", FormMethod.Post, new { @Id = "demoForm" }))
            {
                <div class="modal-body">
                    <br/>
                    <div class="row-fluid">
                        <div class="form-group">
                            <div class="span4">
                                <label for="OrderBy" class="modal-label">请选择排序方式</label>
                            </div>
                            <div class="span6">
                                <select id="OrderBy" name="TransactType" class="span12">
                                    <option value="PetitionName">信访人</option>
                                    <option value="RelateUnitName">责任单位</option>
                                    <option value="RelateAreaName">稳控单位</option>
                                    <option selected value="CheckingDate">接访日期</option>
                                </select>
                                @*@Html.TextBoxFor(n => n.UserPosition, new { @Id = "Postion", @class = "span12 form-control", @required = "required", @placeholder = "请输入职务" })*@
                            </div>
                        </div>
                        <br/>
                        <br/>
                        <br/>
                    </div>
                </div>
                <input class="hidden" value="0" data-parsley-checkdelaytime />
                <div class="modal-footer">
                    <input id="status" class="hidden" />
                    <button class="btn btn-primary" type="button" onclick="return ExportAll()">导出</button>
                    <button type="button" class="btn btn-gray" data-dismiss="modal">关闭</button>
                </div>
            }

        </div>
    </div>
</div>

<div class="clearfix"></div>
<script>
    $(document).ready(function ()
    {
        $("a:contains('删除')").click(function () {
            return confirm("确认是否删除数据？");
        });
    })

    $(function () {
        var page = getUrlParam('p');
        if(page == null || page == undefined || page == "undefined" ){
            page = 1
        }
        createTable(page);
    })

    var pagesize = 15;
    var pageindex = 1;
    //获取url参数值

    function createTable(number) {
        pageindex = parseInt(number);
        var petitionname = decodeURI(getUrlParam('petition'));
        if(petitionname == "null" || petitionname == undefined || petitionname == "undefined" ){
            petitionname = $('#petitionname').val();
        }
        var TownshipType = decodeURI(getUrlParam('Township'));
        if(TownshipType == "null" || TownshipType == undefined || TownshipType == "undefined" ){
            TownshipType = $('#TownshipType').val();
        }
        var UnitType = decodeURI(getUrlParam('Unit'));
        if(UnitType == "null" || UnitType == undefined || UnitType == "undefined" ){
            UnitType = $('#UnitType').val();
        }
        TownshipType == undefined ? TownshipType = 0 : TownshipType = TownshipType;
        UnitType == undefined ? UnitType = 0 : UnitType = UnitType;
        $('#petitionname').val(petitionname);
        $('#TownshipType').val(TownshipType);
        $('#UnitType').val(UnitType);
        if (TownshipType == 0 && UnitType == 0 && !petitionname.length){
            $.ajax({
                method: 'post',
                url: "@Url.Action("GetCaseInfo", "CaseInfo")",
                data: {
                    "pageindex": pageindex,
                    "pagesize": pagesize
                },
            cache: false,
            async: true,
            crossDomain: true,
            timeout: 20000,
            success: function (data) {
                var html = "";
                html += data
                $('#tbodystr').empty().append(data);
                if ($('#total').text() == 0) {
                    $('#tbodystr').empty().append('<tr><td colspan="9">暂无信息</td></tr>')
                    $('#data-pager').empty()
                }
                else {
                    var total = $('#total').text();
                    var html2 = customPaging(pageindex, pagesize, total);

                    $('#data-pager').empty().append(html2);
                    $('.tdTit').each(function (i, v) {
                        var val = $(this).text()
                        $(this).text(textHidden(val, 100, ".tdstr"))
                    });
                    $('.tdstr').each(function (i, v) {
                        var val = $(this).text()
                        $(this).text(textHidden(val, 120, ".tdstr"))
                    });
                }
                $.cookie('petition', "", {
                    path: '/'
                })
                $.cookie('Township', "0", {
                    path: '/'
                });
                $.cookie('Unit', "0", {
                    path: '/'
                });
         
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $('#tbodystr').empty().append('<tr><td colspan="7">抱歉，出了点意外状况</td></tr>');
                $('#data-pager').empty();
                //closeLoading();
            }
        });
    }
    else
    {
            $.ajax({
                method: 'post',
                url: "@Url.Action("QueryCaseInfo", "CaseInfo")",
                data: {
                    //"AppealNumber": appealnum,
                    "PetitionName": petitionname,
                    //"AppealTitle": appealtitle,
                    "TownshipType": TownshipType,
                    "UnitType": UnitType,
                    "pageindex": pageindex,
                    "pagesize": pagesize
                },
                cache: false,
                    async: true,
                crossDomain: true,
                //timeout: 20000,
                success: function (data) {
                    //$('#tbodystr').empty();
                    $('#tbodystr').empty().html(data);
                    if ($('#total').text() == 0) {
                        $('#tbodystr').empty().append('<tr><td colspan="9">暂无信息</td></tr>')
                        $('#data-pager').empty()
                    }
                    else {
                        var total = $('#total').text();
                        var html2 = customPaging(pageindex, pagesize, total);

                        $('#data-pager').empty().append(html2);
                        $('.tdTit').each(function (i, v) {
                            var val = $(this).text()
                            $(this).text(textHidden(val, 100, ".tdstr"))
                        });
                        $('.tdstr').each(function (i, v) {
                            var val = $(this).text()
                            $(this).text(textHidden(val, 120, ".tdstr"))
                        });
                    }
                    $.cookie('petition', petitionname, {
                        path: '/'
                    })
                    $.cookie('Township', TownshipType, {
                        path: '/'
                    });
                    $.cookie('Unit', UnitType, {
                        path: '/'
                    });
                   
                    //searchPage();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $('#tbodystr').empty().append('<tr><td colspan="7">抱歉，出了点意外状况</td></tr>');
                    $('#data-pager').empty();
                    //closeLoading();
                }
            });
        }
    }

    function Export(id, num) {
        var link = document.getElementById('downXls');
        document.getElementById("downXls").onclick;  
          $.ajax({
                cache: true,
                type: "POST",
                url: "@Url.Action("CaseInfoExport", "CaseInfo")",
                 data: { "id": id, "num": num},
                async: false,
                error: function(request) {
                    alert("Connection error");
                },
              success: function (data) {
                  var str = "/ExportExcel/案件编号" + num + ".xls";
                  $(link).attr('href', str).attr('download', '案件编号' + num);
                  link.click();
                  alertModal('提示！',data.Message);
                }
            });
    }

    function ExportAll() {
        var  Petitionname = $('#petitionname').val();
        var  TownshipType = $('#TownshipType').val();
        var  UnitType = $('#UnitType').val();

        TownshipType == undefined ? TownshipType = 0 : TownshipType = TownshipType;
        UnitType == undefined ? UnitType = 0 : UnitType = UnitType;

        var link = document.getElementById('downXls');
        document.getElementById("downXls").onclick;  
          $.ajax({
                cache: true,
                type: "POST",
                url: "@Url.Action("CaseInfoExportAll", "CaseInfo")",
                  async: false,
              data: { "PetitionName": Petitionname, "TownshipType": TownshipType, "UnitType": UnitType, "OrderBy": $('#OrderBy').val()},
                error: function(request) {
                    alert("Connection error");
                },
              success: function (data) {
                  $("#exportModal").modal("hide");
                  var str = "/ExportExcel/案件管理.xls";
                  $(link).attr('href', str).attr('download', '案件管理');
                  link.click();
                  alertModal('提示！',data.Message);
                }
            });
    }

    function search() {
            clearUrlParam();
            createTable(1);
        return false;
    }

    function clearSearch() {
        //$('#searchAuto').val('');
        $('#petitionname').val('');
        //$('#appealtitle').val('');
        if (document.getElementById("TownshipType") != null) {
            document.getElementById("TownshipType").selectedIndex = 0;
        }
        if (document.getElementById("UnitType") != null) {
            document.getElementById("UnitType").selectedIndex = 0;
        }
        clearUrlParam();
        createTable(1);

        return false;
    }


    function Del(id) {
        $.confirm({
            title: '提示!',
            content: '确定要删除这条记录吗',
            buttons: {
                confirm: {
                    btnClass: 'btn-danger',
                    text: '确定',
                    action: function () {
                        $.ajax({
                            cache: true,
                            type: "POST",
                            url:"@Url.Action("CaseInfoDelete", "CaseInfo")" + "/"+@ID ,
                            data: {"id" : id},// 你的formid
                        async: false,
                        error: function(request) {
                            alert("Connection error");
                        },
                        success: function (data) {
                            alertModal('提示！',data.Message);
                            var tbLen = $('#tbodystr tr').length;
                            pageNumAll = $('.curr').text();
                            if (tbLen == 2) {
                                pageNumAll = pageNumAll - 1;
                            }
                            createTable(pageNumAll);
                        }
                    });
    }
    },
    cancel: {
        text: '取消',
        action: function () {
        }
    }
    }
    });
    }
</script>