﻿@using Model
@model UpgradeDetailModel
@{
    ViewBag.Title = "Upgrade";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currentUser = Session["CurrentUser"] as Model.t_User;
}

<h2 class="headline">进京/赴省</h2>
<div class="row-fluid">
    <div class="span12">
        <div class="x_panel">
            <div class="row-fluid">
                <div class="span12" style="position:relative">
                    <div class="span5">
                        <div class="dataTables_length" id="datatable_length" style="width: 120%;">
                            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal" onclick="AddModal()">新增进京/赴省记录</button>
                        </div>
                    </div>
                    <div class="span2" style="position:relative;z-index:1;margin-left: 0.8%;">
                        <input id="petitionname" type="text" class="span12 " placeholder="信访人">
                    </div>
                    <div class="span2">
                        <input id="unitname" type="text" class="span12 " placeholder="责任单位">
                    </div>
                    <div class="span2">
                        <input id="countyname" type="text" class="span12 " placeholder="稳控单位">
                    </div>
                    <div class="span2" style="position:absolute;z-index:0;right:0">
                        <button class="btn btn-primary " type="button" onclick="clearSearch()" style="float:right">清除</button>
                        <button class="btn btn-primary " type="button" onclick="search()" style="float:right">搜索</button>
                    </div>
                </div>
            </div>

            <div class="x_content">

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>信访人</th>
                            <th>责任单位</th>
                            <th>稳控单位</th>
                            <th>进京/赴省次数</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody id="tbodystr"></tbody>
                </table>
                <div id="data-pager">

                </div>
            </div>
        </div>
    </div>
</div>


<div class="clearfix"></div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">新增接访记录</h4>
            </div>
            @using (Html.BeginForm("", "", FormMethod.Post, new { @Id = "demoForm", @enctype = "multipart/form-data" }))
            {
                <div class="modal-body">
                    <div class="row-fluid hidden">
                        <div class="form-group hidden">
                            <div class="span4">
                                <label for="ID" class="modal-label">ID</label>
                            </div>
                            <div class="span6">
                                @Html.TextBoxFor(n => n.ID, new { @Id = "ID", @class = "span12" })
                            </div>
                        </div>
                        <div class="span6">
                            @Html.TextBoxFor(n => n.ID, new { @Id = "ID", @class = "span12" })
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="form-group">
                            <div class="span4">
                                <label for="selectNumber" class="modal-label"><span class="required">*</span>案件</label>
                            </div>
                            <div class="span6">
                                @Html.TextBoxFor(n => n.AppealNumber, new { @Id = "searchAuto", @class = "span12", autocomplete = "off", placeholder = "请输入信访人姓名", @onblur = "searchNum()" })
                                <ul class="parsley-errors-list-err filled" id="parsley-id-3" style="display: none"><li class="parsley-required">案件不存在或为空</li></ul>
                                <input type='text' class="hidden" id="Num" data-parsley-checknum data-parsley-checknum-message="案件不存在或为空" />
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="form-group">
                            <div class="span4">
                                <label for="RecordType" class="modal-label"><span class="required">*</span>类型</label>
                            </div>
                            <div class="span6">
                                <select id="RecordType" name="RecordType" class="span12 form-control" required="required">
                                    <option value="">请选择类型</option>
                                    <option value="1">进京</option>
                                    <option value="0">赴省</option>
                                    <option value="3">到市</option>
                                    <option value="4">到县</option>
                                    <option value="2">非访</option>
                                    <option value="5">退役军人事务部</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="form-group">
                            <div class="span4">
                                <label for="RecordDate" class="modal-label"><span class="required">*</span>日期</label>
                            </div>
                            <div class="span6">
                                @*<input class="span12 jedate" data-val="true" id="" name="CheckingDate" placeholder="年/月/日" readonly="readonly" style="cursor: default" type="text" value="">*@
                                @Html.TextBoxFor(n => n.RecordDate, new { @id = "RecordDate", @class = "span12 jedate", @readonly = "readonly", placeholder = "年/月/日", @style = "cursor: default", @required = "required" })
                            </div>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="form-group">
                            <div class="span4">
                                <label for="Comment" class="modal-label">内容</label>
                            </div>
                            <div class="span6">
                                @Html.TextAreaFor(n => n.RecordContent, new { @Id = "Comment", @class = "form-control span12 txt-overflow", @rows = "4" })
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="form-group">
                            <div class="span4">
                                <label for="ReceptionDate" class="modal-label">相关附件</label>
                            </div>
                            <div class="span6">
                                @*<input class="span12 jedate" data-val="true" id="" name="CheckingDate" placeholder="年/月/日" readonly="readonly" style="cursor: default" type="text" value="">*@
                                @*<input id="fileTxt" type="text" class="span8">*@
                                @Html.TextBoxFor(n => n.RecordFileName, new { @id = "fileTxt", @class = "form-control span8", @readonly = "readonly" })
                                <button id="fileBtn" type="button" class="btn btn-primary" style="float:right;margin:0">选择文件</button>
                                @*<input id="RecordFileName" name="Record" type="file" multiple />*@
                                <input id="input-4" name="input4[]" type="file" multiple class="file-loading">
                                @*@Html.TextBoxFor(n => n.RecordFileName, new { @id = "RecordFileName", @class = "form-control span12", @required = "required", @type = "file", @name = "FileName" })*@
                            </div>
                        </div>
                    </div>
                </div>
                <input class="hidden" value="0" data-parsley-checkdelaytime />
                <div class="modal-footer">
                    <input id="status" class="hidden" />
                    <button id="save" class="btn btn-primary" onclick="return SubmitBtn()">保存</button>
                    <button type="button" class="btn btn-gray" data-dismiss="modal">关闭</button>
                </div>
            }

        </div>
    </div>
</div>

<script>
    var start1 = {
        //isinitVal: true,
        initAddVal: [-1],
        format: 'YYYY-MM-DD',
        maxDate: '2099-12-31 23:59:59', //最大日期为当前日期
        choosefun: function (val) {
            var thisId = $('#RecordDate');
            if (thisId.val() != "") {
                thisId.removeClass('parsley-error').next().hide();
            }
        },
        okfun: function (val) {
            var thisId = $('#RecordDate');
            if (thisId.val() != "") {
                thisId.removeClass('parsley-error').next().hide();
            }
        }
    };

    window.Parsley
        .addValidator('checkdelaytime', {
            validateString: function (value) {
                $('#demoForm .parsley-errors-list').show();
                return true;
            }
        });
    window.Parsley
        .addValidator('checknum', {
            validateString: function (value) {
                if (value == 0) {
                    $('#searchAuto').addClass("parsley-error");

                    return false;//校验不通过,会将data-parsley-checkdelaytime-message对应的信息输出

                }
                return true;
            }
        });
    $(function () {
        $('#searchAuto').attr({ 'data-provide': "typeahead" })
        var page = getUrlParam('p');
        if (page == null || page == undefined || page == "undefined") {
            page = 1
        }
        createTable(page);
         $("#searchAuto").typeahead({
             source: function (query, process) {
                 console.info("query" + query)
                 return $.ajax({
                     url: '@Url.Action("GetNumTitle", "Auto")',
                     type: 'post',
                     data: { appealNumber: query },
                     success: function (result) {
                         var resultObj = JSON.parse(result.Message);
                         searchLen = resultObj;
                         return process(resultObj);
                     },
                 });
             }
        });
        initFileInput("input-4");
        $('.file-input').hide();
    })
    $('#fileBtn').click(function () {
        $('.fileinput-remove').click();
        $('#input-4').click().change(function () {
            var val = $('#input-4').val();
            var arr = val.split('\\');
            var my = arr[arr.length - 1];
            if (val.length == 0) {
                $('#fileBtn').val('选择文件');
            } else {
                $('#fileTxt').val(my);
            }
        })
    })

    var searchLen;
    var fileStatus;
    var pagesize = 15;
    var pageindex = 1;

    function createTable(number) {
        pageindex = parseInt(number);
        var petitionname = decodeURI(getUrlParam('petition'));
        if (petitionname == "null" || petitionname == undefined || petitionname == "undefined") {
            petitionname = $('#petitionname').val();
        }

        var unit = decodeURI(getUrlParam('unit'));
        if (unit == "null" || unit == undefined || unit == "undefined") {
            unit = $('#unitname').val();
        }

        var county = decodeURI(getUrlParam('county'));
        if (county == "null" || county == undefined || county == "undefined") {
            county = $('#countyname').val();
        }
        $('#petitionname').val(petitionname);
        $('#unitname').val(unit);
        $('#countyname').val(county);
        if (!petitionname.length && !unit.length && !county.length)
        {
            $.ajax({
                method: 'post',
                url: "@Url.Action("GetCaseInfo", "Upgrade")",
                data: {
                    "pageindex": pageindex,
                    "pagesize": pagesize
                },
            cache: false,
            async: true,
            crossDomain: true,
            timeout: 20000,
            success: function (data) {
                //$('#tbodystr').empty();
                $('#tbodystr').empty().html(data);
                if($('#total').text() == 0){
                    $('#tbodystr').empty().append('<tr><td colspan="8">暂无信息</td></tr>')
                    $('#data-pager').empty()
                }
                else
                {
                    var html2 = customPaging(pageindex, pagesize, $('#total').text());
                    $('#data-pager').empty().append(html2);
                }
                $.cookie('petition', "", {
                    path: '/'
                })
                $.cookie('unit', "", {
                    path: '/'
                })
                $.cookie('county', "", {
                    path: '/'
                })
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $('#tbodystr').empty().append('<tr><td colspan="8">抱歉，出了点意外状况</td></tr>');
                $('#data-pager').empty();
                //closeLoading();
            }
        });
        }
        else
        {
            var json = JSON.stringify({
                "pageindex": pageindex,
                "pagesize": pagesize,
                "petitionName": petitionname,
                "unitName": unit,
                "countyName": county
            })
            console.log(json);
            $.ajax({
                method: 'post',
                url: "@Url.Action("QueryCaseInfo", "Upgrade")",
                data: {
                    "jsonStr": json
                },
                cache: false,
                async: true,
                crossDomain: true,
                timeout: 20000,
                success: function (data) {
                    //$('#tbodystr').empty();
                    $('#tbodystr').empty().html(data);
                    var total = $('#total').text();
                    if (total == 0){
                        $('#tbodystr').empty().html('<tr><td colspan="8">暂无信息</td></tr>')
                        $('#data-pager').empty()
                    }
                    else
                    {
                        var html2 = customPaging(pageindex, pagesize, $('#total').text());

                        $('#data-pager').empty().append(html2);
                    }
                    $.cookie('petition', petitionname, {
                        path: '/'
                    })
                    $.cookie('unit', unit, {
                        path: '/'
                    })
                    $.cookie('county', county, {
                        path: '/'
                    })
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $('#tbodystr').empty().append('<tr><td colspan="8">抱歉，出了点意外状况</td></tr>');
                    $('#data-pager').empty();
                    //closeLoading();
                }
            });

        }


    }
    function search() {
        clearUrlParam();
            createTable(1);

        return false;
    }
    function searchNum() {
        var val = $('#searchAuto').val();
        $.ajax({
            method: 'post',
            url: "@Url.Action("NoTransactStatus", "Auto")",
            data: {
                "appealNumber": val
            },
        cache: false,
        async: true,
        crossDomain: true,
        timeout: 20000,
        success: function (data) {
            if (data.Status == 1) {
                $("#myModal").modal("hide");
                alertModal('提示！', data.Message);
            }
            else {
                var a = $.inArray(val, searchLen);
                if (searchLen.length == 0 && a == -1) {
                    $('#Num').val(0);
                    $('#searchAuto').addClass("parsley-error");
                    $('#parsley-id-3').show();
                    $('#parsley-id-7').hide();
                } else {
                    $('#searchAuto').removeClass("parsley-error");
                    $('#parsley-id-3').hide();
                    $('#parsley-id-7').hide();
                }
            }
        },
        error: function (jqXHR, textStatus, errorThrown) {
        }
    });

    }

    function SubmitBtn() {
        var val = $('#searchAuto').val();
        var status = $('#status').val();
        $('#parsley-id-3').hide();
        if ($('#demoForm').parsley().isValid()) {
            if (status == 1) {
                var val = $('#fileTxt').val();
                if (val.length && val != fileStatus) {
                    $('.fileinput-upload.fileinput-upload-button').click();
                } else {
                   $('#fileTxt').val("");
                    $.ajax({
                        cache: true,
                        type: "POST",
                        url: "@Url.Action("EditUpgrader", "Upgrade")",
                        data: $('#demoForm').serialize(),
                        async: false,
                        error: function (request) {
                            alert("Connection error");
                        },
                        success: function (data) {
                            $("#myModal").modal("hide");
                            alertModal('提示！', data.Message);
                            createTable(1);
                        }
                    });
                }
            }
            else {
                var a = $.inArray(val, searchLen);
                if (a == -1) {
                    $('#Num').val(0);
                } else {
                    $('#Num').val("");
                }
                var val = $('#fileTxt').val();
                if (val.length) {
                    $('.fileinput-upload.fileinput-upload-button').click();
                } else {
                    $.ajax({
                        cache: true,
                        type: "POST",
                        url: "@Url.Action("AddUpgrader", "Upgrade")",
                        data: $('#demoForm').serialize(),
                        async: false,
                        error: function (request) {
                            alert("Connection error");
                        },
                        success: function (data) {
                            $("#myModal").modal("hide");
                            alertModal('提示！', data.Message);
                            createTable(1);
                        }
                    });
                }
            }
            return false;
        }
    }

    function AddModal() {
        $('#myModalLabel').text('新增进京/赴省记录');
        $('#searchAuto').removeAttr("disabled").val("");
        $('#RecordType').val("");
        $('#RecordDate').val("");
        $('#Comment').val("");
        $('#fileTxt').val("");
        $('#status').val("")

        $('#demoForm .parsley-error').removeClass('parsley-error');
        $('#demoForm .parsley-errors-list').hide();

    }

    function EditModal(row,id) {
        $('#myModalLabel').text('修改进京/赴省记录');
        $('#status').val("1")
        $('#ID').val(id);
        $('#searchAuto').attr("disabled", "disabled").val($("table tr:eq(" + row + ") th:eq(1)").text());
        $('#RecordType').val($("table tr:eq(" + row + ") th:eq(0)").text().trim());
        $('#RecordDate').val($("table tr:eq(" + row + ") td:eq(5)").text());
        $('#Comment').val($("table tr:eq(" + row + ") td:eq(4)").text());
         $('#fileTxt').val($("table tr:eq(" + row + ") td:eq(6)").text());
         fileStatus = $('#fileTxt').val();
        $('#demoForm .parsley-error').removeClass('parsley-error');
        $('#demoForm .parsley-errors-list').hide();
    }
    function Del(id) {
        $.confirm({
            title: '提示!',
            content: '确定要删除这条记录吗',
            buttons: {
                confirm: {
                    btnClass: 'btn-danger',
                    text: '确定',
                    action: function () {
                        $.ajax({
                            cache: true,
                            type: "POST",
                            url: "@Url.Action("DelUpgrader", "Upgrade")",
                            data: { "id": id },// 你的formid
                        async: false,
                        error: function (request) {
                            alert("Connection error");
                        },
                        success: function (data) {
                            alertModal('提示！', data.Message);
                            createTable(1);
                        }
                    });
    }
    },
    cancel: {
        text: '取消',
        action: function () {
        }
    }
    }
    });
    }

    function clearSearch() {
        $('#petitionname').val("");
        $('#unitname').val("");
        $('#countyname').val("");
        $('#searchtype').val(99);
        $('#startDate').val("");
        $('#endDate').val("");
        //$('#Date').val(99);
        clearUrlParam();
        createTable(1);
    }

    function initFileInput(ctrlName) {
        var url = "@Url.Action("UpFiles", "Base")";

        var control = $('#' + ctrlName);
        control.fileinput({
            language: 'zh', //设置语言
            uploadUrl: url, //上传的地址
            uploadExtraData: { "name": "input4[]" },
            uploadAsync: true, //默认异步上传
            showUpload: true, //是否显示上传按钮
            showRemove: true, //显示移除按钮
            showPreview: false, //是否显示预览
            showCaption: false,//是否显示标题
            dropZoneEnabled: false,//是否显示拖拽区域
            maxFileSize: 10240,//单位为kb，如果为0表示不限制文件大小
            maxFileCount: 1, //表示允许同时上传的最大文件个数
        }).on("fileuploaded", function (event,data) {    //一个文件上传成功
            $('#fileTxt').val(data.response.Message);
            var status = $('#status').val();
            if (status == 1) {
                 $.ajax({
                cache: true,
                type: "POST",
                url: "@Url.Action("EditUpgrader", "Upgrade")",
                data: $('#demoForm').serialize(),
                async: false,
                error: function (request) {
                    alert("Connection error");
                },
                success: function (data) {
                    $("#myModal").modal("hide");
                    alertModal('提示！', data.Message);
                    createTable(1);
                }
            });
            }
            else {
                 $.ajax({
                cache: true,
                type: "POST",
                url: "@Url.Action("AddUpgrader", "Upgrade")",
                data: $('#demoForm').serialize(),
                async: false,
                error: function (request) {
                    alert("Connection error");
                },
                success: function (data) {
                    $("#myModal").modal("hide");
                    alertModal('提示！', data.Message);
                    createTable(1);
                }
            });
            }
        }).on('fileerror', function (event, data, msg) {  //一个文件上传失败
            alertModal('提示！','文件上传失败');
        })
    }
</script>
