﻿@using Model
@model UserModel
@{
    ViewBag.Title = "UserAdmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currentUser = Session["CurrentUser"] as Model.t_User;
}

<style>
    ul.parsley-errors-list-err {
        list-style: none;
        color: #E74C3C;
        margin: 0 0 10px 0;
        padding: 0;
    }
    .x_panel .row-fluid  div{
            width:100% !important;   
        }
</style>

<h2 class="headline">用户管理</h2>
<div class="row-fluid">
    <div class="span12">
        <div class="x_panel">
            <div class="row-fluid">
                <div class="span6">
                    <div class="dataTables_length" id="datatable_length">
                            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal" onclick="AddModal()">新增用户信息</button>
                    </div>
                </div>
            </div>

            <div class="x_content">

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>用户名</th>
                            <th>姓名</th>
                            <th>职务</th>
                            <th>联系方式</th>
                            <th>责任单位</th>
                            <th>稳控单位</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody id="tbodystr"></tbody>
                </table>
                <div id="data-pager">
                    
                </div>
            </div>
        </div>
    </div>
</div>


<div class="clearfix"></div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <input id="UserArea" class="hidden" value="@currentUser.UserArea" />
            <input id="UserUnit" class="hidden" value="@currentUser.UserUnit" />
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal form-label-left", @Id = "demoForm" }))
        {
        <div class="modal-body">
            <div class="row-fluid">
                <div class="form-group hidden">
                    <div class="span4">
                        <label for="ID" class="modal-label">ID</label>
                    </div>
                    <div class="span6">
                        @Html.TextBoxFor(n => n.UserId, new { @Id = "ID", @class = "span12" })
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="form-group">
                    <div class="span4">
                        <label for="lName" class="modal-label"><span class="required">*</span>用户名</label>
                    </div>
                    <div class="span6">
                        @Html.TextBoxFor(n => n.LoginName, new { @Id = "lName", @class = "span12 form-control", @required = "required", @placeholder = "请输入用户名" })
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="form-group">
                    <div class="span4">
                        <label for="uName" class="modal-label"><span class="required">*</span>姓名</label>
                    </div>
                    <div class="span6">
                        @Html.TextBoxFor(n => n.UserName, new { @Id = "uName", @class = "span12 form-control", @required = "required", @placeholder = "请输入姓名" })
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="form-group">
                    <div class="span4">
                        <label for="Postion" class="modal-label">职务</label>
                    </div>
                    <div class="span6">
                        @Html.TextBoxFor(n => n.UserPosition, new { @Id = "Postion", @class = "span12 form-control",  @placeholder = "请输入职务" })
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="form-group">
                    <div class="span4">
                        <label for="lName" class="modal-label">联系方式</label>
                    </div>
                    <div class="span6">
                        @Html.TextBoxFor(n => n.UserPhone, new { @Id = "UserPhone", @class = "span12 form-control",  @placeholder = "请输入联系方式" })
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="form-group">
                    <div class="span4">
                        <label for="password1" class="modal-label"><span class="required">*</span>密码</label>
                    </div>
                    <div class="span6">
                        <input id="password1" required="required" minlength="6" type="password" class="span12" placeholder="请输入密码" />
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="form-group">
                    <div class="span4">
                        <label for="Password" class="modal-label"><span class="required">*</span>确认密码</label>
                    </div>
                    <div class="span6">
                        @Html.TextBoxFor(n => n.UserPassword, new { @Id = "Password", @class = "span12", @type = "password", @required = "required", @placeholder = "请再次输入密码" })
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="form-group">
                    <div class="span4">
                        <label for="Unit" class="modal-label"><span class="required">*</span>责任单位</label>
                    </div>
                    <div class="span6">
                        @Html.DropDownListFor(n => n.UserUnit, ViewData["userUnit"] as SelectList, "请选择责任单位", new { @Id = "Unit", @required = "required", @class = "span12 form-control", @onChange = "AorU()" })
                        <input type='text' class="hidden" id="UnitYZ" />
                        @Html.TextBoxFor(s => s.UnitName, new { @id = "UnitName", @class = "hidden" })
                    </div>
                </div>
            </div>
            @if (currentUser == null)
            {
                Response.RedirectToRoute(new { controller = "Login", action = "Login" });
            }
            else
            {
                <div class="row-fluid">
                    <div class="form-group">
                        <div class="span4">
                            <label for="Area" class="modal-label">稳控单位</label>
                        </div>
                        <div class="span6">
                            @Html.DropDownListFor(n => n.UserArea, ViewData["userArea"] as SelectList, "请选择稳控单位", new { @Id = "Area", @class = "span12 form-control", @onChange = "AorU()" })
                            <input type='text' class="hidden" id="AreaYZ" />
                            @Html.TextBoxFor(s => s.CountyName, new { @id = "CountyName", @class = "hidden" })
                        </div>
                    </div>
                </div>
            }
            
        </div>
        <div class="modal-footer">
            <input id="status" class="hidden" />
            <button class="btn btn-primary" onclick="return SubmitBtn()">保存</button>
            <button type="button" class="btn btn-gray" data-dismiss="modal">关闭</button>
        </div>
        }

        </div>
    </div>
</div>

<script>
    window.Parsley
        .addValidator('checkdelaytime', {
            validateString: function (value) {
                if (value == 0) {
                    $('#Area').addClass("parsley-error");
                    $('#parsley-id-21').show();
                    $('#demoForm .parsley-errors-list').show();
                    return false;//校验不通过,会将data-parsley-checkdelaytime-message对应的信息输出
                    
                }
                return true;
            }
        });
    window.Parsley
        .addValidator('checkunit', {
            validateString: function (value) {
                if (value == 0) {
                    $('#Unit').addClass("parsley-error");
                    $('#parsley-id-25').show();
                    return false;//校验不通过,会将data-parsley-checkdelaytime-message对应的信息输出
                  
                }
                return true;
            }
        });
    var UserArea = $('#UserArea').val();
    var UserUnit = $('#UserUnit').val();
    $(function () {
        $("#Password").attr({ 'data-parsley-equalto': "#password1" });
        createTable(1);
        $('#Unit').find("option:selected").after("<option value='999'>县信访局</option>")
        if (UserArea.length || UserUnit.length) {
            if (UserUnit != "") {
                $('#Unit').find('option').each(function (i) {
                    if ($(this).val() != UserUnit) {
                        $(this).remove();
                    }
                })
                
               // $('#UnitName').val($('#Unit').find('option:selected').text())
            }
            if (UserArea != "" && UserUnit != "") {
                $('#Area').find('option').each(function (i) {
                    if ($(this).val() != UserArea) {
                        $(this).remove();
                    }
                })
             
              //  $('#CountyName').val($('#Area').find('option:selected').text())
            }
        }
    })
    var pagesize = 15;
    var pageindex = 1;

    function createTable(number) {
        pageindex = number;
        $.ajax({
            method: 'post',
            url: "@Url.Action("GetUser", "User")",
            data: {
                "pageindex": pageindex,
                "pagesize": pagesize
            },
            cache: false,
            async: true,
            crossDomain: true,
            timeout: 20000,
            success: function (data) {
                //$('#tbodystr').empty();
                $('#tbodystr').empty().html(data);
                if ($('#total').text() == 0) {
                    $('#tbodystr').empty().append('<tr><td colspan="8">暂无信息</td></tr>')
                    $('#data-pager').empty()
                }
                else {
                    var html2 = customPaging(pageindex, pagesize, $('#total').text());

                    $('#data-pager').empty().append(html2);
                }
                
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $('#tbodystr').empty().append('<tr><td colspan="8">抱歉，出了点意外状况</td></tr>');
                $('#data-pager').empty();
                //closeLoading();
            }
        });

    }
    function AorU() {
        if ($('#Area').val().length || $('#Unit').val().length) {
            $('#Area').removeClass("parsley-error");
            $('#Unit').removeClass("parsley-error");
            $('#parsley-id-21').hide();
            $('#parsley-id-25').hide();
        }    
    }
    function SubmitBtn() {
        if ($('#Area').find("option:selected").text() != "请选择所属稳控单位" || $('#Unit').find("option:selected").text() != "请选择责任单位") {
            $('#AreaYZ').val(1);
            $('#UnitYZ').val(1);
        } else {
            $('#AreaYZ').val(0);
            $('#UnitYZ').val(0);
        }
        $('#demoForm .parsley-errors-list').show();
        if ($('#demoForm').parsley().isValid()) {
      
            var status = $('#status').val();
            if (status == 1) {
                //修改
                $.ajax({
                    cache: true,
                    type: "POST",
                    url: "@Url.Action("EditUser", "User")",
                    data: $('#demoForm').serialize(),// 你的formid
                    async: false,
                    error: function (request) {
                        alert("Connection error");
                    },
                    success: function (data) {
                        $("#myModal").modal("hide");
                        alertModal('提示！', data.Message);
                        createTable(pageNumAll);
                    }
                });
            }
            else {
                //添加
                $.ajax({
                    cache: true,
                    type: "POST",
                    url: "@Url.Action("AddUser", "User")",
                    data: $('#demoForm').serialize(),// 你的formid
                    async: false,
                    error: function (request) {
                        alert("Connection error");
                    },
                    success: function (data) {
                        $("#myModal").modal("hide");
                        alertModal('提示！', data.Message);
                        createTable(pageNumAll);
                    }
                });
            }
            return false;
        }
    }

    function SeeModal(row) {
        $('#myModalLabel').text('查看用户信息');
        $('#status').val("1")
        $('#ID').val($("table tr:eq(" + row + ") th:eq(0)").text());
        $('#lName').val($("table tr:eq(" + row + ") td:eq(0)").text()).attr("disabled", "disabled ");
        $('#uName').val($("table tr:eq(" + row + ") td:eq(1)").text()).attr("disabled", "disabled ");
        $('#Postion').val($("table tr:eq(" + row + ") td:eq(2)").text()).attr("disabled", "disabled ");
        $('#UserPhone').val($("table tr:eq(" + row + ") td:eq(3)").text()).attr("disabled", "disabled ");

        $('#password1').parent().parent().hide();
        $('#Password').parent().parent().hide();

        $('#Area').val($("table tr:eq(" + row + ") th:eq(2)").text()).attr("disabled", "disabled ").attr("disabled", "disabled ");
        //$('#Unit').val($("table tr:eq(" + row + ") th:eq(3)").text()).attr("disabled", "disabled ").attr("disabled", "disabled ");
        var unitVa = $("table tr:eq(" + row + ") th:eq(3)").text();
        if (unitVa == 0) {
            $('#Unit').val("999").attr("disabled", "disabled ");
        }
        else {
            $('#Unit').val(unitVa).attr("disabled", "disabled ");
        }
        $('#save').hide();
        $('#demoForm .parsley-error').removeClass('parsley-error');
        $('#demoForm .parsley-errors-list').hide();
    }
    function AddModal() {
        $('#myModalLabel').text('新增用户信息');
        $('#status').val("");
        $('#ID').val("");
        $('#lName').val("").removeAttr("disabled");
        $('#uName').val("").removeAttr("disabled");
        $('#Postion').val("").removeAttr("disabled");
        $('#UserPhone').val("").removeAttr("disabled");

        $('#password1').val("").parent().parent().show();
        $('#Password').val("").parent().parent().show();
        $('#Unit').val(UserUnit).removeAttr("disabled");
        $('#Area').val(UserArea).removeAttr("disabled");
        $('#demoForm .parsley-error').removeClass('parsley-error');
        $('#demoForm .parsley-errors-list').hide();
    }
    function EditModal(row) {
        $('#myModalLabel').text('修改用户信息');
        $('#status').val("1")
        $('#ID').val($("table tr:eq(" + row + ") th:eq(0)").text());
        $('#lName').val($("table tr:eq(" + row + ") td:eq(0)").text()).removeAttr("disabled");
        $('#uName').val($("table tr:eq(" + row + ") td:eq(1)").text()).removeAttr("disabled");
        $('#Postion').val($("table tr:eq(" + row + ") td:eq(2)").text()).removeAttr("disabled");
        $('#UserPhone').val($("table tr:eq(" + row + ") td:eq(3)").text()).removeAttr("disabled");

        $('#password1').val($("table tr:eq(" + row + ") th:eq(1)").text()).parent().parent().show();
        $('#Password').val($("table tr:eq(" + row + ") th:eq(1)").text()).parent().parent().show();
        var areaVal=$("table tr:eq(" + row + ") th:eq(2)").text();
        if (areaVal == 0) {
            $('#Area').val("999").removeAttr("disabled");
        }
        else {
            $('#Area').val(areaVal).removeAttr("disabled");
        }
        var unitVa = $("table tr:eq(" + row + ") th:eq(3)").text();
        if (unitVa == 0) {
            $('#Unit').val("999").removeAttr("disabled");
        }
        else {
            $('#Unit').val(unitVa).removeAttr("disabled");
        }
        $('#demoForm .parsley-error').removeClass('parsley-error');
        $('#demoForm .parsley-errors-list').hide();
    }
    function ResetModal(id) {
         $.ajax({
            cache: true,
            type: "POST",
            url:"@Url.Action("ResetUser", "User")",
             data: {"id":id},
            async: false,
            error: function(request) {
                alert("Connection error");
            },
            success: function (data) {
                $("#myModal").modal("hide");
                alertModal('提示！', data.Message);
                createTable(pageNumAll);
            }
        });
    }
    function Del(id) {
        alertDel('提示!', '确定要删除这个用户吗？', "DelUser",id)
    }

</script>

