﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--[if lt IE 9]>
    <script src="~/Content/src/js/html5shiv.min.js"></script>
    <script src="~/Content/src/js/respond.min.js"></script>
    <![endif]-->
    <!-- Respond.js proxy on external server -->
    <link href="http://externalcdn.com/respond-proxy.html" id="respond-proxy" rel="respond-proxy" />
    <!-- Respond.js redirect location on local server -->
    <link href="<%=path%>/base/bootstrap/js/respond.proxy.gif" id="respond-redirect" rel="respond-redirect" />
    <!-- Respond.js proxy script on local server -->
    @*<script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>*@
    <!-- IE8兼容性处理代码  end -->

    <title>信访系统 | </title>

    <!-- Bootstrap -->
    <link href="~/Content/bootstrap-v2/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-select.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="~/Content/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/jquery.jedate.css" rel="stylesheet" />
    <link href="~/Content/jquery-confirm.min.css" rel="stylesheet" />

    <!-- jQuery -->
    @*<script src="~/Content/src/js/jquery.min.js"></script>*@
    <script src="~/Content/src/js/jquery2.1.min.js"></script>
    <script src="~/Content/src/js/bootstrap-typeahead.js"></script>
    <script src="~/Content/src/js/parsley.min.js"></script>
    <script src="~/Content/src/js/jquery.jedate.min.js"></script>
    <script src="~/Content/src/js/jquery-confirm.min.js"></script>
    <script src="~/Content/src/js/jquery.cookie.js"></script>
    <script src="~/Content/src/js/script.js"></script>
    <script src="~/Content/src/js/fileinput.min.js"></script>

    <!-- Custom Theme Style -->
    <link href="~/Content/custom.min.css" rel="stylesheet" />
    <script>
        var pageLink = $.cookie('pageNumAll') == undefined ? 1 : $.cookie('pageNumAll');
        var pageNumAll = 1;
        //window.axx;
        var h = $(window).height()
        $('.render-main').css('height', h - 58 + 'px')
        $(function () {
            $("#Password").attr({ 'data-parsley-equalto': "#password1" });
            $('.modal').hide();
            $(".jedate").jeDate(start1);
            $(".modal").attr({ 'data-backdrop': "static" });
            Message();
        })
    </script>
    <style>
        ul.parsley-errors-list-err {
            list-style: none;
            color: #E74C3C;
            padding: 0;
        }
        /*.x_panel .row-fluid > div:first-child{
            margin-right:2.44444% !important;
        }
        .x_panel .row-fluid > div:last-child{
            width:auto !important;
            float:left !important;
        }*/
        /*.x_panel .row-fluid >div:first-child{
            width:inherit !important;
        }*/
        /*.x_panel .row-fluid >div:first-child{
            width:27% !important;
        }*/
        .textoverflow {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin: 0;
        }

        ul {
            margin-left: 0px;
        }

        textarea:focus {
            outline-width: medium;
            border-color: rgba(82,168,236,0.8) !important;
            box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(82,168,236,0.6) !important;
        }

        .tab-a {
            padding: 5px 10px !important;
        }

        .hr {
            margin-top: 15px;
            border-top: 1px dashed #222;
        }

        form {
            margin: 0;
        }

        .hidden {
            display: none !important;
        }

        .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
            cursor: default;
        }

        .modal-label {
            padding-top: 0px;
            padding-bottom: 8px;
            float: left;
            width: 160px;
            text-align: right;
        }

        .txt-overflow {
            overflow-x: hidden;
            resize: none;
        }

        .required {
            color: #ff5300;
        }

        .bottom-xs {
            margin-bottom: 0;
        }

        .form-control[disabled], fieldset[disabled] .form-control {
            cursor: default;
        }

        .txt-overflow {
            overflow-x: hidden;
            resize: none;
        }

        .required {
            color: #ff5300;
        }

        .bottom-xs {
            margin-bottom: 0;
        }

        html {
            height: 100%;
            overflow: hidden;
        }

        body {
            color: #000;
        }

            body .btn.btn-border-color {
                height: 30px !important;
                background-color: white !important;
                border: 1px solid #2e6da4 !important;
            }
        /*h2*/
        .headline {
            color: #2A3F54;
            margin: 0 0 20px 0;
            padding: 10px 0 12px 0;
            font-size: 1.7em;
            font-weight: normal;
            font-style: normal;
            text-transform: uppercase;
            border-bottom: 2px solid #2A3F54;
        }

        .page-info {
            float: left;
            padding: 3px 0;
        }

        .page-number {
            float: right;
            padding: 0;
        }

            .page-number span {
                padding: 0.25em 0.75em;
                margin-left: 2px;
                text-align: center;
                text-decoration: none;
                cursor: pointer;
                color: #333;
                border-radius: 2px;
                box-sizing: border-box;
            }

            .page-number a {
                padding: 0.25em 0.75em;
                margin-left: 2px;
                text-align: center;
                text-decoration: none;
                cursor: pointer;
                color: #333;
                border: 1px solid #808080;
                border-radius: 2px;
                box-sizing: border-box;
            }

        input,
        input[type="text"],
        input[type="password"],
        input[type="datetime"],
        input[type="datetime-local"],
        input[type="date"],
        input[type="month"],
        input[type="time"],
        input[type="week"],
        input[type="number"],
        input[type="email"],
        input[type="url"],
        input[type="search"],
        input[type="tel"],
        input[type="color"],
        .uneditable-input {
            height: 20px !important;
        }

            input[type="radio"] {
                margin-top: 0;
                height: 30px !important;
                line-height: 30px !important;
                float: left;
            }

        label {
            line-height: 30px;
        }

        .control-label {
            line-height: 30px;
        }

        .containers {
            padding: 15px;
        }

        .span2 .control-label {
            text-align: right;
            margin-left: -20px;
        }

        .pack-table {
            padding: 0 15px;
        }

        #See-Modal .text-left {
            text-align: left !important
        }

        #See-Modal #tab1 .span2 label {
            font-weight: 600
        }

        #See-Modal .form-group {
            line-height: 43px;
        }

            #See-Modal .form-group hr {
                margin: 14px 0;
                border: 0;
                border-bottom: 1px dashed #000;
            }

        #See-Modal .btn.btn-gray.pull-right {
            margin-right: 15px;
        }

        #tab3 table {
            margin-bottom: 5px
        }

        #tab1, #tab2, #tab3, #tab4, #tab5, #tab6, #tab7 {
            max-height: 700px;
            overflow-y: scroll;
        }

        #manual:visited {
            background: none;
        }
    </style>

</head>
<body class="nav-md">
    @if (Session["CurrentUser"] == null)
    {
        Response.RedirectToRoute(new { controller = "Login", action = "Login" });
    }
    else
    {
        var currentUserDetail = Session["CurrentUser"] as Model.t_User;
        <input id="userId" class="hidden" value="@currentUserDetail.UserId" />
    }

    <div class="container body">
        <div class="main_container clearfix">
            <div class="col-md-3 left_col ">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="" class="site_title" style="padding:6px 6px"><i class="fa fa-envelope"></i> <span>信访系统</span></a>
                    </div>

                    <div class="clearfix"></div>
                    <br />

                    <!-- sidebar menu --> <!-- <span class="fa fa-chevron-down-list"></span> -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <ul class="nav side-menu">
                                <li>
                                    <a href="@Url.Action("CaseInfoList","CaseInfo")"><i class="fa fa-home"></i>案件管理</a>

                                </li>
                                <li>
                                    <a href="@Url.Action("LeaderMeeting","LeaderMeeting")"><i class="fa fa-check-square-o"></i>党政领导接访</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("LeaderReservation","LeaderReservation")"><i class="fa fa-edit"></i>领导约下访</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("PackageCaseList", "PackageCase")"><i class="fa fa-table fa-home"></i>案件包案</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("LetterList","Letter")"><i class="fa fa-envelope-o"></i>信访办理</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Upgrade","Upgrade")"><i class="fa fa-bar-chart-o"></i>进京/赴省</a>
                                </li>
                                @*<li>
                                    <a href="@Url.Action("BergabeList","Bergabe")"><i class="fa fa-paper-plane-o"></i>上级转送件</a>
                                </li>*@

                                @if (Session["CurrentUser"] != null)
                                {
                                    var currentUser = Session["CurrentUser"] as Model.t_User;
                                    if (currentUser.UserRoleList.Contains("1") || currentUser.UserRoleList.Contains("4"))
                                    {
                                        <li>
                                            <a href="@Url.Action("UserAdmin", "User")"><i class="fa fa-users"></i>用户管理</a>
                                        </li>
                                    }
                                    if (currentUser.UserRoleList.Contains("1"))
                                    {
                                        <li>
                                            <a><i class="fa fa-clone"></i>基础数据维护<span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li><a href="@Url.Action("LeaderData", "BasicData")">党政领导信息管理</a></li>
                                                <li><a href="@Url.Action("CompanyData", "BasicData")">责任单位管理</a></li>
                                                <li><a href="@Url.Action("RegionData", "BasicData")">稳控单位管理</a></li>
                                            </ul>
                                        </li>
                                    }
                                }
                                else
                                {
                                    Response.RedirectToRoute(new { controller = "Login", action = "Login" });
                                    //Response.Redirect("Login/Login");
                                }

                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav clearfix">
                <div class="nav_menu" style="margin-bottom:0px;">
                    <nav class="clearfix">
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                         @if (Session["CurrentUser"] != null)
                                {
                                    var currentUser = Session["CurrentUser"] as Model.t_User;
                                     <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a id="userName" href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    @currentUser.UserName
                                    <span class="fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href="javascript:;" data-toggle="modal" data-target="#myModalUser" onclick="UserDetail()">个人信息</a></li>
                                    <li><a href="@Url.Action("Login", "Login")"><i class="fa fa-sign-out pull-right"></i>退出</a></li>
                                </ul>
                            </li>

                            <li role="presentation" class="dropdown">
                                <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-envelope-o"></i>
                                    <span id="look" class="badge bg-green">2</span>
                                </a>
                                <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu"></ul>
                            </li>
                            <li role="presentation" class="dropdown">
                                <a id="manual" href="~/Content/demo.doc" download="用户手册.doc" class="dropdown-toggle info-number">
                                    帮助
                                    <i class="fa fa-question"></i>
                                </a>
                                <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu"></ul>
                            </li>
                        </ul>

                                }
                                else
                                {
                                    Response.RedirectToRoute(new { controller = "Login", action = "Login" });
                                    //Response.Redirect("Login/Login");
                                }


                      
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->


            <div class="right_col" role="main" style="overflow-y:scroll;">
                <div class="containers">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="See-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="width:80vw;margin-left: -40vw;top:5%;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="row-fluid">
                    <div class="span12">
                        <div style="padding:20px 0 15px 0;">
                            <div class="box_body">
                                <div class="tabbable">
                                    <ul class="nav nav-tabs" style="padding:0 17px;">
                                        <li class="active"><a href="#tab1" data-toggle="tab" class="tab-a">案件基本信息</a></li>
                                        <li><a href="#tab2" data-toggle="tab" class="tab-a" onclick="TbModal(2,'#tab2')">党政领导接访信息</a></li>
                                        <li><a href="#tab7" data-toggle="tab" class="tab-a" onclick="TbModal(7,'#tab7')">领导约下访</a></li>
                                        <li><a href="#tab3" data-toggle="tab" class="tab-a" onclick="TbModal(3,'#tab3')">案件包案情况</a></li>
                                        <li><a href="#tab4" data-toggle="tab" class="tab-a" onclick="TbModal(4,'#tab4')">信访办理信息</a></li>
                                        <li><a href="#tab5" data-toggle="tab" class="tab-a" onclick="TbModal(5,'#tab5')">进京/赴省情况</a></li>
                                        @*<li><a href="#tab6" data-toggle="tab" class="tab-a" onclick="TbModal(6,'#tab6')">上级转送件情况</a></li>*@

                                        <li style="float: right;margin: -6px;">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span style="font-size: 1.6em" aria-hidden="true">×</span></button>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab1">

                                        </div>

                                        <div class="tab-pane" id="tab2">

                                        </div>
                                        <div class="tab-pane" id="tab7">

                                        </div>
                                        <div class="tab-pane" id="tab3">

                                        </div>

                                        <div class="tab-pane" id="tab4">

                                        </div>

                                        <div class="tab-pane" id="tab5">

                                        </div>

                                        <div class="tab-pane" id="tab6">

                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-gray" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModalUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">个人信息</h4>
                </div>
                <div id="UserId">

                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap -->
    @*<script src="~/Content/vendors/bootstrap/dist/js/bootstrap.min.js"></script>*@
    <script src="~/Content/bootstrap-v2/js/bootstrap.min.js"></script>
    <script src="~/Content/src/js/bootstrap-select.min.js"></script>
    <!-- DateJS -->
    <script src="~/Content/vendors/DateJS/build/date.js"></script>

    @*<script src="~/Content/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>*@
    <!-- Custom Theme Scripts -->
    <script src="~/Content/src/js/custom.min.js"></script>
    <!-- FastClick -->
    <script src="~/Content/vendors/fastclick/lib/fastclick.js"></script>
    <script>
        $('#element').tooltip('show')
        var caseInfoId;
        var userId;
              function SeeModalTb(id) {
            caseInfoId = id;
            $('.tab-a').eq(0).click();
            $.ajax({
            method: 'post',
            url: "@Url.Action("GetSeeModalTb1", "ASeeModal")",
            data: {
                "id": id,
            },
            cache: false,
            async: true,
            crossDomain: true,
            timeout: 20000,
            success: function (data) {
                $('#tab1').empty().html(data);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $('#tab1').empty().html("失败");
            }
        });
    }

        function getUrlParam(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
            //var r = window.location.search.substr(1).match(reg);  //匹配目标参数
            var r = window.location.hash.substr(3).match(reg);// " #/ " 后目标参数
            if (r != null) {
                return r[2];
            }
            else {
                return null; //返回参数值
            }
        }

        function clearUrlParam() {
            var url = window.location.href;
            if (url.indexOf("?") != -1) {
                var urlArr = url.split('?');
                location.hash = "";
            }
        }

        function TbModal(index, tbId) {
            var url;
            switch (index) {
                case 2:
                    url = "@Url.Action("GetSeeModalTb2", "ASeeModal")"
                    break
                case 3:
                    url = "@Url.Action("GetSeeModalTb3", "ASeeModal")";
                    break
                case 4:
                    url = "@Url.Action("GetSeeModalTb4", "ASeeModal")"
                    break
                case 5:
                    url = "@Url.Action("GetSeeModalTb5", "ASeeModal")"
                    break
                case 6:
                    url = "@Url.Action("GetSeeModalTb6", "ASeeModal")"
                    break
                case 7:
                    url = "@Url.Action("GetSeeModalTb7", "ASeeModal")"
                    break
            }

            $.ajax({
                method: 'post',
                url: url,
                data: {
                    "id": caseInfoId,
                },
                cache: false,
                async: true,
                crossDomain: true,
                timeout: 20000,
                success: function (data) {
                    $(tbId).empty().html(data);
                    $('#Record1').parent().parent().parent().addClass('hidden');
                    $('#Record2').parent().parent().parent().addClass('hidden');
                    $('#Record3').parent().parent().parent().addClass('hidden');
                    $('#Record4').parent().parent().parent().addClass('hidden');
                    $('#Record5').parent().parent().parent().addClass('hidden');
                    $('#Record6').parent().parent().parent().addClass('hidden');
                    $('#Record7').parent().parent().parent().addClass('hidden');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $(tbId).empty().html("失败");
                },
            });
        }

        function Record(id, caseInfoId, type) {
            $(id).parent().parent().parent().removeClass('hidden');
                $.ajax({
                    method: 'post',
                    url: "@Url.Action("GetRecordList", "ASeeModal")",
                    data: {
                        "pageindex": pageindex,
                        "pagesize": pagesize,
                        "id": caseInfoId,
                        "type": type
                    },
                cache: false,
                async: true,
                crossDomain: true,
                success: function (data) {
                    console.info(data)
                    $(id).empty().html(data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $(id).empty().html('error');
                }
            });
        }
        function RecordClose(id) {
            $(id).parent().parent().parent().addClass('hidden');
        }
        function UserDetail() {
            var id = $('#userId').val();
            $.ajax({
                method: 'post',
                url: "@Url.Action("UserDetailInfo", "UserDetail")",
                data: {
                    "id": id
                },
                cache: false,
                async: true,
                crossDomain: true,
                timeout: 20000,
                success: function (data) {
                    $('#UserId').empty().html(data);
                    $("#userPassword").attr({ 'data-parsley-equalto': "#userpassword1" });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $('#tbodystr').empty().append('<tr><td colspan="10">抱歉，出了点意外状况</td></tr>');
                    $('#data-pager').empty();
                }
            });
        }

        function Message() {
            $.ajax({
                method: 'post',
                url: "@Url.Action("GetMessage", "UserDetail")",
                cache: false,
                async: true,
                crossDomain: true,
                timeout: 20000,
                success: function (data) {
                    $('#menu1').empty().html(data);
                    var val = $('#sumMessage').val()
                    $('#look').text(val);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $('#tbodystr').empty().append('<tr><td colspan="10">抱歉，出了点意外状况</td></tr>');
                    $('#data-pager').empty();
                }
            });
        }

        $(document).on('click', '#data-pager .page-number a', function (e) {
            var num = e.target.innerText;
            //clearUrlParam();
            if (num == "上一页" || num == "下一页") {
                //$('#data-pager').hide();
                $('.curr').hide('slow', function () {
                    num = $('.curr').text();
                    pageNumAll = num;
                    $.cookie('pageLink', num, {
                        path: '/'
                    });
                })
                //$('#data-pager').show();
            } else {
                pageNumAll = num;
                $.cookie('pageLink', num, {
                    path: '/'
                });
            }
        });

        function detLink(url) {
            //$.cookie('pageLink', undefined, {
            //    path: '/'
            //});
            pageNumAll = $('.curr').text();
            $.cookie('pageLink', pageNumAll, {
                path: '/'
            });
            window.location.href = url;
        }

        var getFormatCode = function (strValue) {
            return strValue.replace(/\r\n/g, ',').replace(/\n/g, ',').replace(/\s/g, ' ');
        }

        //function searchPage() {
        //    //$('#data-pager  .page-number a').unbind();
        //    $.cookie('petition', 1, {
        //        path: '/'
        //    })
        //    pageNumAll = 1;
        //    $.cookie('Township', 1, {
        //        path: '/'
        //    });
        //    $.cookie('Unit', 1, {
        //        path: '/'
        //    });
            
        //}
    </script>
</body>
</html>
