﻿@model List<Model.BergabeModel>
@{
    int total = ViewData.GetInt("total");
    int pageindex = ViewData.GetInt("pageindex");
    int pagesize = ViewData.GetInt("pagesize");
    var currentUser = Session["CurrentUser"] as Model.t_User;
    var fileName = "";
    var downFile = "";
}
@if (Model != null && Model.Count > 0)
{
    var item = Model;
    for (int i = 0; i < Model.Count; i++)
    {
        if (@item[i].FileName != null)
        {
            var arr = @item[i].FileName.Split('_');
            var arrType = arr[arr.Length - 1].Split('.');
            fileName = arr[0] + "." + arrType[1];
            fileName = fileName.Remove(0, 1);
            fileName = fileName.Substring(0, fileName.Length - 1);
            downFile = @item[i].FileName.Remove(0, 1);
            downFile = downFile.Substring(0, downFile.Length - 1);
        }
        var role = @item[i].BergabeType == 0 ? "及时受理" : "按时答复";
        <tr>
            <th class="hidden">@item[i].ID</th>
            <th class="hidden">@item[i].AppealNumber</th>
            <th class="hidden">@item[i].TownshipType</th>
            <th class="hidden">@item[i].BergabeType</th>
            <td>@role</td>
            <td class="tdTit">@item[i].BergabeDate.ToString("yyyy-MM-dd")</td>
            <td class="tdstr"><p style="width: 100px;" class="textoverflow">@item[i].TransactDetails</td>
            <td class="tdstr"><p style="width: 100px;" class="textoverflow">@item[i].SurveyDetails</td>
            <td class="tdstr"><p style="width: 100px;" class="textoverflow">@item[i].DisposeDetails</td>
            @if(item[i].FileName != null)
            {
                 <td class="tdstr"><a href="~/UploadFile/@downFile" download="@downFile">@fileName</a></td>
            }
            else
            {
                <td class="tdstr">无</td>
            }
           <td>
               <a href="javascript:void(0)" data-toggle="modal" data-target="#myModal" onclick="SeeModal(@(i+1))">查看</a>&nbsp;&nbsp;
               <a href="javascript:void(0)" data-toggle="modal" data-target="#myModal" onclick="EditModal(@(i + 1))">修改</a>&nbsp;&nbsp;
               <a href="javascript:void(0)" onclick="Del(@item[i].ID)">删除</a>
            </td>
        </tr>
    }
}
<tr class="hidden"><th id="total">@total</th></tr>
