﻿@model List<Model.CaseInfoModel>
@{
    int total = ViewData.GetInt("total");
    int pageindex = ViewData.GetInt("pageindex");
    int pagesize = ViewData.GetInt("pagesize");
}
@if (Model != null && Model.Count > 0)
{
    var item = Model;
    for (int i = 0; i < Model.Count; i++)
    {
        var rowindex = ((@pageindex - 1) * @pagesize + i + 1);
        <tr>
            <th style="display:none">@item[i].ID</th>
            <td class="tdstr">@item[i].PetitionName</td>
            <td class="tdstr">@item[i].PetitionIDNo</td>
            <td class="tdstr">@item[i].PetitionAddress</td>
            <td><p style="width: 100px;" class="textoverflow">@item[i].AppealContent</p></td>
           <td>
               <a href="javascript:void(0)" data-toggle="modal" data-target="#See-Modal" onclick="SeeModalTb(@item[i].ID)">查看</a>
               <a href="@Url.Action("BergabeRecord", new { id = item[i].ID })">转送件记录</a>
            </td>
        </tr>
    }
}
<tr class="hidden"><th id="total">@total</th></tr>
