﻿@model List<Model.CaseInfoModel>
@{
    int total = ViewData.GetInt("total");
    int pageindex = ViewData.GetInt("pageindex");
    int pagesize = ViewData.GetInt("pagesize");
}
@if (Model != null && Model.Count > 0)
{
    var item = Model;
    for (int i = 0; i < Model.Count; i++)
    {
        var rowindex = ((@pageindex - 1) * @pagesize + i + 1);
        <tr>
            <th style="display:none">@item[i].ID</th>
            @*<th>@rowindex</th>*@
            <th>@item[i].AppealNumber</th>
            <td >@item[i].PetitionName</td>
            <td>@item[i].PetitionTel</td>
            <td>@item[i].RelateUnitName</td>
            <td>@item[i].RelateAreaName</td>
            @if (item[i].IsLawLitigation == 0)
            {
                <td>是</td>
            }
            else
            {
                <td>否</td>
            }
            @if (item[i].IsStopPetition == 0)
            {
                <td>已息访</td>
            }
            else
            {
                if (item[i].IsReconcile == 0)
                {
                    <td>已化解</td>
                }
                else
                {
                    <td>未处理</td>
                }
            }
            <td>@if (Session["CurrentUser"] != null)
            {
                var currentUser = Session["CurrentUser"] as Model.t_User;
                <a href="javascript:void(0)" data-toggle="modal" data-target="#See-Modal" onclick="SeeModalTb(@item[i].ID)">查看</a>

                ////if (currentUser.UserRoleList.Contains("1") || currentUser.UserRoleList.Contains("2") || (currentUser.UserRoleList.Contains("3")&& item[i].TownshipType == currentUser.UserArea))
                //if (currentUser.UserRoleList.Contains("1") || currentUser.UserRoleList.Contains("2") || (currentUser.UserRoleList.Contains("4") && item[i].UnitType == currentUser.UserUnit))
                //{
                        <a href="javascript:void(0)" onclick="detLink('@Url.Action("CaseInfoEdit", new { id = item[i].ID })')">修改</a>
                        <a href="javascript:void(0)" onclick="Del(@item[i].ID)">删除</a>
                //}

                        <a href="javascript:void(0)" style="margin-left: 10px;" onclick="Export(@item[i].ID,@item[i].AppealNumber)"><i title="导出" class="fa fa-share-square-o fa-lg"></i></a>
            }
            </td>
        </tr>
    }
}
        <tr class="hidden"><th id="total">@total</th></tr>
