﻿@model List<Model.PackageCaseInfoModel>
@{
    var currentUser = Session["CurrentUser"] as Model.t_User;
    int total = ViewData.GetInt("total");
}

@if (Model != null && Model.Count > 0)
{
    var item = Model;
    for (int i = 0; i < Model.Count; i++)
    {
        <tr>
            <th scope="row" class="hidden">@item[i].ID</th>
            <td>@item[i].AppealNumber</td>
            <td>@item[i].AppealTitle</td>
            <td>@item[i].PetitionName</td>
        </tr>
    }
}

        <tr class="hidden"><th id="total1">@total</th></tr>
