﻿@model List<Model.LeaderMeetingModel>
@{
    int total = ViewData.GetInt("total");
}
@if (Model != null && Model.Count > 0)
{
    var item = Model;
    for (int i = 0; i < Model.Count; i++)
    {
        <tr>
            <th scope="row" class="hidden">@item[i].LeaderID</th>
            <td>@item[i].LeaderName</td>
            <td>@item[i].LeaderPosition</td>
            <td>@item[i].Ncount 次</td>
        </tr>
    }
}
        <tr class="hidden"><th id="total2">@total</th></tr>