﻿@model List<Model.LeaderReservationModel>
@{
    int total = ViewData.GetInt("total");
}
@if (Model != null && Model.Count > 0)
{
    var item = Model;
    for (int i = 0; i < Model.Count; i++)
    {
        <tr>
            <th scope="row" class="hidden">@item[i].ID</th>
            <td>@item[i].AppealNumber</td>
            <td>@item[i].PetitionName</td>
            <td>@item[i].ReceptionDateBefore.ToString("yyyy-MM-dd")</td>
        </tr>
    }
}

<tr class="hidden"><th id="total3">@total</th></tr>
