﻿@model List<Model.LeaderReservationModel>
@{
    int total = ViewData.GetInt("total");
    int pageindex = ViewData.GetInt("pageindex");
    int pagesize = ViewData.GetInt("pagesize");
}

@if (Model != null && Model.Count > 0)
{
    var item = Model;
    for (int i = 0; i < Model.Count; i++)
    {
        var rowindex = ((@pageindex - 1) * @pagesize + i + 1);
        <tr>
            <td>@item[i].PetitionName</td>
            <td>@item[i].ID</td>
            @*@if (@item[i].ReceptionStatus == 0)
                {
                    <td>预约中</td>
                }
                else if (@item[i].ReceptionStatus == 1)
                {
                    <td>已完成</td>
                }
                else
                {
                    <td>已取消</td>
                }*@

            <td>
                @*if (@item[i].ReceptionStatus == 0)
                    {*@
                @if (Session["CurrentUser"] != null)
                    {
                        var currentUser = Session["CurrentUser"] as Model.t_User;
                        if (currentUser.UserRoleList.Contains("1") || currentUser.UserRoleList.Contains("2") || currentUser.UserRoleList.Contains("3") || currentUser.UserRoleList.Contains("4"))
                        {
                        <a href="javascript:;" onclick="detLink('@Url.Action("LeaderReservationList", new { name = item[i].PetitionName })')">约下访记录</a>
                    }

                }
                @*}*@
            </td>
        </tr>
    }
}

<tr class="hidden"><th id="total">@total</th></tr>

