﻿@model List<Model.t_Leader>
@{
                /**/

                int total = ViewData.GetInt("total");
                int pageindex = ViewData.GetInt("pageindex");
                int pagesize = ViewData.GetInt("pagesize");
}
@if (Model != null && Model.Count > 0)
{
    var item = Model;
    for (int i = 0; i < Model.Count; i++)
    {
        var rowindex = ((@pageindex - 1) * @pagesize + i + 1);
        var Gender = @item[i].LeaderSex;
        var genderName = Gender == "1" ? "男" : "女";
        <tr>
            <th class="hidden">@item[i].LeaderId</th>
            <th class="hidden">@item[i].LeaderSex</th>
            <th>@rowindex</th>
            <td>@item[i].LeaderName</td>
            <td>@genderName</td>
            <td>@item[i].LeaderPosition</td>
            <td><p style="width: 150px;" class="textoverflow">@item[i].Remark</p></td>
            <td>
                <a href="javascript:void(0)" data-toggle="modal" data-target="#myModal" onclick="EditModal(@(i+1))">修改</a>&nbsp;&nbsp;
                @if (Session["CurrentUser"] != null)
                {
                    var currentUser = Session["CurrentUser"] as Model.t_User;
                    if (currentUser.UserRoleList.Contains("1") || currentUser.UserRoleList.Contains("2"))
                    {
                        <a href="javascript:void(0)" onclick="Del(@item[i].LeaderId)">删除</a>
                    }
                }
            </td>
        </tr>
    }

}
<tr class="hidden"><th id="total">@total</th></tr>