﻿@model List<Model.LeaderMeetingModel>
@{
    int total = ViewData.GetInt("total");
    int pageindex = ViewData.GetInt("pageindex");
    int pagesize = ViewData.GetInt("pagesize");
}
@if (Model != null && Model.Count > 0)
{
    var item = Model;
    for (int i = 0; i < Model.Count; i++)
    {
        <tr>
            <th scope="row" class="hidden">@item[i].LeaderID</th>
            <td>@item[i].LeaderName</td>
            <td>@item[i].LeaderPosition</td>
            <td><a href="javascript:void(0)" data-toggle="modal" data-target="#CountModal" onclick="SeeCaseInfo(@item[i].LeaderID)">@item[i].Lcount 件</a></td>
            <td>@item[i].Ncount 次</td>
            <td>
                @*<a href="@Url.Action("CaseInfoDetail", new {id = item[i].ID})">查看</a>&nbsp;&nbsp;*@
                @*<a href="javascript:void(0)" data-toggle="modal" data-target="#myModal" onclick="BaoanModal(@(i+1))">接访记录</a>*@
                @*<a href="javascript:void(0)" data-toggle="modal" data-target="#SeeLeader" onclick="SeeLeaderModal(@item[i].LeaderID)">查看</a>&nbsp;&nbsp;*@
                <a href="javascript:;"onclick="detLink('@Url.Action("MeetingList", new { id = item[i].LeaderID })')">接访记录</a>
            </td>
        </tr>
    }
}
<tr class="hidden"><th id="total">@total</th></tr>