﻿@model List<Model.LeaderReservationModel>
@{
        int total = ViewData.GetInt("total");
        int pageindex = ViewData.GetInt("pageindex");
        int pagesize = ViewData.GetInt("pagesize");
      
}

@if (Model != null && Model.Count > 0)
{
    var item = Model;
    for (int i = 0; i < Model.Count; i++)
    {
        var rowindex = ((@pageindex - 1) * @pagesize + i + 1);
        var dateBefore = @item[i].ReceptionDateBefore == null ? "" : @item[i].ReceptionDateBefore.Value.ToString("yyyy-MM-dd");
        <tr>
            <th scope="row" class="hidden">@item[i].ID</th>
            <th class="hidden">@item[i].AppealTitle</th>
            <th class="hidden">@item[i].AppealContent</th>
            <th class="hidden">@item[i].ReceptionComment</th>
            <th class="hidden">@item[i].LeaderName (@item[i].LeaderPosition)</th>
            <th class="hidden">@item[i].ReceptionStatus</th>
            <th class="hidden">@item[i].ID</th>
            <td>@item[i].LeaderName</td>
            <td>@item[i].LeaderPosition</td>
            @*<td><p style="width: 120px;" class="textoverflow">@item[i].AppealTitle</p></td>*@
            <td>@item[i].PetitionName</td>
            <td>@dateBefore</td>
            <td>@item[i].ReceptionAddressBefore</td>
            <td>@item[i].ReceptionPersonBefore</td>
            <td><p style="width: 120px;" class="textoverflow">@item[i].ReceptionComment</td>
            @*@if (@item[i].ReceptionStatus == 0)
            {
                <td>预约中</td>
            }
            else if (@item[i].ReceptionStatus == 1)
            {
                <td>已完成</td>
            }
            else
            {
                <td>已取消</td>
            }*@

            <td>
                @*if (@item[i].ReceptionStatus == 0)
                {*@
                    @if (Session["CurrentUser"] != null)
                    {
                        var currentUser = Session["CurrentUser"] as Model.t_User;
                        if (currentUser.UserRoleList.Contains("1") || currentUser.UserRoleList.Contains("2") || currentUser.UserRoleList.Contains("3") || currentUser.UserRoleList.Contains("4"))
                        {
                            <a href="javascript:void(0)" data-toggle="modal" data-target="#myModal" onclick="SeeModal(@(i+1))">查看</a>
                            <a href="javascript:void(0)" data-toggle="modal" data-target="#myModal" onclick="EditModal(@i+1)">修改</a>
                            @*<a href="javascript:void(0)" data-toggle="modal" data-target="#myModal" onclick="SaveModal(@i+1)">完成</a>*@
                            <a href="javascript:void(0)" onclick="Cancel(@item[i].ID)">删除</a>
                        }

                    }
                @*}*@
            </td>
        </tr>
    }
}

<tr class="hidden"><th id="total">@total</th></tr>
