﻿@model List<Model.LeaderMeetingModel>
@{
    int total = ViewData.GetInt("total");
    int pageindex = ViewData.GetInt("pageindex");
    int pagesize = ViewData.GetInt("pagesize");
}
@if (Model != null && Model.Count > 0)
{
    var item = Model;
    for (int i = 0; i < Model.Count; i++)
    {
        var rowindex = ((@pageindex - 1) * @pagesize + i + 1);
        <tr>
            <th scope="row" class="hidden">@item[i].ID</th>
            <th class="hidden">@item[i].ReceptionAddress</th>
            <th class="hidden">@item[i].ReceptionPerson</th>
            <th class="hidden">@item[i].ReceptionComment</th>
            <th class="hidden">@item[i].AppealTitle</th>
            <td>@item[i].LeaderName</td>
            <td>@item[i].LeaderPosition</td>
            <td><p style="width: 120px;" class="textoverflow">@item[i].AppealContent</p></td>
            <td>@item[i].ReceptionDate.ToString("yyyy-MM-dd")</td>
            <td>@item[i].ReceptionPerson</td>
            <td><p style="width: 100px;" class="textoverflow">@item[i].ReceptionComment</td>
            <td>
                <a href="javascript:void(0)" data-toggle="modal" data-target="#myModal" onclick="SeeModal(@i+1)">查看</a>&nbsp;&nbsp;
                @if (Session["CurrentUser"] != null)
                {
                    var currentUser = Session["CurrentUser"] as Model.t_User;
                    if (currentUser.UserRoleList.Contains("1") || currentUser.UserRoleList.Contains("2"))
                    {
                        <a href="javascript:void(0)" onclick="Del(@item[i].ID)">删除</a>
                    }
                }
            </td>
        </tr>
    }
}
<tr class="hidden"><th id="total">@total</th></tr>
