﻿<style>
    .message{
        font-style:normal
    }
</style>
@model List<Model.PackageCaseInfoModel>
    @{
        int total = ViewData.GetInt("total");
        int pageindex = ViewData.GetInt("pageindex");
        int pagesize = ViewData.GetInt("pagesize");
    }
    @if (Model != null && Model.Count > 0)
    {
        var item = Model;
        for (int i = 0; i < Model.Count; i++)
        {
            <li>
                <a href="@Url.Action("PackageCaseList", "PackageCase")">
                    <span >
                        <b>
                            @item[i].AppealTitle
                        </b>
                    </span>
                </a>
           </li>
         }
        <li>
            <div class="text-center">
                <a href="@Url.Action("PackageCaseList", "PackageCase")">查看更多</a>
            </div>
        </li>
    }
<input id="sumMessage" class="hidden" value="@total">

