﻿@model List<Model.t_PackageCaseRecord>
@{
    int pageindex = ViewData.GetInt("pageindex");
    int pagesize = ViewData.GetInt("pagesize");
}

@if (Model != null && Model.Count > 0)
{
    var item = Model;
    for (int i = 0; i < Model.Count; i++)
    {
        var Before = @item[i].BeforePosition;
        var BeforeName = Before == "" ? "无" : "" + "(" + @item[i].BeforePosition + ")" + "";

        var After = @item[i].AfterPosition;
        var AfterName = After == null ? "" : "" + "(" + @item[i].AfterPosition + ")" + "";
        var rowindex = ((@pageindex - 1) * @pagesize + i + 1);
        <tr>
            <th scope="row" style="display:none">@item[i].ID</th>
            <td>@item[i].BeforeName @BeforeName</td>
            <td>@item[i].AfterName @AfterName</td>
            <td>@item[i].UpdateDate.Value.ToString("yyyy-MM-dd")</td>
            <td>@item[i].UpdatePerson</td>
            <td>test</td>
            <td> 
                <a href="javascript:void(0)" data-toggle="modal" data-target="#See-Modal" onclick="SeeModalTb(@item[i].ID)">修改</a>
            </td>
        </tr>
    }
}
else
{
    <input class="hidden" id="total1" value="0" />
}
