﻿@model List<Model.PackageCaseInfoModel>
@{
    int total = ViewData.GetInt("total");
    int pageindex = ViewData.GetInt("pageindex");
    int pagesize = ViewData.GetInt("pagesize");
    string roleList = ViewData.GetString("roleList") == "" ? "0" : ViewData.GetString("roleList");
    var currentUser = Session["CurrentUser"] as Model.t_User;
}

@if (Model != null && Model.Count > 0)
{
    var item = Model;
    for (int i = 0; i < Model.Count; i++)
    {
        <tr>
            <th scope="row" class="hidden">@item[i].ID</th>
            @*<td>@item[i].AppealNumber</td>
            <td>@item[i].AppealTitle</td>*@
            <td>@item[i].PetitionName</td>
            <td><a href="javascript:void(0)" data-toggle="modal" data-target="#myModal" onclick="SeeName(1,@(i+1),'@item[i].PrefectureLeaderName','@item[i].PrefectureLeaderPosition','@roleList','@item[i].RelateUnitID','@currentUser.UserUnit')">@item[i].PrefectureLeaderName</a></td>
            <td><a href="javascript:void(0)" data-toggle="modal" data-target="#myModal" onclick="SeeName(2,@(i+1),'@item[i].OfficeLeaderName','@item[i].OfficeLeaderPosition','@roleList','@item[i].RelateUnitID','@currentUser.UserUnit')">@item[i].OfficeLeaderName</a></td>

            <td><a href="javascript:void(0)" data-toggle="modal" data-target="#myModal" onclick="SeeName(7,@(i+1),'@item[i].OfficeDirectLeaderName','@item[i].OfficeDirectLeaderPosition','@roleList','@item[i].RelateUnitID','@currentUser.UserUnit')">@item[i].OfficeDirectLeaderName</a></td>

            <td><a href="javascript:void(0)" data-toggle="modal" data-target="#myModal" onclick="SeeName(3,@(i+1),'@item[i].DirectLeaderName','@item[i].DirectLeaderPosition','@roleList','@item[i].RelateAreaID','@currentUser.UserArea')">@item[i].DirectLeaderName</a></td>
            <td><a href="javascript:void(0)" data-toggle="modal" data-target="#myModal" onclick="SeeName(4,@(i+1),'@item[i].StabilityLeaderName','@item[i].StabilityLeaderPosition','@roleList','@item[i].RelateAreaID','@currentUser.UserArea')">@item[i].StabilityLeaderName</a></td>
            <td><a href="javascript:void(0)" data-toggle="modal" data-target="#myModal" onclick="SeeName(5,@(i+1),'@item[i].BasicLeaderName','@item[i].BasicLeaderPosition','@roleList','@item[i].RelateAreaID','@currentUser.UserArea')">@item[i].BasicLeaderName</a></td>
            <td><a href="javascript:void(0)" data-toggle="modal" data-target="#myModal" onclick="SeeName(6,@(i+1),'@item[i].BasicPoliceName','@item[i].BasicPolicePosition','@roleList','@item[i].RelateAreaID','@currentUser.UserArea')">@item[i].BasicPoliceName</a></td>
            <td>
                <a href="javascript:void(0)" data-toggle="modal" data-target="#See-Modal" onclick="SeeModalTb(@item[i].ID)">查看</a>
            </td>

        </tr>
    }
}

<tr class="hidden"><th id="total">@total</th></tr>
