﻿@model List<Model.t_County>
@{
    int total = ViewData.GetInt("total");
    int pageindex = ViewData.GetInt("pageindex");
    int pagesize = ViewData.GetInt("pagesize");
}
@if (Model != null && Model.Count > 0)
{
    var item = Model;
    for (int i = 0; i < Model.Count; i++)
    {
        var rowindex = ((@pageindex - 1) * @pagesize + i + 1);
        <tr>
            <th scope="row" class="hidden">@item[i].CountyId</th>
            <th>@rowindex</th>
            <td>@item[i].CountyName</td>
            <td>
                <a href="javascript:void(0)" data-toggle="modal" data-target="#myModal" onclick="EditModal(@(i+1))">修改</a>&nbsp;&nbsp;
                <a href="javascript:void(0)" onclick="DelModal(@item[i].CountyId)">删除</a>
            </td>
        </tr>
    }

}
<tr class="hidden"><th id="total">@total</th></tr>