﻿@model List<Model.t_Leader>


@if (Model != null)
{
    var item = Model;
    for (int i = 0; i < Model.Count; i++)
    {
        <input id="sexVal" value="@item[i].LeaderSex" class="hidden"  />
        <div class="row-fluid">
            <div class="span2 offset2 ">
                <label for="Name" class="control-label ">姓名</label>
            </div>

            <div class="span6">
                <input id="Name" class="form-control span12" disabled="disabled" type="text" value="@item[i].LeaderName">
            </div>
        </div>

        <div class="row-fluid">
            <div class="span2 offset2 ">
                <label for="Name" class="control-label ">性别</label>
            </div>

            <div class="span6">
                <label class="span1">
                    <input name="LeaderSex" class="form-control" type="radio" value="1" disabled="disabled">

                </label>
                <label class="span2">
                    男
                </label>
                <label class="span1">
                    <input name="LeaderSex" class="form-control" type="radio" value="0" disabled="disabled">
                </label>
                <label class="span1">
                    女
                </label>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span2 offset2 ">
                <label for="Name" class="control-label ">职务</label>
            </div>

            <div class="span6">
                <input class="form-control span12" type="text" value="@item[i].LeaderPosition" disabled="disabled">
            </div>
        </div>
        <div class="row-fluid">
            <div class="span2 offset2 ">
                <label for="Name" class="control-label ">备注</label>
            </div>

            <div class="span6">
                <textarea disabled="disabled" id="remark" class="form-control span12 txt-overflow" cols="20" name="Remark" rows="4">@item[i].Remark</textarea>
            </div>
        </div>

    }
}