﻿@model List<Model.t_Transact>

<div class="pack-table">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>办理方式</th>
                <th>办理日期</th>
                <th>答复意见书</th>
                <th>是否化解</th>
                <th>化解日期</th>
                <th>化解详细内容</th>
                <th>是否息访</th>
                <th>息访日期</th>
                <th>息访承诺书</th>
                <th>告知</th>
                <th>双向</th>
                <th>复查复核意见书</th>
                <th>办理情况报告</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Count > 0)
            {
                var fileName = "";
                var SfileName = "";
                var tellName = "";
                var twoName = "";
                var reviewName = "";
                var statusName = "";
                var downFile1 = "";
                var downFile2 = "";
                var downFile3 = "";
                var downFile4 = "";
                var downFile5 = "";
                var downFile6 = "";
                var item = Model;
                for (int i = 0; i < Model.Count; i++)
                {
                    if (@item[i].FileName != null)
                    {
                        var arr = @item[i].FileName.Split('_');
                        var arrType = arr[arr.Length - 1].Split('.');
                        fileName = arr[0] + "." + arrType[1];
                        fileName = fileName.Remove(0, 1);
                        fileName = fileName.Substring(0, fileName.Length - 1);
                        downFile1 = @item[i].FileName.Remove(0, 1);
                        downFile1 = downFile1.Substring(0, downFile1.Length - 1);
                    }
                    if (@item[i].StopPetitionLetter != null)
                    {
                        var arrS = @item[i].StopPetitionLetter.Split('_');
                        var arrSType = arrS[arrS.Length - 1].Split('.');
                        SfileName = arrS[0] + "." + arrSType[1];
                        SfileName = SfileName.Remove(0, 1);
                        SfileName = SfileName.Substring(0, SfileName.Length - 1);
                        downFile2 = @item[i].StopPetitionLetter.Remove(0, 1);
                        downFile2 = downFile2.Substring(0, downFile2.Length - 1);
                    }
                    if (item[i].TellFile != null)
                    {
                        var arrS = item[i].TellFile.Split('_');
                        var arrSType = arrS[arrS.Length - 1].Split('.');
                        tellName = arrS[0] + "." + arrSType[1];
                        tellName = tellName.Remove(0, 1);
                        tellName = tellName.Substring(0, tellName.Length - 1);
                        downFile3 = item[i].TellFile.Remove(0, 1);
                        downFile3 = downFile3.Substring(0, downFile3.Length - 1);
                    }
                    if (item[i].TwoWayFile != null)
                    {
                        var arrS = item[i].TwoWayFile.Split('_');
                        var arrSType = arrS[arrS.Length - 1].Split('.');
                        twoName = arrS[0] + "." + arrSType[1];
                        twoName = twoName.Remove(0, 1);
                        twoName = twoName.Substring(0, twoName.Length - 1);
                        downFile4 = item[i].TwoWayFile.Remove(0, 1);
                        downFile4 = downFile4.Substring(0, downFile4.Length - 1);
                    }
                    if (item[i].ReviewFile != null)
                    {
                        var arrS = item[i].ReviewFile.Split('_');
                        var arrSType = arrS[arrS.Length - 1].Split('.');
                        reviewName = arrS[0] + "." + arrSType[1];
                        reviewName = reviewName.Remove(0, 1);
                        reviewName = reviewName.Substring(0, reviewName.Length - 1);
                        downFile5 = item[i].ReviewFile.Remove(0, 1);
                        downFile5 = downFile5.Substring(0, downFile5.Length - 1);
                    }
                    if (item[i].StatusFile != null)
                    {
                        var arrS = item[i].StatusFile.Split('_');
                        var arrSType = arrS[arrS.Length - 1].Split('.');
                        statusName = arrS[0] + "." + arrSType[1];
                        statusName = statusName.Remove(0, 1);
                        statusName = statusName.Substring(0, statusName.Length - 1);
                        downFile6 = item[i].StatusFile.Remove(0, 1);
                        downFile6 = downFile6.Substring(0, downFile6.Length - 1);
                    }
                    string TransactDate = @item[i].TransactDate == null ? "无" : @item[i].TransactDate.Value.ToString("yyyy-MM-dd");
                    string StopPetitionDate = @item[i].StopPetitionDate == null ? "无" : @item[i].StopPetitionDate.Value.ToString("yyyy-MM-dd");
                    string ReconcileDate = @item[i].ReconcileDate == null ? "无" : @item[i].ReconcileDate.Value.ToString("yyyy-MM-dd");

                    <tr>
                        <th scope="row" class="hidden">@item[i].ID</th>
                        @if (item[i].TransactType == 0)
                        {
                            <td>留存</td>@*办理类型*@
                        }
                        else
                        {
                            <td>转送单位</td>@*办理类型*@
                        }

                        @if (item[i].TransactDate != null)//办理日期
                        {
                            <td>@TransactDate</td>
                        }
                        else
                        {
                            <td>无</td>
                        }
                        @if (item[i].FileName != null)
                        {
                            <td><a href="~/UploadFile/@downFile1" download="@downFile1">@fileName</a></td>
                        }
                        else
                        {
                            <td>无</td>
                        }
                        @if (item[i].IsReconcile == 0)//化解
                        {
                            <td>是</td>
                        }
                        else
                        {
                            <td>否</td>
                        }

                        @if (item[i].ReconcileDate != null)
                        {
                            <td>@ReconcileDate</td>
                        }
                        else
                        {
                            <td>无</td>
                        }


                        <td title="@item[i].ReconcileContent"><p style="width: 100px;" class="textoverflow">@item[i].ReconcileContent</p></td>

                        @if (item[i].IsStopPetition == 0)//息访
                        {
                            <td>是</td>
                        }
                        else
                        {
                            <td>否</td>
                        }

                        @if (item[i].StopPetitionDate != null)
                        {
                            <td>@StopPetitionDate</td>
                        }
                        else
                        {
                            <td>无</td>
                        }
                        @if (item[i].StopPetitionLetter != null)
                        {
                            <td><a href="~/UploadFile/@downFile2" download="@downFile2">@SfileName</a></td>
                        }
                        else
                        {
                            <td>无</td>
                        }
                        @if (item[i].TellFile != null)
                        {
                            <td><a href="~/UploadFile/@downFile3" download="@downFile3">@tellName</a></td>
                        }
                        else
                        {
                            <td>无</td>
                        }
                        @if (item[i].TwoWayFile != null)
                        {
                            <td><a href="~/UploadFile/@downFile4" download="@downFile4">@twoName</a></td>
                        }
                        else
                        {
                            <td>无</td>
                        }
                        @if (item[i].ReviewFile != null)
                        {
                            <td><a href="~/UploadFile/@downFile5" download="@downFile5">@reviewName</a></td>
                        }
                        else
                        {
                            <td>无</td>
                        }
                        @if (item[i].StatusFile != null)
                        {
                            <td><a href="~/UploadFile/@downFile6" download="@downFile6">@statusName</a></td>
                        }
                        else
                        {
                            <td>无</td>
                        }

                    </tr>
                }
            }
            else
            {
                 <tr>
                     <td colspan="9">暂无信息...</td>
                 </tr>
            }
        </tbody>
    </table>
</div>

