﻿@model List<Model.t_Record>

<div class="pack-table">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>类型</th>
                <th>日期</th>
                <th>内容</th>
                <th>相关附件</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Count > 0)
            {
                var fileName = "";
                var downFile = "";
                var item = Model;
                for (int i = 0; i < Model.Count; i++)
                {
                    if (@item[i].RecordFileName != null)
                    {
                        var arr = @item[i].RecordFileName.Split('_');
                        var arrType = arr[arr.Length - 1].Split('.');
                        fileName = arr[0] + "." + arrType[1];
                        fileName = fileName.Remove(0, 1);
                        fileName = fileName.Substring(0, fileName.Length - 1);
                        downFile = @item[i].RecordFileName.Remove(0, 1);
                        downFile = downFile.Substring(0, downFile.Length - 1);
                    }
                    var recordType = @item[i].RecordType;
                  
                     <tr>
                        <td>@item[i].RecordType</td>
                        <td>@item[i].RecordDate.Value.ToString("yyyy-MM-dd")</td>
                        <td title="@item[i].RecordContent"><p style="width: 100px;" class="textoverflow">@item[i].RecordContent</p></td>
                         @if (item[i].RecordFileName != null)
                         {
                             <td><a href="~/UploadFile/@downFile" download="@downFile">@fileName</a></td>
                         }
                         else
                         {
                             <td>无</td>
                         }
                    </tr>
                }
            }
            else
            {
                 <tr>
                     <td colspan="4">暂无信息</td>
                 </tr>
            }
        </tbody>
    </table>
</div>
