﻿@model List<Model.t_LeaderMeeting>
<div class="pack-table">
    <table class="table table-bordered">
        <thead>
            <tr>

                <th>接待党政领导姓名</th>
                <th>接访日期</th>
                <th>接访地点</th>
                <th>参与人员</th>
                <th>接待意见</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Count > 0)
            {
                var item = Model;
                for (int i = 0; i < Model.Count; i++)
                {
                     <tr>
                        <td>
                            @item[i].t_Leader.LeaderName
                        </td>
                        <td>
                            @item[i].ReceptionDate.Value.ToString("yyyy-MM-dd")
                        </td>
                        <td>
                            @item[i].ReceptionAddress
                        </td>
                        <td>
                            @item[i].ReceptionPerson
                        </td>
                        <td title="@item[i].ReceptionComment">
                            <p style="width: 100px;" class="textoverflow">
                                @item[i].ReceptionComment
                            </p> 
                        </td>
                    </tr>
                }
            } else
            {
                 <tr>
                     <td colspan="5">暂无信息...</td>
                 </tr>
            }
        </tbody>
    </table>
</div>