﻿@model List<Model.CaseInfoModel>

@if (Model != null && Model.Count > 0)
{
    var item = Model;
    for (int i = 0; i < Model.Count; i++)
    {
        //var Before = @item[i].BeforePosition;
        //var BeforeName = Before == null ? "无" : "" + "(" + @item[i].BeforePosition + ")" + "";

        //var After = @item[i].AfterPosition;

        var IsLawLitigation = @item[i].IsLawLitigation == 1 ? "否" : "是";
        var PetitionType = @item[i].PetitionType == 1 ? "集体访" : "个体访";
        var IsRevisit = @item[i].IsRevisit == 1 ? "重访" : "初访";
        var IsReceptionSite = @item[i].IsReceptionSite == 1 ? "否" : "是";
        var IsSuperior = @item[i].IsSuperior == 1 ? "否" : "是";
        var IsPackageCase = @item[i].IsPackageCase == 1 ? "否" : "是";
        var IsAccumulatedCases = @item[i].IsAccumulatedCases == 1 ? "否" : "是";
        string CheckingDate = @item[i].CheckingDate == null ? "无" : @item[i].CheckingDate.Value.ToString("yyyy-MM-dd");
        string ReceptionSiteDate = @item[i].ReceptionSiteDate == null ? "无" : @item[i].ReceptionSiteDate.Value.ToString("yyyy-MM-dd");
        <div class="row-fluid">
            <div class="form-group">
                @*<div class="span2 offset1">
                    <label class="modal-label" style="float:right;">案件编号</label>
                </div>
                <div class="span3">
                    <label class="modal-label" style="width:auto;">@item[i].AppealNumber</label>
                </div>*@
                <div class="span2 offset1">
                    <label class="modal-label" style="float:right;">信访人姓名</label>
                </div>
                <div class="span3">
                    <label class="modal-label" style="width:auto;">@item[i].PetitionName</label>
                </div>
                <div class="span2" >
                    <label class="modal-label" style="float:right;">身份证号码</label>
                </div>
                <div class="span3">
                    <label class="modal-label" style="width:auto;">@item[i].PetitionIDNo</label>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="form-group">
                @*<div class="span2 offset1">
                    <label class="modal-label" style="float:right;">标题</label>
                </div>
                <div class="span6">
                    <label class="modal-label text-left" style="width:auto;">@item[i].AppealTitle</label>
                </div>*@
            </div>
        </div>
        <div class="row-fluid">
            <div class="form-group">
                <div class="span2 offset1">
                    <label class="modal-label" style="float:right;">信访内容</label>
                </div>
                <div class="span7">
                    <label class="modal-label text-left" style="width: auto;word-break: break-all">@item[i].AppealContent</label>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="form-group">
                @*<div class="span2 offset1">
                    <label class="modal-label" style="float:right;">身份证号码</label>
                </div>
                <div class="span3">
                    <label class="modal-label" style="width:auto;">@item[i].PetitionIDNo</label>
                </div>*@
                <div class="span2 offset1">
                    <label class="modal-label" style="float:right;">联系电话</label>
                </div>
                <div class="span3">
                    <label class="modal-label" style="width:auto;">@item[i].PetitionTel</label>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="form-group">

                <div class="span2 offset1">
                    <label class="modal-label" style="float:right;">责任单位</label>
                </div>
                <div class="span3">
                    <label class="modal-label" style="width:auto;">@item[i].RelateUnitName</label>
                </div>
                <div class="span2">
                    <label class="modal-label" style="float:right;">稳控单位</label>
                </div>
                <div class="span3">
                    <label class="modal-label" style="width:auto;">@item[i].RelateAreaName</label>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="form-group">
                <div class="span2 offset1">
                    <label class="modal-label" style="float:right;">住址</label>
                </div>
                <div class="span8">
                    <label class="modal-label" style="width:auto;">@item[i].PetitionAddress</label>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="form-group">
                <div class="span2 offset1">
                    <label class="modal-label" style="float:right;">是否涉法涉诉</label>
                </div>
                <div class="span3">
                    <label class="modal-label" style="width:auto;">@IsLawLitigation</label>
                </div>
                <div class="span2">
                    <label class="modal-label" style="float:right;"> 信访性质</label>
                </div>
                <div class="span3">
                    <label class="modal-label" style="width:auto;">@PetitionType</label>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="form-group">
                <div class="span2 offset1">
                    <label class="modal-label" style="float:right;">是否是初/重访</label>
                </div>
                <div class="span3">
                    <label class="modal-label" style="width:auto;">@IsRevisit</label>
                </div>
                <div class="span2">
                    <label class="modal-label" style="float:right;">人数</label>
                </div>
                <div class="span3">
                    <label class="modal-label" style="width:auto;">@item[i].PeopleCount</label>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="form-group">
                <div class="span2 offset1">
                    <label class="modal-label" style="float:right;">排查日期</label>
                </div>
                <div class="span3">
                    <label class="modal-label" style="width:auto;">@CheckingDate</label>
                </div>
                <div class="span2">
                    <label class="modal-label" style="float:right;">是否到非接待场所涉访</label>
                </div>
                <div class="span3">
                    <label class="modal-label" style="width:auto;">@IsReceptionSite</label>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="form-group">
                <div class="span2 offset1">
                    <label class="modal-label" style="float:right;">场所</label>
                </div>
                <div class="span7">
                    <label class="modal-label text-left" style="width: auto; word-break: break-all">@item[i].ReceptionSite</label>
                </div>
                @*<div class="span2">
                    <label class="modal-label" style="float:right;">时间</label>
                </div>
                <div class="span3">
                    <label class="modal-label" style="width:auto;">@ReceptionSiteDate</label>
                </div>*@
            </div>
        </div>

        <div class="row-fluid">
            <div class="form-group">
                <div class="span2 offset1">
                    <label class="modal-label" style="float:right;">是否上级交办</label>
                </div>
                <div class="span7">
                    <label class="modal-label" style="width:auto;">@IsSuperior</label>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="form-group">
                <div class="span2 offset1">
                    <label class="modal-label" style="float:right;">是否上级领导包案督访</label>
                </div>
                <div class="span7">
                    <label class="modal-label" style="width:auto;">@IsPackageCase</label>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="form-group">
                <div class="span2 offset1">
                    <label class="modal-label" style="float:right;">备注</label>
                </div>
                <div class="span7">
                    <label class="modal-label text-left" style="width: auto; word-break: break-all">@item[i].PackageCaseRemark</label>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="form-group">
                <div class="span2 offset1">
                    <label class="modal-label" style="float:right;">是否积案</label>
                </div>
                <div class="span7">
                    <label class="modal-label" style="width:auto;">@IsAccumulatedCases</label>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="form-group">
                <div class="span2 offset1">
                    <label class="modal-label" style="float:right;">备注</label>
                </div>
                <div class="span7">
                    <label class="modal-label text-left" style="width: auto; word-break: break-all">@item[i].AccumulatedCaseRemark</label>
                </div>
            </div>
        </div>

    }
}
