﻿@model List<Model.PackageCaseInfoModel>

@if (Model != null && Model.Count > 0)
{
    var item = Model;
    for (int i = 0; i < Model.Count; i++)
    {
        <div class="row-fluid">
            <div class="form-group">
                <div class="span2 offset1">
                    <label class="modal-label" style="float:right;"> 县级包案领导</label>
                </div>
                <div class="span6">
                    <hr />
                </div>
                <div class="span2">
                    <label class="modal-label text-left" style="float:right;color:blue" onclick="Record('#Record1',@item[i].ID,1)">点击查看修改历史</label>
                </div>
            </div>
            <div>
                <div class="span2 offset2">
                    <label class="modal-label" style="float:right;font-weight:500;">姓名</label>
                </div>
                <div class="span2">
                    <label class="modal-label text-left" style="float:right;">@item[i].PrefectureLeaderName</label>
                </div>
                <div class="span2 ">
                    <label class="modal-label" style="float:right;">职务</label>
                </div>
                <div class="span2">
                    <label class="modal-label text-left" style="float:right;">@item[i].PrefectureLeaderPosition</label>
                </div>
            </div>
            <div class="span8 offset2">
                <div class="pack-table">
                    <table class="table table-bordered">
                        <thead>
                            <tr>

                                <th>修改前领导姓名（职位）</th>
                                <th>修改后领导姓名（职位）</th>
                                <th>修改日期</th>
                                <th>修改人</th>
                            </tr>
                        </thead>
                        <tbody id="Record1"></tbody>
                    </table>
                </div>
                <button type="button" class="btn btn-gray pull-right" onclick="RecordClose('#Record1')">关闭</button>
            </div>
        </div>

        <div class="row-fluid">
            <div class="form-group">
                <div class="span2 offset1">
                    <label class="modal-label" style="float:right;"> 责任单位包案领导</label>
                </div>
                <div class="span6">
                    <hr />
                </div>
                <div class="span2">
                    <label class="modal-label text-left" style="float:right;color:blue" onclick="Record('#Record2',@item[i].ID,2)">点击查看修改历史</label>
                </div>
            </div>
            <div>
                <div class="span2 offset2">
                    <label class="modal-label" style="float:right;font-weight:500;">姓名</label>
                </div>
                <div class="span2">
                    <label class="modal-label text-left" style="float:right;">@item[i].OfficeLeaderName</label>
                </div>
                <div class="span2 ">
                    <label class="modal-label" style="float:right;">职务</label>
                </div>
                <div class="span2">
                    <label class="modal-label text-left" style="float:right;">@item[i].OfficeLeaderPosition</label>
                </div>
            </div>
            <div class="span8 offset2">
                <div class="pack-table">
                    <table class="table table-bordered">
                        <thead>
                            <tr>

                                <th>修改前领导姓名（职位）</th>
                                <th>修改后领导姓名（职位）</th>
                                <th>修改日期</th>
                                <th>修改人</th>
                            </tr>
                        </thead>
                        <tbody id="Record2"></tbody>
                    </table>
                </div>
                <button type="button" class="btn btn-gray pull-right" onclick="RecordClose('#Record2')">关闭</button>
            </div>
        </div>

        <div class="row-fluid">
            <div class="form-group">
                <div class="span2 offset1">
                    <label class="modal-label" style="float:right;"> 责任单位负责人</label>
                </div>
                <div class="span6">
                    <hr />
                </div>
                <div class="span2">
                    <label class="modal-label text-left" style="float:right;color:blue" onclick="Record('#Record7',@item[i].ID,7)">点击查看修改历史</label>
                </div>
            </div>
            <div>
                <div class="span2 offset2">
                    <label class="modal-label" style="float:right;font-weight:500;">姓名</label>
                </div>
                <div class="span2">
                    <label class="modal-label text-left" style="float:right;">@item[i].OfficeDirectLeaderName</label>
                </div>
                <div class="span2 ">
                    <label class="modal-label" style="float:right;">职务</label>
                </div>
                <div class="span2">
                    <label class="modal-label text-left" style="float:right;">@item[i].OfficeDirectLeaderPosition</label>
                </div>
            </div>
            <div class="span8 offset2">
                <div class="pack-table">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>修改前领导姓名（职位）</th>
                                <th>修改后领导姓名（职位）</th>
                                <th>修改日期</th>
                                <th>修改人</th>
                            </tr>
                        </thead>
                        <tbody id="Record7"></tbody>
                    </table>
                </div>
                <button type="button" class="btn btn-gray pull-right" onclick="RecordClose('#Record7')">关闭</button>
            </div>
        </div>

        <div class="row-fluid">
            <div class="form-group">
                <div class="span2 offset1">
                    <label class="modal-label" style="float:right;"> 稳控包案领导</label>
                </div>
                <div class="span6">
                    <hr />
                </div>
                <div class="span2">
                    <label class="modal-label text-left" style="float:right;color:blue" onclick="Record('#Record3',@item[i].ID,3)">点击查看修改历史</label>
                </div>
            </div>
            <div>
                <div class="span2 offset2">
                    <label class="modal-label" style="float:right;font-weight:500;">姓名</label>
                </div>
                <div class="span2">
                    <label class="modal-label text-left" style="float:right;">@item[i].DirectLeaderName</label>
                </div>
                <div class="span2 ">
                    <label class="modal-label" style="float:right;">职务</label>
                </div>
                <div class="span2">
                    <label class="modal-label text-left" style="float:right;">@item[i].DirectLeaderPosition</label>
                </div>
            </div>
            <div class="span8 offset2">
                <div class="pack-table">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>修改前领导姓名（职位）</th>
                                <th>修改后领导姓名（职位）</th>
                                <th>修改日期</th>
                                <th>修改人</th>
                            </tr>
                        </thead>
                        <tbody id="Record3"></tbody>
                    </table>
                </div>
                <button type="button" class="btn btn-gray pull-right" onclick="RecordClose('#Record3')">关闭</button>
            </div>
        </div>

        <div class="row-fluid">
            <div class="form-group">
                <div class="span2 offset1">
                    <label class="modal-label" style="float:right;"> 直接负责人</label>
                </div>
                <div class="span6">
                    <hr />
                </div>
                <div class="span2">
                    <label class="modal-label text-left" style="float:right;color:blue" onclick="Record('#Record4',@item[i].ID,4)">点击查看修改历史</label>
                </div>
            </div>
            <div>
                <div class="span2 offset2">
                    <label class="modal-label" style="float:right;font-weight:500;">姓名</label>
                </div>
                <div class="span2">
                    <label class="modal-label text-left" style="float:right;">@item[i].StabilityLeaderName</label>
                </div>
                <div class="span2 ">
                    <label class="modal-label" style="float:right;">职务</label>
                </div>
                <div class="span2">
                    <label class="modal-label text-left" style="float:right;">@item[i].StabilityLeaderPosition</label>
                </div>
            </div>
            <div class="span8 offset2">
                <div class="pack-table">
                    <table class="table table-bordered">
                        <thead>
                            <tr>

                                <th>修改前领导姓名（职位）</th>
                                <th>修改后领导姓名（职位）</th>
                                <th>修改日期</th>
                                <th>修改人</th>
                            </tr>
                        </thead>
                        <tbody id="Record4"></tbody>
                    </table>
                </div>
                <button type="button" class="btn btn-gray pull-right" onclick="RecordClose('#Record4')">关闭</button>
            </div>
        </div>

        <div class="row-fluid">
            <div class="form-group">
                <div class="span2 offset1">
                    <label class="modal-label" style="float:right;"> 基层干部</label>
                </div>
                <div class="span6">
                    <hr />
                </div>
                <div class="span2">
                    <label class="modal-label text-left" style="float:right;color:blue" onclick="Record('#Record5',@item[i].ID,5)">点击查看修改历史</label>
                </div>
            </div>
            <div>
                <div class="span2 offset2">
                    <label class="modal-label" style="float:right;font-weight:500;">姓名</label>
                </div>
                <div class="span2">
                    <label class="modal-label text-left" style="float:right;">@item[i].BasicLeaderName</label>
                </div>
                <div class="span2 ">
                    <label class="modal-label" style="float:right;">职务</label>
                </div>
                <div class="span2">
                    <label class="modal-label text-left" style="float:right;">@item[i].BasicLeaderPosition</label>
                </div>
            </div>
            <div class="span8 offset2">
                <div class="pack-table">
                    <table class="table table-bordered">
                        <thead>
                            <tr>

                                <th>修改前领导姓名（职位）</th>
                                <th>修改后领导姓名（职位）</th>
                                <th>修改日期</th>
                                <th>修改人</th>
                            </tr>
                        </thead>
                        <tbody id="Record5"></tbody>
                    </table>
                </div>
                <button type="button" class="btn btn-gray pull-right" onclick="RecordClose('#Record5')">关闭</button>
            </div>
        </div>

        <div class="row-fluid">
            <div class="form-group">
                <div class="span2 offset1">
                    <label class="modal-label" style="float:right;">基层干警</label>
                </div>
                <div class="span6">
                    <hr />
                </div>
                <div class="span2">
                    <label class="modal-label text-left" style="float:right;color:blue" onclick="Record('#Record6',@item[i].ID,6)">点击查看修改历史</label>
                </div>
            </div>
            <div>
                <div class="span2 offset2">
                    <label class="modal-label" style="float:right;font-weight:500;">姓名</label>
                </div>
                <div class="span2">
                    <label class="modal-label text-left" style="float:right;">@item[i].BasicPoliceName</label>
                </div>
                <div class="span2 ">
                    <label class="modal-label" style="float:right;">职务</label>
                </div>
                <div class="span2">
                    <label class="modal-label text-left" style="float:right;">@item[i].BasicPolicePosition</label>
                </div>
            </div>
            <div class="span8 offset2">
                <div class="pack-table">
                    <table class="table table-bordered">
                        <thead>
                            <tr>

                                <th>修改前领导姓名（职位）</th>
                                <th>修改后领导姓名（职位）</th>
                                <th>修改日期</th>
                                <th>修改人</th>
                            </tr>
                        </thead>
                        <tbody id="Record6"></tbody>
                    </table>
                </div>
                <button type="button" class="btn btn-gray pull-right" onclick="RecordClose('#Record6')">关闭</button>
            </div>
        </div>
    }
}