﻿@model List<Model.LeaderMeetingModel>

@if (Model != null && Model.Count > 0)
{
    var item = Model;

    for (int i = 0; i < Model.Count; i++)
    {
        <tr>
            <th scope="row" style="display:none">@item[i].ID</th>
            
            <td>@item[i].PetitionName</td>
            <td>@item[i].RelateUnitName</td>
            <td>@item[i].RelateAreaName</td>
            <td><p style="width: 100px;" class="textoverflow">@item[i].AppealContent</p></td>
        </tr>
    }
}

