﻿@model List<Model.t_Bergabe>
<div class="pack-table">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>转送时限</th>
                <th>日期</th>
                <th>办理情况</th>
                <th>调查情况</th>
                <th>处理意见</th>
                <th>相关附件</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Count > 0)
            {
                var fileName = "";
                var downFile = "";
                var item = Model;
                for (int i = 0; i < Model.Count; i++)
                {
                    if(@item[i].FileName!= null)
                    {
                        var arr = @item[i].FileName.Split('_');
                        var arrType = arr[arr.Length - 1].Split('.');
                        fileName = arr[0] + "." + arrType[1];
                        fileName = fileName.Remove(0, 1);
                        fileName = fileName.Substring(0, fileName.Length - 1);
                        downFile = @item[i].FileName.Remove(0, 1);
                        downFile = downFile.Substring(0, downFile.Length - 1);
                    }


                    var role = @item[i].BergabeType == 0 ? "及时受理" : "按时答复";
                    <tr>
                        <td>@role</td>
                        <td class="tdTit">@item[i].BergabeDate.Value.ToString("yyyy-MM-dd")</td>
                        <td class="tdstr" title="@item[i].TransactDetails"><p style="width: 100px;" class="textoverflow">@item[i].TransactDetails</p></td>
                        <td class="tdstr" title="@item[i].SurveyDetails"><p style="width: 100px;" class="textoverflow">@item[i].SurveyDetails</p></td>
                        <td class="tdstr" title="@item[i].DisposeDetails"><p style="width: 100px;" class="textoverflow">@item[i].DisposeDetails</p></td>
                        @if (item[i].FileName != null)
                        {
                            <td><a href="~/UploadFile/@downFile" download="@downFile">@fileName</a></td>
                        }
                        else
                        {
                            <td>无</td>
                        }
                    </tr>
                }
            }
            else
            {
                 <tr>
                     <td colspan="6">暂无信息...</td>
                 </tr>
            }

        </tbody>
    </table>
</div>