﻿@model List<Model.LeaderReservationModel>
<div class="pack-table">
    <table class="table table-bordered">
        <thead>
            <tr>

                <th>党政领导姓名</th>
                <th>职务</th>
                <th>约下访日期</th>
                <th>约下访地点</th>
                <th>参与人员</th>
                <th>接待意见</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Count > 0)
            {
                string ReceptionDateBefore = string.Empty;
                var item = Model;
                for (int i = 0; i < Model.Count; i++)
                {
                    ReceptionDateBefore = @item[i].ReceptionDateBefore == null ? "无" : @item[i].ReceptionDateBefore.Value.ToString("yyyy-MM-dd");
                     <tr>
                        <td>
                            @item[i].LeaderName
                        </td>
                         <td>
                             @item[i].LeaderPosition
                         </td>
                        <td>
                            @ReceptionDateBefore
                        </td>
                        <td>
                            @item[i].ReceptionAddressBefore
                        </td>
                        <td>
                            @item[i].ReceptionPersonBefore
                        </td>
                        <td title="@item[i].ReceptionComment">
                            <p style="width: 100px;" class="textoverflow">
                                @item[i].ReceptionComment
                            </p> 
                        </td>
                    </tr>
                }
            } else
            {
                 <tr>
                     <td colspan="5">暂无信息...</td>
                 </tr>
            }
        </tbody>
    </table>
</div>