﻿@model List<Model.t_PackageCaseRecord>
@{
    int pageindex = ViewData.GetInt("pageindex");
    int pagesize = ViewData.GetInt("pagesize");
}

@if (Model != null && Model.Count > 0)
{
    var item = Model;

    for (int i = 0; i < Model.Count; i++)
    {
        var Before = @item[i].BeforePosition;
        var BeforeName = Before == "" ? "无" : "" + "(" + @item[i].BeforePosition + ")" + "";

        var After = @item[i].AfterPosition;
        var AfterName = After == null ? "" : "" + "(" + @item[i].AfterPosition + ")" + "";
        string UpdateDate = @item[i].UpdateDate == null ? "无" : @item[i].UpdateDate.Value.ToString("yyyy-MM-dd");
        <tr>
            <th scope="row" style="display:none">@item[i].ID</th>
            <td>@item[i].BeforeName @BeforeName</td>
            <td>@item[i].AfterName @AfterName</td>
            <td>@UpdateDate</td>
            <td>@item[i].UpdatePerson</td>
        </tr>
    }
}
else
{
        <tr>
            <td colspan="4">暂无信息...</td>
        </tr>
}

