﻿@model List<Model.CaseInfoModel>
@{
        int total = ViewData.GetInt("total");
        int pageindex = ViewData.GetInt("pageindex");
        int pagesize = ViewData.GetInt("pagesize");
}

@if (Model != null && Model.Count > 0)
{
    var item = Model;
    for (int i = 0; i < Model.Count; i++)
    {
        var rowindex = ((@pageindex - 1) * @pagesize + i + 1);
        <tr>
            <th scope="row" class="hidden">@item[i].ID</th>
            <td>@item[i].PetitionName</td>
            <td><p style="width: 120px;" class="textoverflow">@item[i].AppealContent</p></td>
            @if (item[i].IsStopPetition == 0)
            {
                <td>是</td>
            }
            else
            {
                <td>否</td>
            }

            @if (item[i].StopPetitionDate != null)
            {
                <td>@item[i].StopPetitionDate.Value.ToString("yyyy-MM-dd")</td>
            }
            else
            {
                <td>无</td>
            }

                <td>
                    <a href="javascript:void(0)" data-toggle="modal" data-target="#See-Modal" onclick="SeeModalTb(@item[i].ID)">查看</a>&nbsp;&nbsp;
                    <a href="javascript:void(0)" data-toggle="modal" data-target="#myModal" onclick="AddModal(@i+1)">办理</a>&nbsp;&nbsp;
                    <a href="javascript:void(0)"  onclick="detLink('@Url.Action("Letter", new { id = item[i].ID })')">办理记录</a>
                </td>
        </tr>
    }
}
<tr class="hidden"><th id="total">@total</th></tr>
