﻿@model List<Model.t_UpgradeList>
@{
    int total = ViewData.GetInt("total");
    var fileName = "";
    var downFile = "";
}
@if (Model != null && Model.Count > 0)
{
    var item = Model;
    for (int i = 0; i < Model.Count; i++)
    {
        if (item[i].RecordFileName == null)
        {
            var recordType = item[i].RecordType; //== "0 " ? "赴省" : "进京";
            if (recordType == "0 ")
            {
                recordType = "赴省";
            }
            else if (recordType == "1 ")
            {
                recordType = "进京";
            }
            else if (recordType == "3 ")
            {
                recordType = "到市";
            }
            else if (recordType == "4 ")
            {
                recordType = "到县";
            }
            else if (recordType == "5 ")
            {
                recordType = "退役军人事务部";
            }
            else
            {
                recordType = "非访";
            }
            <tr>
                <th class="hidden">@item[i].RecordType</th>
                <th class="hidden">@item[i].AppealTitle</th>
                <td>@item[i].PetitionName</td>
                <td>@item[i].UnitName</td>
                <td>@item[i].CountyName</td>
                <td>@recordType</td>
                <td><p style="width: 130px;" class="textoverflow" title="@item[i].RecordContent">@item[i].RecordContent</p></td>
                <td>@item[i].RecordDate.ToString("yyyy-MM-dd")</td>
                <td class="downLoad">无</td>

                <td>
                    <a href="javascript:void(0)" data-toggle="modal" data-target="#See-Modal" onclick="SeeModalTb(@item[i].CaseInfoID)">查看</a>&nbsp;&nbsp;
                    <a href="javascript:void(0)" data-toggle="modal" data-target="#myModal" onclick="EditModal(@(i + 1),@item[i].ID)">修改</a>&nbsp;&nbsp;
                    <a href="javascript:void(0)" onclick="Del(@item[i].ID)">删除</a>
                </td>
            </tr>
        }
        else
        {
            var recordType = item[i].RecordType;// == "0 " ? "赴省" : "进京";
            var arr = item[i].RecordFileName.Split('_');
            var arrType = arr[arr.Length - 1].Substring(0, arr[arr.Length - 1].Length - 1).Split('.');
            fileName = arr[0].Remove(0, 1) + "." + arrType[1];
            downFile = item[i].RecordFileName.Remove(0, 1);
            downFile = downFile.Substring(0, downFile.Length - 1);
            if (recordType == "0 ")
            {
                recordType = "赴省";
            }
            else if (recordType == "1 ")
            {
                recordType = "进京";
            }
            else if (recordType == "3 ")
            {
                recordType = "到市";
            }
            else if (recordType == "4 ")
            {
                recordType = "到县";
            }
            else if (recordType == "5 ")
            {
                recordType = "退役军人事务部";
            }
            else
            {
                recordType = "非访";
            }
            <tr>
                <th class="hidden">@item[i].RecordType</th>
                <th class="hidden">@item[i].AppealTitle</th>
                <td>@item[i].PetitionName</td>
                <td>@item[i].UnitName</td>
                <td>@item[i].CountyName</td>
                <td>@recordType</td>
                <td><p style="width: 130px;" class="textoverflow" title="@item[i].RecordContent">@item[i].RecordContent</p></td>
                <td>@item[i].RecordDate.ToString("yyyy-MM-dd")</td>
                <td class="downLoad"><a href="~/UploadFile/@downFile" download="@downFile">@fileName</a></td>

                <td>
                    <a href="javascript:void(0)" data-toggle="modal" data-target="#See-Modal" onclick="SeeModalTb(@item[i].CaseInfoID)">查看</a>&nbsp;&nbsp;
                    <a href="javascript:void(0)" data-toggle="modal" data-target="#myModal" onclick="EditModal(@(i + 1),@item[i].ID)">修改</a>&nbsp;&nbsp;
                    <a href="javascript:void(0)" onclick="Del(@item[i].ID)">删除</a>
                </td>
            </tr>
        }

    }


}
<tr class="hidden"><th id="total">@total</th></tr>