﻿@model List<Model.t_Record>
@{
    int total = ViewData.GetInt("total");
    int pageindex = ViewData.GetInt("pageindex");
    int pagesize = ViewData.GetInt("pagesize");
    var fileName = "";
    var downFile = "";
}
@if (Model != null && Model.Count > 0)
{
    var item = Model;
    for (int i = 0; i < Model.Count; i++)
    {
        if (@item[i].RecordFileName == null)
        {
            var recordType = @item[i].RecordType == "0 " ? "赴省" : "进京";
            <tr>
                <th class="hidden">@item[i].t_CaseInfo.AppealNumber</th>
                <th class="hidden">@item[i].RecordContent</th>
                <td>@recordType</td>
                <td>@item[i].RecordDate.Value.ToString("yyyy-MM-dd")</td>
                <td title="@item[i].RecordContent"><p style="width: 100px;" class="textoverflow">@item[i].RecordContent</p></td>
                <td class="downLoad">无</td>
                <td>
                    <a href="javascript:void(0)" data-toggle="modal" data-target="#myModal" onclick="SeeModal(@(i+1))">查看</a>
                </td>
            </tr>
        }
        else
        {
            var recordType = @item[i].RecordType == "0 " ? "赴省" : "进京";
            var arr = @item[i].RecordFileName.Split('_');
            var arrType = arr[arr.Length - 1].Substring(0, arr[arr.Length - 1].Length - 1).Split('.');
            fileName = arr[0].Remove(0, 1) + "." + arrType[1];
            downFile = @item[i].RecordFileName.Remove(0, 1);
            downFile = downFile.Substring(0, downFile.Length - 1);

            <tr>
                <th class="hidden">@item[i].t_CaseInfo.AppealNumber</th>
                <th class="hidden">@item[i].RecordContent</th>
                <td>@recordType</td>
                <td>@item[i].RecordDate.Value.ToString("yyyy-MM-dd")</td>
                <td title="@item[i].RecordContent"><p style="width: 100px;" class="textoverflow">@item[i].RecordContent</p></td>
                <td class="downLoad"><a href="~/UploadFile/@downFile" download="@downFile">@fileName</a></td>
                <td>
                    <a href="javascript:void(0)" data-toggle="modal" data-target="#myModal" onclick="SeeModal(@(i+1))">查看</a>
                </td>
            </tr>
        }

    }


}
<tr class="hidden"><th id="total">@total</th></tr>