﻿@model List<Model.t_UpgradeList>
@{
    int total = ViewData.GetInt("total");
}
@if (Model != null && Model.Count > 0)
{
    var item = Model;
    for (int i = 0; i < Model.Count; i++)
    {
        <tr>
            <td>@item[i].PetitionName</td>
            <td>@item[i].UnitName</td>
            <td>@item[i].CountyName</td>
            <td>@item[i].CountID</td>
            <td>
                <a href="javascript:void(0)" onclick="detLink('@Url.Action("UpgradeList", new { id = item[i].CaseInfoID})')">进京/赴省记录</a>
            </td>
        </tr>

    }


}
<tr class="hidden"><th id="total">@total</th></tr>
