﻿@using Model
@model UserModel
@{
    int total = ViewData.GetInt("total");
    int pageindex = ViewData.GetInt("pageindex");
    int pagesize = ViewData.GetInt("pagesize");
    int userArea = ViewData.GetInt("userArea");
    int userUnit = ViewData.GetInt("userUnit");
}

    @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal form-label-left", @Id = "userdemoForm" }))
    {
        <div class="modal-body">
            <div class="row-fluid">
                <div class="form-group hidden ">
                    <div class="span4">
                        <label for="ID" class="modal-label">ID</label>
                    </div>
                    <div class="span6">
                        @Html.TextBoxFor(n => n.UserId, new { @Id = "userID", @class = "span12" })
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="form-group">
                    <div class="span4">
                        <label for="lName" class="modal-label"><span class="required">*</span>用户名</label>
                    </div>
                    <div class="span6">
                        @Html.TextBoxFor(n => n.LoginName, new { @Id = "userlName", @class = "span12 form-control", @placeholder = "请输入用户名", disabled = "disabled" })
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="form-group">
                    <div class="span4">
                        <label for="uName" class="modal-label"><span class="required">*</span>姓名</label>
                    </div>
                    <div class="span6">
                        @Html.TextBoxFor(n => n.UserName, new { @Id = "useruName", @class = "span12 form-control", @required = "required", @placeholder = "请输入姓名" })
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="form-group">
                    <div class="span4">
                        <label for="Postion" class="modal-label">职务</label>
                    </div>
                    <div class="span6">
                        @Html.TextBoxFor(n => n.UserPosition, new { @Id = "userPostion", @class = "span12 form-control", @placeholder = "请输入职务" })
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="form-group">
                    <div class="span4">
                        <label for="lName" class="modal-label">联系方式</label>
                    </div>
                    <div class="span6">
                        @Html.TextBoxFor(n => n.UserPhone, new { @Id = "userUserPhone", @class = "span12 form-control",  @placeholder = "请输入联系方式" })
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="form-group">
                    <div class="span4">
                        <label class="modal-label"><span class="required">*</span>密码</label>
                    </div>
                    <div class="span6">
                        <input id="userpassword1" required="required" minlength="6" type="password" class="span12" autocomplete="off" placeholder="请输入密码" value="@Model.UserPassword" />
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="form-group">
                    <div class="span4">
                        <label class="modal-label"><span class="required">*</span>确认密码</label>
                    </div>
                    <div class="span6">
                        @Html.TextBoxFor(n => n.UserPassword, new { @Id = "userPassword", @class = "span12", @type = "password",@autocomplete = "off", @required = "required", @placeholder = "请再次输入密码" })
                    </div>
                </div>
            </div>
            @*@if (Session["CurrentUser"] != null)
                {
                    var currentUser = Session["CurrentUser"] as Model.t_User;
                    if (!currentUser.UserRoleList.Contains("1"))
                    {
                        <div class="row-fluid">
                            <div class="form-group">
                                <div class="span4">
                                    <label for="Area" class="modal-label">所属片区</label>
                                </div>
                                <div class="span6">
                                    @Html.DropDownListFor(n => n.UserArea, ViewData["userAreaList"] as SelectList, "请选择所属片区", new { @Id = "Area", @class = "span12 form-control", @onChange = "AorU()", @value = "@userArea" })
                                    <input type='text' class="hidden" id="AreaYZ" data-parsley-checkdelaytime data-parsley-checkdelaytime-message="片区/责任单位至少选择一项" />
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="form-group">
                                <div class="span4">
                                    <label for="Unit" class="modal-label">责任单位</label>
                                </div>
                                <div class="span6">
                                    @Html.DropDownListFor(n => n.UserUnit, ViewData["userUnitList"] as SelectList, "请选择责任单位", new { @Id = "Unit", @class = "span12 form-control", @onChange = "AorU()", @value = "@userUnit" })
                                    <input type='text' class="hidden" id="UnitYZ" data-parsley-checkunit data-parsley-checkunit-message="片区/责任单位至少选择一项" />
                                </div>
                            </div>
                        </div>
                    }
                }*@
        </div>
        <div class="modal-footer">
            <input id="status" class="hidden" />
            <button class="btn btn-primary" onclick="return SubmitBtnEdit()">保存</button>
            <button type="button" class="btn btn-gray" data-dismiss="modal">关闭</button>
        </div>
    }

    <script>
        $(function () {
            $("#userPassword").attr({ 'data-parsley-equalto': "#userpassword1" });

        })
        function SubmitBtnEdit() {
            if ($('#userdemoForm').parsley().isValid()) {
                $.ajax({
                    cache: true,
                    type: "POST",
                    url: "@Url.Action("UserDetailInfoEdit", "UserDetail")",
                    data: $('#userdemoForm').serialize(),// 你的formid
                    async: false,
                    error: function (request) {
                        alert("Connection error");
                    },
                    success: function (data) {
                        $("#myModalUser").modal("hide");
                        alertModal('提示！', data.Message);

                    }
                });
                return false;
            }
        }
    </script>



