﻿@model List<Model.t_UserCountyUnit>
@{
    int total = ViewData.GetInt("total");
    int pageindex = ViewData.GetInt("pageindex");
    int pagesize = ViewData.GetInt("pagesize");
}

@if (Model != null && Model.Count > 0)
{
    var item = Model;
    for (int i = 0; i < Model.Count; i++)
    {
        var role = @item[i].UserRole == null ? "0" : @item[i].UserRole;
        var rowindex = ((@pageindex - 1) * @pagesize + i + 1);
        @role = @role.Contains("2") ? "县信访局" : @item[i].UnitName;

        <tr>
            <th class="hidden">@item[i].UserId</th>
            <th class="hidden">@item[i].UserPassword</th>
            <th class="hidden">@item[i].CountyId</th>
            <th class="hidden">@item[i].TableId</th>
            <th>@rowindex</th>
            <td>@item[i].LoginName</td>
            <td>@item[i].UserName</td>
            <td>@item[i].UserPosition</td>
            <td>@item[i].UserPhone</td>
            <td>@role</td>
            <td>@item[i].CountyName</td>
            <td>
                <a href="javascript:void(0)" data-toggle="modal" data-target="#myModal" onclick="SeeModal(@(i+1))">查看</a>&nbsp;&nbsp;
                <a href="javascript:void(0)" data-toggle="modal" data-target="#myModal" onclick="EditModal(@(i+1))">修改</a>&nbsp;&nbsp;
                <a href="javascript:void(0)" onclick="ResetModal(@item[i].UserId)">密码重置</a>&nbsp;&nbsp;
                <a href="javascript:void(0)" onclick="Del(@item[i].UserId)">删除</a>
            </td>
        </tr>
    }

}

<tr class="hidden"><th id="total">@total</th></tr>
