﻿@model List<Model.PackageCaseInfoModel>
@{
    int total = ViewData.GetInt("total");
    int pageindex = ViewData.GetInt("pageindex");
    int pagesize = ViewData.GetInt("pagesize");
}

<div class="tabbable">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">案件基本信息</a><>
        <li><a href="#tab2" data-toggle="tab">党政领导接访信息</a><>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab1">
            <p> 1.</p>
        </div>
        <div class="tab-pane" id="tab2">
            <p>2.</p>
        </div>
    </div>
</div>

<tr class="hidden"><th id="total">@total</th></tr>